language: node_js
dist: xenial
cache:
  directories:
  - node_modules
before_install:
- sudo apt-get update
- sudo apt-get install -y yamllint
install:
- npm install
node_js:
- 11
branches:
  only:
  - "@cbetta/refactor"
before_deploy: npm run build
deploy:
- provider: pages
  local-dir: build
  github-token: "$GITHUB_TOKEN"
  skip-cleanup: true
  keep-history: true
  on:
    branch: "@cbetta/refactor"
    node: 11
notifications:
  slack:
    secure: qL7xIhOX29mbZLamI1YNzX7Vb+/o6/fJujp2Eu0lzl4ogjY8uBekkMNcqDIRKpbsO11ff8X+quQPHua0QgyHZ9WzhKODzhT4Lvk4SaQ2Y3TTkJhrRFgP6SaItkNOj8wF6yc4XFOiRmoY5wGZPi0lsmqcjDHFRBOVnBYzX1UauCLXbSn9iQI3NE/zCpP2Eh92W87lavDyeMQj6ui9QyOXUa7QlaEayQfZNAsxEeXDRxKLEFpl6Ankv9FgoTCovAJaAUM0iTpXkLreb6AkWmYMDcUnrHim/+Dtep9LitxPz8dCw0B/jFpJ+UnKisa+X8JG3k66qWm0l+iDS5mDxheHqJIbDuxJO9TiMdiEitmdyppBrcYweJf6FP/uwwUIqodZ7aij5JDh8kpa0qsiCS7+i3bx9QuGdapMdcMYzztHYWK8BIiXOASMdjvbqAMqrczkQljHuNgjdgG8c1R7mhHD89Eb9ABJbMD8n/B8fi1856SG6RZYW4TbvOoPvTTFd9frm6WQeIpUde+9G4H+cnB9o5zVtWzviDPHAMmw/0R9vaGopCX2Z+UCfwtpSBwsDaMDKR6CXzpZurKEivFPbM30duyg3e6a5yMwgrzTzH8mA6XbhkE1AUU9fzjLNgc0KxZYg6tHMOYsnqICed3iDV+VFiOcUqXR3KXv4FDQfn36OI4=
