{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "common/description.md",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://box.dev",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2025.0",
        "x-box-commit-hash": "27a1ebc2ec"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー"
        }
    ],
    "paths": {
        "/docgen_templates": {
            "post": {
                "operationId": "post_docgen_templates_v2025.0",
                "summary": "Box Doc Genテンプレートを作成",
                "description": "ファイルをBox Doc Genテンプレートとして設定します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "description": "Marks the provided file as a Box Doc Gen template.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenTemplateCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "現在Box Doc Genテンプレートとして設定されているファイル。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate--Base"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_v2025.0",
                "summary": "Box Doc Genテンプレートのリストを取得",
                "description": "ユーザーがコラボレータになっているBox Doc Genテンプレートのリストを取得します。",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "テンプレートのコレクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_templates/{template_id}": {
            "delete": {
                "operationId": "delete_docgen_templates_id_v2025.0",
                "summary": "Box Doc Genテンプレートを削除",
                "description": "ファイルのBox Doc Genテンプレートの設定を解除します",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Box Doc Genテンプレートの設定が解除されるファイルのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "ファイルのBox Doc Genテンプレートの設定が解除された場合に空のレスポンスを返します。"
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_id_v2025.0",
                "summary": "IDを指定してBox Doc Genテンプレートを取得",
                "description": "特定のBox Doc Genテンプレートの詳細のリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Box Doc GenテンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "テンプレートを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_templates/{template_id}/tags": {
            "get": {
                "operationId": "get_docgen_templates_id_tags_v2025.0",
                "summary": "テンプレート内のすべてのBox Doc Genテンプレートタグのリストを取得",
                "description": "Box Doc Genテンプレート内のすべてのタグのリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "テンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "template_version_id",
                        "in": "query",
                        "description": "テンプレートバージョンのID。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ドキュメント生成テンプレートタグのリスト。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTags"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "ファイルのタグを処理しています。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTagsProcessingMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "リクエストされたリソースは見つかりませんが、将来使用できる可能性があります。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_jobs/{job_id}": {
            "get": {
                "operationId": "get_docgen_jobs_id_v2025.0",
                "summary": "IDを指定してBox Doc Genジョブを取得",
                "description": "Box Doc Genジョブの詳細を取得します。",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "Box Doc GenジョブのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genジョブの詳細。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJob"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ジョブが見つからない場合、または関連付けられたジョブへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_jobs": {
            "get": {
                "operationId": "get_docgen_jobs_v2025.0",
                "summary": "すべてのBox Doc Genジョブのリストを取得",
                "description": "1人のユーザーのすべてのBox Doc Genジョブのリストを取得します。",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genジョブのリスト。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs--Full"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_template_jobs/{template_id}": {
            "get": {
                "operationId": "get_docgen_template_jobs_id_v2025.0",
                "summary": "テンプレートのすべてのBox Doc Genジョブのリストを取得",
                "description": "このテンプレートを使用するユーザーのジョブのリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "ジョブの取得対象となるテンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1つのBox Doc Genテンプレート。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_batch_jobs/{batch_id}": {
            "get": {
                "operationId": "get_docgen_batch_jobs_id_v2025.0",
                "summary": "バッチIDを指定してBox Doc Genジョブを取得",
                "description": "バッチ内のBox Doc Genジョブのリストを取得します",
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "description": "Box Doc GenのバッチID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genのバッチ内のBox Doc Genジョブのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "バッチが見つからない場合、または関連付けられたバッチへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_batches": {
            "post": {
                "operationId": "post_docgen_batches_v2025.0",
                "summary": "Box Doc Genテンプレートを使用してドキュメントを生成",
                "description": "Box Doc Genテンプレートを使用してドキュメントを生成します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenBatchCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "作成されたバッチID。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenBatch--Base"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "BoxVersionHeader": {
                "name": "box-version",
                "in": "header",
                "description": "Version header",
                "allowEmptyValue": false,
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "2025.0"
                    ]
                },
                "example": "2025.0"
            }
        },
        "schemas": {
            "ClientError": {
                "description": "一般的なエラー",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "エラー",
                        "type": "string",
                        "example": "error",
                        "enum": [
                            "error"
                        ],
                        "nullable": false
                    },
                    "status": {
                        "description": "レスポンスのHTTPステータス。",
                        "type": "integer",
                        "format": "int32",
                        "example": 400,
                        "nullable": false
                    },
                    "code": {
                        "description": "Box固有のエラーコード",
                        "type": "string",
                        "example": "item_name_invalid",
                        "enum": [
                            "created",
                            "accepted",
                            "no_content",
                            "redirect",
                            "not_modified",
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "method_not_allowed",
                            "conflict",
                            "precondition_failed",
                            "too_many_requests",
                            "internal_server_error",
                            "unavailable",
                            "item_name_invalid",
                            "insufficient_scope"
                        ]
                    },
                    "message": {
                        "description": "エラーについての短い説明メッセージ。",
                        "type": "string",
                        "example": "Method Not Allowed",
                        "nullable": false
                    },
                    "context_info": {
                        "description": "このエラーに関する追加コンテキストを含む自由形式のオブジェクト。使用できるフィールドは、エンドポイントごとに定義されています。`message`は唯一の例です。",
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "message": {
                                "description": "エラーの詳細。",
                                "type": "string",
                                "example": "Something went wrong."
                            }
                        }
                    },
                    "help_url": {
                        "description": "このエラーの原因に関する詳細情報にリンクされたURL。",
                        "type": "string",
                        "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
                        "nullable": false
                    },
                    "request_id": {
                        "description": "Boxサポートに連絡するときに使用できる、このレスポンスの一意の識別子。",
                        "type": "string",
                        "example": "abcdef123456",
                        "nullable": false
                    }
                },
                "title": "クライアントエラー",
                "x-box-resource-id": "client_error_v2025.0"
            },
            "DocGenBatch--Base": {
                "description": "Box Doc GenバッチオブジェクトのBase版の表示。Box Doc Genのバッチには、1つ以上のBox Doc Genジョブが含まれています。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Box Doc Genのバッチを表す一意の識別子。",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`docgen_batch`",
                        "type": "string",
                        "example": "docgen_batch",
                        "enum": [
                            "docgen_batch"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Box Doc Genのバッチ (Base)",
                "x-box-resource-id": "docgen_batch_v2025.0--base",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base"
                ]
            },
            "DocGenBatchCreateRequest": {
                "description": "Box Doc Genジョブのバッチリクエストを作成するためのスキーマ。",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "ドキュメントの生成に使用されるBox Doc Genテンプレート。"
                            }
                        ]
                    },
                    "file_version": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileVersion--Base"
                            },
                            {
                                "description": "テンプレートのファイルバージョン。"
                            }
                        ]
                    },
                    "input_source": {
                        "description": "入力のソース。この値は、APIベースのすべてのドキュメント生成リクエストで`api`にする必要があります。",
                        "type": "string",
                        "example": "api"
                    },
                    "destination_folder": {
                        "allOf": [
                            {
                                "title": "フォルダの参照",
                                "type": "object",
                                "description": "フォルダの参照",
                                "required": [
                                    "type",
                                    "id"
                                ],
                                "properties": {
                                    "type": {
                                        "description": "`folder`",
                                        "type": "string",
                                        "example": "folder",
                                        "enum": [
                                            "folder"
                                        ],
                                        "nullable": false
                                    },
                                    "id": {
                                        "description": "フォルダのID",
                                        "type": "string",
                                        "example": "42037322"
                                    }
                                }
                            },
                            {
                                "description": "生成されたファイルの保存先フォルダ。"
                            }
                        ]
                    },
                    "output_type": {
                        "description": "出力ファイルの種類。",
                        "type": "string",
                        "example": "docx"
                    },
                    "document_generation_data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocGenDocumentGenerationData"
                        }
                    }
                },
                "required": [
                    "file",
                    "input_source",
                    "destination_folder",
                    "output_type",
                    "document_generation_data"
                ],
                "title": "バッチリクエストを作成"
            },
            "DocGenDocumentGenerationData": {
                "description": "Box Doc Genジョブのリクエストを作成するためのスキーマ。",
                "type": "object",
                "properties": {
                    "generated_file_name": {
                        "description": "出力ファイルのファイル名。",
                        "type": "string",
                        "example": "New_Template"
                    },
                    "user_input": {
                        "type": "object",
                        "example": {
                            "name": "Aaron Levie"
                        }
                    }
                },
                "required": [
                    "generated_file_name",
                    "user_input"
                ],
                "title": "ドキュメント生成データ"
            },
            "DocGenJob": {
                "description": "Box Doc GenジョブのStandard版の表示。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenJob--Base"
                    },
                    {
                        "properties": {
                            "batch": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DocGenBatch--Base"
                                    },
                                    {
                                        "description": "ジョブが属しているBox Doc Genのバッチ。"
                                    }
                                ]
                            },
                            "template_file": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/FileReference"
                                    },
                                    {
                                        "description": "ジョブで使用されたBox Doc Genテンプレート。"
                                    }
                                ]
                            },
                            "template_file_version": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/FileVersion--Base"
                                    },
                                    {
                                        "description": "テンプレートのファイルバージョン。"
                                    }
                                ]
                            },
                            "output_file": {
                                "allOf": [
                                    {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/FileReference"
                                            },
                                            {
                                                "title": "OpenAPI 3.0 null schema type",
                                                "description": "The definition for a null schema type in OpenAPI 3.0",
                                                "type": "object",
                                                "nullable": true,
                                                "additionalProperties": false
                                            }
                                        ]
                                    },
                                    {
                                        "description": "ジョブの出力ファイル。このプロパティは、ジョブが完了するまで`null`となります。"
                                    }
                                ]
                            },
                            "output_file_version": {
                                "allOf": [
                                    {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/FileVersion--Base"
                                            },
                                            {
                                                "title": "OpenAPI 3.0 null schema type",
                                                "description": "The definition for a null schema type in OpenAPI 3.0",
                                                "type": "object",
                                                "nullable": true,
                                                "additionalProperties": false
                                            }
                                        ]
                                    },
                                    {
                                        "description": "出力ファイルのファイルバージョン。このプロパティは、ジョブが完了するまで`null`となります。"
                                    }
                                ]
                            },
                            "status": {
                                "description": "ジョブのステータス。",
                                "type": "string",
                                "example": "completed",
                                "enum": [
                                    "submitted",
                                    "completed",
                                    "failed",
                                    "completed_with_error",
                                    "pending"
                                ]
                            },
                            "output_type": {
                                "description": "生成されたファイルの種類。",
                                "type": "string",
                                "example": "docx"
                            }
                        }
                    }
                ],
                "required": [
                    "id",
                    "batch",
                    "template_file",
                    "template_file_version",
                    "status",
                    "output_type"
                ],
                "title": "Box Doc Genジョブ",
                "x-box-resource-id": "docgen_job_v2025.0",
                "x-box-tag": "docgen",
                "x-box-variant": "standard",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJob--Base": {
                "description": "Box Doc GenジョブのBase版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Box Doc Genジョブを表す一意の識別子。",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`docgen_job`",
                        "type": "string",
                        "example": "docgen_job",
                        "enum": [
                            "docgen_job"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Box Doc Genジョブ (Base)",
                "x-box-resource-id": "docgen_job_v2025.0--base",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJob--Full": {
                "description": "Box Doc GenジョブのFull版の表示。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenJob"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "ジョブの作成時刻。",
                                "type": "string",
                                "example": "2022-05-11T10:56:11-07:00",
                                "readOnly": true
                            },
                            "created_by": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/User--Base"
                                    },
                                    {
                                        "description": "ジョブを作成したユーザー。"
                                    }
                                ]
                            },
                            "enterprise": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/EnterpriseReference"
                                    },
                                    {
                                        "description": "企業のID。"
                                    }
                                ]
                            },
                            "source": {
                                "description": "リクエストのソース。",
                                "type": "string",
                                "example": "api",
                                "readOnly": true
                            }
                        }
                    }
                ],
                "required": [
                    "id",
                    "batch",
                    "created_by",
                    "enterprise",
                    "template_file",
                    "template_file_version",
                    "output_type",
                    "source",
                    "status"
                ],
                "title": "Box Doc Genジョブ (Full)",
                "x-box-resource-id": "docgen_job_v2025.0--full",
                "x-box-tag": "docgen",
                "x-box-variant": "full",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJobs": {
                "description": "標準のパラメータのセットを含むBox Doc Genジョブのリスト。",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "ジョブのリスト。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenJob"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Genジョブ",
                "x-box-resource-id": "docgen_jobs_v2025.0",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "standard",
                    "full"
                ]
            },
            "DocGenJobs--Full": {
                "description": "すべてのパラメータを含むBox Doc Genジョブのリスト。",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "ジョブのリスト。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenJob--Full"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Genジョブ (Full)",
                "x-box-resource-id": "docgen_jobs_v2025.0--full",
                "x-box-tag": "docgen",
                "x-box-variant": "full",
                "x-box-variants": [
                    "standard",
                    "full"
                ]
            },
            "DocGenTag": {
                "description": "Box Doc Genテンプレートタグオブジェクト。",
                "type": "object",
                "properties": {
                    "tag_content": {
                        "description": "タグの内容。",
                        "type": "string",
                        "example": "{{item.name}}",
                        "readOnly": true
                    },
                    "tag_type": {
                        "description": "タグの種類。",
                        "type": "string",
                        "example": "text",
                        "enum": [
                            "text",
                            "arithmetic",
                            "conditional",
                            "for-loop",
                            "table-loop",
                            "image"
                        ],
                        "readOnly": true
                    },
                    "json_paths": {
                        "description": "パスのリスト。",
                        "type": "array",
                        "items": {
                            "readOnly": true,
                            "type": "string",
                            "example": "products.name"
                        },
                        "example": [
                            "products",
                            "products.name"
                        ],
                        "readOnly": true
                    }
                },
                "required": [
                    "tag_content",
                    "tag_type",
                    "json_paths"
                ],
                "title": "Box Doc Genテンプレートタグ",
                "x-box-resource-id": "docgen_tag_v2025.0",
                "x-box-sanitized": true,
                "x-box-tag": "docgen_template"
            },
            "DocGenTags": {
                "description": "Box Doc Genタグのリスト。",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "タグのリスト。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenTag"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Genタグ",
                "x-box-resource-id": "docgen_tags_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "DocGenTagsProcessingMessage": {
                "description": "ドキュメントのタグがまだ処理中であることをユーザーに通知するメッセージ。",
                "type": "object",
                "properties": {
                    "message": {
                        "description": "ドキュメントのタグがまだ処理中であることをユーザーに通知するメッセージ。",
                        "type": "string",
                        "example": "Processing tags for this file.",
                        "readOnly": true
                    }
                },
                "required": [
                    "message"
                ],
                "title": "Box Doc Genタグの処理メッセージ",
                "x-box-resource-id": "docgen_tags_processing_message_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "DocGenTemplate": {
                "description": "Box Doc Genテンプレートオブジェクト。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenTemplate--Base"
                    },
                    {
                        "properties": {
                            "file_name": {
                                "description": "テンプレートの名前",
                                "type": "string",
                                "example": "Official contract",
                                "nullable": true
                            }
                        }
                    }
                ],
                "title": "Box Doc Genテンプレート",
                "x-box-resource-id": "docgen_template_v2025.0",
                "x-box-tag": "docgen_template",
                "x-box-variant": "standard",
                "x-box-variants": [
                    "base",
                    "standard"
                ]
            },
            "DocGenTemplate--Base": {
                "description": "他のリソース内にネストされたときに使用されるBox Doc GenテンプレートのBase版の表示。",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "ドキュメントの生成元となるファイルを有効にします。"
                            }
                        ]
                    }
                },
                "title": "Box Doc Genテンプレート (Base)",
                "x-box-resource-id": "docgen_template_v2025.0--base",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base",
                    "standard"
                ]
            },
            "DocGenTemplateCreateRequest": {
                "description": "ドキュメントをBox Doc Genテンプレートとして設定するためのスキーマ。",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "ドキュメントを生成するためのBox Doc Genテンプレートとしてファイルを設定します。"
                            }
                        ]
                    }
                },
                "required": [
                    "file"
                ],
                "title": "ファイルをBox Doc Genテンプレートとして設定"
            },
            "DocGenTemplates": {
                "description": "Box Doc Genテンプレートのリスト。",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "テンプレートのリスト。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenTemplate"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Genテンプレート",
                "x-box-resource-id": "docgen_templates_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "EnterpriseReference": {
                "description": "他のリソース内にネストされたときに使用される企業への参照。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "この企業の一意の識別子",
                        "type": "string",
                        "example": "1910967"
                    },
                    "type": {
                        "description": "`enterprise`",
                        "type": "string",
                        "example": "enterprise",
                        "enum": [
                            "enterprise"
                        ],
                        "nullable": false
                    }
                },
                "title": "企業の参照"
            },
            "FileReference": {
                "description": "ファイルの参照",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "`file`",
                        "type": "string",
                        "example": "file",
                        "enum": [
                            "file"
                        ],
                        "nullable": false
                    },
                    "id": {
                        "description": "オブジェクトのID",
                        "type": "string",
                        "example": "42037322",
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ファイルの参照"
            },
            "FileVersion--Base": {
                "description": "最も基本的なファイルバージョンのBase版の表示。`fields`クエリパラメータを使用すると、最小限の数のフィールドが返されます。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "ファイルバージョンを表す一意の識別子。",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`file_version`",
                        "type": "string",
                        "example": "file_version",
                        "enum": [
                            "file_version"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "ファイルバージョン (Base)"
            },
            "User--Base": {
                "description": "他のリソース内にネストされたときに使用されるユーザーのMini版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "このユーザーの一意の識別子",
                        "type": "string",
                        "example": "11446498"
                    },
                    "type": {
                        "description": "user",
                        "type": "string",
                        "example": "user",
                        "enum": [
                            "user"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ユーザー (Base)"
            }
        },
        "securitySchemes": {
            "OAuth2Security": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
                        "tokenUrl": "https://api.box.com/oauth2/token",
                        "scopes": {
                            "root_readonly": "Boxに格納されているすべてのファイルとフォルダの読み取り",
                            "root_readwrite": "Boxに格納されているすべてのファイルとフォルダの読み取りと書き込み",
                            "manage_app_users": "App Userのプロビジョニングと管理",
                            "manage_managed_users": "管理対象ユーザーのプロビジョニングと管理",
                            "manage_groups": "企業のグループの管理",
                            "manage_webhook": "APIを使用したプログラムによるWebhookの作成",
                            "manage_enterprise_properties": "Enterpriseのプロパティを管理",
                            "manage_data_retention": "データリテンションポリシーの管理",
                            "manage_legal_hold": "リーガルホールドの管理"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "OAuth2Security": []
        }
    ],
    "tags": [
        {
            "name": "Box Doc Gen",
            "description": "Doc Gen is used to automatically generate documents.",
            "x-box-tag": "docgen"
        },
        {
            "name": "Box Doc Genテンプレート",
            "description": "Doc Gen templates are used as input to generate documents.",
            "x-box-tag": "docgen_template"
        }
    ],
    "externalDocs": {
        "description": "Box Developerドキュメント",
        "url": "https://developer.box.com"
    }
}
