{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform API",
    "description": "[Box Platform](https://developer.box.com/ja)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権限を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box, Inc",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2024.0",
    "x-box-commit-hash": "3d705a6550"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform APIサーバー。"
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize",
        "summary": "ユーザーを承認",
        "description": "ユーザーを[Box](https://box.com)ウェブサイトにリダイレクトして承認し、ユーザーに代わって操作を実行する権限をリクエストします。\n\nこれは、OAuth 2.0を使用してユーザーを承認する際の最初の手順です。Box APIをユーザーに代わって使用することについて、ユーザーに承認してもらうようリクエストするには、この形式を使用してユーザーを所定のURLにリダイレクトする必要があります。",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "description": "受信するレスポンスのタイプ。",
            "required": true,
            "schema": {
              "type": "string",
              "format": "token",
              "enum": [
                "code"
              ]
            },
            "example": "code"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "ユーザーの認証をリクエストしているアプリケーションのクライアントID。アプリケーションのクライアントIDを取得するには、Box開発者コンソールにログインして、該当するアプリケーションの \\[**アプリケーションの編集**] リンクをクリックします。\\[構成] ページの \\[OAuth2パラメータ] セクションで、`client_id`というラベルの付いた項目を探します。その項目のテキストが、アプリケーションのクライアントIDです。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "ユーザーがアプリケーションの権限を許可または拒否した後にブラウザがリダイレクトされるURI。このURIは、アプリケーションの構成に含まれるリダイレクトURIのいずれかと一致します。このURIは有効なHTTPS URIでなければならず、OAuth 2.0フローの次の手順を完了するには、リダイレクトを処理できる状態になっている必要があります。このパラメータは省略可能ですが、開発者コンソールでアプリケーション用にリダイレクトURIを複数設定した場合は、承認URLに含める必要があります。パラメータが指定されていないと、ユーザーがアプリケーションにアクセス権限を付与した後に`redirect_uri_missing`エラーが発生します。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "url"
            },
            "example": "http://example.com/auth/callback"
          },
          {
            "name": "state",
            "in": "query",
            "description": "任意のカスタム文字列。認証が完了すると、同じ文字列がBoxからリダイレクトURLに渡されます。このパラメータを使用するとリダイレクト時にユーザーを識別できるだけでなく、ハイジャックされたセッションやその他の悪用を防止できます。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "my_state"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "ユーザーを認証するアプリケーションスコープのスペース区切りのリスト。デフォルトでは、\\[構成] ページでアプリケーションに対して構成されているすべてのスコープになります。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "admin_readwrite"
          }
        ],
        "responses": {
          "200": {
            "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          },
          "default": {
            "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2",
            "description": "クライアント側認証に使用するサーバー。"
          }
        ],
        "tags": [
          "承認"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ユーザーを承認",
            "source": "curl -i -X GET \"https://account.box.com/api/oauth2/authorize?response_type=code&client_id=ly1nj6n11vionaie65emwzk575hnnmrk&redirect_uri=http://example.com/auth/callback\""
          },
          {
            "lang": "dotnet",
            "label": "ユーザーを承認",
            "source": "using Box.Sdk.Gen;\n\nvar config = new OAuthConfig(clientId: \"YOUR_CLIENT_ID\", clientSecret: \"YOUR_CLIENT_SECRET\");\nvar auth = new BoxOAuth(config: config);\n\n// the URL to redirect the user to\nvar authorizeUrl = auth.GetAuthorizeUrl();"
          },
          {
            "lang": "swift",
            "label": "ユーザーを承認",
            "source": "do {\n    // Initialize configuration with required clientId and clientSecret\n    let config = OAuthConfig(clientId: \"<<YOUR CLIENT ID HERE>>\", clientSecret: \"<<YOUR CLIENT SECRET HERE>>\")\n    // Initialize BoxOAuth with configuration\n    let oauth = BoxOAuth(config: config)\n    // Run login flow which opens a secure web view,\n    // where users enter their login credentials to obtain an authorization code,\n    // which is then exchanged for an access token.\n    try await oauth.runLoginFlow(options: .init(), context: self)\n    // Initialize BoxClient with already authorized OAuth\n    let client = BoxClient(auth: oauth)\n\n    // Use client to make API calls\n    let folder = try await client.folders.getFolderById(folderId: \"<<YOUR_FOLDER_ID>>\")\n} catch {\n    print(\"An error occurred: \\(error)\")\n}"
          },
          {
            "lang": "java",
            "label": "ユーザーを承認",
            "source": "BoxOAuth oauth = new OAuthConfig(\"CLIENT_ID\", \"CLIENT_SECRET\");\nString authorizationUrl = auoauthth.getAuthorizeUrl();"
          },
          {
            "lang": "node",
            "label": "ユーザーを承認",
            "source": "import { BoxOAuth, OAuthConfig } from 'box-node-sdk/box';\n\nconst config = new OAuthConfig({\n  clientId: 'OAUTH_CLIENT_ID',\n  clientSecret: 'OAUTH_CLIENT_SECRET',\n});\nconst oauth = new BoxOAuth({ config: config });\n\n// the URL to redirect the user to\nvar authorize_url = oauth.getAuthorizeUrl();"
          },
          {
            "lang": "python",
            "label": "ユーザーを承認",
            "source": "from box_sdk_gen import BoxOAuth, OAuthConfig\n\nauth = BoxOAuth(\n    OAuthConfig(client_id=\"YOUR_CLIENT_ID\", client_secret=\"YOUR_CLIENT_SECRET\")\n)\nauth_url = auth.get_authorize_url()"
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "アクセストークンをリクエスト",
        "description": "クライアント側で取得したOAuth 2.0認証コードまたはサーバー側のJWTアサーションを使用してアクセストークンをリクエストします。\n\nアクセストークンとは、リクエストが認証済みセッションに属していることをBoxで検証するための文字列です。通常の手順では、最初にユーザーが[承認](https://developer.box.com/ja/reference/get-authorize)エンドポイントに対して認証をリクエストした後で、Boxが認証コードを送信します。\n\nユーザーはこのエンドポイントに認証コードを送信してアクセストークンと交換します。返されたアクセストークンは、Box APIコールを行うときに使用できます。",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Token"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`Authorization: Bearer <Token>`のように承認ヘッダー内でトークンを渡すことによって認証済みのAPIコールを行うために使用できる新しいアクセストークンを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "サーバー側認証に使用するサーバー。"
          }
        ],
        "tags": [
          "承認"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アクセストークンをリクエスト",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/token\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"code=[CODE]\" \\\n     -d \"grant_type=authorization_code\""
          },
          {
            "lang": "dotnet",
            "label": "アクセストークンをリクエスト",
            "source": "await auth.RetrieveTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "アクセストークンをリクエスト",
            "source": "try await auth.retrieveToken();"
          },
          {
            "lang": "java",
            "label": "アクセストークンをリクエスト",
            "source": "auth.retrieveToken();"
          },
          {
            "lang": "node",
            "label": "アクセストークンをリクエスト",
            "source": "await auth.retrieveToken();"
          },
          {
            "lang": "python",
            "label": "アクセストークンをリクエスト",
            "source": "auth.retrieve_token()"
          }
        ]
      }
    },
    "/oauth2/token#refresh": {
      "post": {
        "operationId": "post_oauth2_token#refresh",
        "summary": "アクセストークンを更新",
        "description": "クライアントID、シークレット、更新トークンを使用してアクセストークンを更新します。",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Token--RefreshAccessToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`Authorization: Bearer <Token>`のように承認ヘッダー内でトークンを渡すことによって認証済みのAPIコールを行うために使用できる新しいアクセストークンを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "サーバー側認証に使用するサーバー。"
          }
        ],
        "tags": [
          "承認"
        ],
        "x-box-is-variation": true,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アクセストークンを更新",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/token\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"refresh_token=[REFRESH_TOKEN]\" \\\n     -d \"grant_type=refresh_token\""
          },
          {
            "lang": "dotnet",
            "label": "アクセストークンを更新",
            "source": "await auth.RefreshTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "アクセストークンを更新",
            "source": "try await auth.refreshToken();"
          },
          {
            "lang": "java",
            "label": "アクセストークンを更新",
            "source": "auth.refreshToken();"
          },
          {
            "lang": "node",
            "label": "アクセストークンを更新",
            "source": "await auth.refreshToken();"
          },
          {
            "lang": "python",
            "label": "アクセストークンを更新",
            "source": "auth.refresh_token()"
          }
        ]
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke",
        "summary": "アクセストークンを取り消し",
        "description": "アクティブなアクセストークンを無効にします。これにより、認証されていたユーザーはログアウトされます。",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Revoke"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "トークンが正常に無効化された場合は、空のレスポンスを返します。"
          },
          "400": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "認証エラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "サーバー側認証に使用するサーバー。"
          }
        ],
        "tags": [
          "承認"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アクセストークンを取り消し",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/revoke\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"token=[ACCESS_TOKEN]\""
          },
          {
            "lang": "dotnet",
            "label": "アクセストークンを取り消し",
            "source": "await auth.RevokeTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "アクセストークンを取り消し",
            "source": "try await auth.revokeToken()"
          },
          {
            "lang": "java",
            "label": "アクセストークンを取り消し",
            "source": "auth.revokeToken();\n// client's tokens have been revoked"
          },
          {
            "lang": "node",
            "label": "アクセストークンを取り消し",
            "source": "await auth.revokeTokens();\n// client's tokens have been revoked"
          },
          {
            "lang": "python",
            "label": "アクセストークンを取り消し",
            "source": "client.auth.revoke_token()"
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id",
        "summary": "ファイル情報を取得",
        "description": "ファイルに関する詳細を取得します。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "レスポンスに含める属性のコンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。\n\nまた、このフィールドを使用すると、ファイルに適用されている任意のメタデータに対してクエリを実行できます。その際、`metadata`フィールドのほか、取得するテンプレートのスコープとキー (例: `?fields=metadata.enterprise_12345.contractTemplate`) も指定します。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "項目が変更されている場合にのみ、その項目を返します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されていない場合、エンドポイントは`304 Not Modified`を返して失敗します。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\n`shared_link=[link]`形式を使用するか、パスワードが必要な場合は`shared_link=[link]&shared_link_password=[password]`を使用します。\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "x-rep-hints",
            "in": "header",
            "description": "ファイルの特定の`representations`をリクエストするために必要なヘッダー。特定のファイルレプリゼンテーションをリクエストするには、このヘッダーを`fields`クエリパラメータと組み合わせて使用します。\n\nこれらのレプリゼンテーションの一般的な形式は`X-Rep-Hints: [...]`で、`[...]`の部分では`[fileType?query]`という形式で1つまたは複数のヒントを指定します。\n\nたとえば、ピクセルサイズ`32x32`および`64x64`の`png`レプリゼンテーションをリクエストするには、以下のヒントを指定します。\n\n`x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`\n\nまた、`[extracted_text]`レプリゼンテーションを使用すると、Box内のすべてのドキュメントファイルタイプに`text`レプリゼンテーションを使用できます。\n\n`x-rep-hints: [extracted_text]`.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "[pdf]"
          }
        ],
        "responses": {
          "200": {
            "description": "ファイルオブジェクトを返します。\n\n使用可能なすべてのフィールドがデフォルトで返されるとは限りません。特定のフィールドを明示的にリクエストするには、[fields](#parameter-fields)クエリパラメータを使用します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File--Full"
                }
              }
            }
          },
          "304": {
            "description": "`If-None-Match`ヘッダーがフォルダの現在の`etag`値と一致する場合は、空のレスポンスを返します。これは、フォルダが前回リクエストされたときから変更されていないことを示します。"
          },
          "401": {
            "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "415": {
            "description": "誤ったメディアタイプのファイルに対してアクションが実行されると、エラーが返されます。\n\n* Box Embedでサポートされないファイルの`expiring_embed_link`をリクエストすると、`unsupported_media_type`が返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイル情報を取得",
            "source": "curl -i -X GET \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "ファイル情報を取得",
            "source": "await client.Files.GetFileByIdAsync(fileId: uploadedFile.Id, queryParams: new GetFileByIdQueryParams() { Fields = Array.AsReadOnly(new [] {\"is_externally_owned\",\"has_collaborations\"}) });"
          },
          {
            "lang": "swift",
            "label": "ファイル情報を取得",
            "source": "try await client.files.getFileById(fileId: uploadedFile.id, queryParams: GetFileByIdQueryParams(fields: [\"is_externally_owned\", \"has_collaborations\"]))"
          },
          {
            "lang": "java",
            "label": "ファイル情報を取得",
            "source": "client.getFiles().getFileById(uploadedFile.getId(), new GetFileByIdQueryParams.Builder().fields(Arrays.asList(\"is_externally_owned\", \"has_collaborations\")).build())"
          },
          {
            "lang": "node",
            "label": "ファイル情報を取得",
            "source": "await client.files.getFileById(uploadedFile.id, {\n  queryParams: {\n    fields: ['is_externally_owned', 'has_collaborations'],\n  } satisfies GetFileByIdQueryParams,\n} satisfies GetFileByIdOptionalsInput);"
          },
          {
            "lang": "python",
            "label": "ファイル情報を取得",
            "source": "client.files.get_file_by_id(\n    uploaded_file.id, fields=[\"is_externally_owned\", \"has_collaborations\"]\n)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_id",
        "summary": "ファイルを復元",
        "description": "ごみ箱に移動されたファイルを復元します。\n\n元のフォルダが削除されている場合にフォルダの復元先となる新しい親ID (省略可) を指定することができます。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "レスポンスに含める属性のコンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "ファイルの新しい名前 (省略可)。",
                    "type": "string",
                    "example": "Restored.docx"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "この項目の親。",
                        "properties": {
                          "id": {
                            "description": "親項目のID。",
                            "type": "string",
                            "example": "123"
                          }
                        }
                      },
                      {
                        "description": "元のフォルダがすでに存在しない場合にファイルの復元先となるフォルダのID (省略可) を指定します。\n\nこのIDは、元のフォルダがすでに存在しない場合にのみ使用されることに注意してください。このIDは、元の場所が削除されている場合にファイルの復元先となるフォールバックの場所を指定します。"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ファイルが復元されたときにファイルオブジェクトを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrashFileRestored"
                }
              }
            }
          },
          "403": {
            "description": "ファイルの復元先フォルダに対してユーザーがアクセス権限を持っていない場合、またはごみ箱からファイルを復元する権限を持っていない場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "ファイルがごみ箱内にない場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "ファイルの復元先フォルダに同じ名前のファイルが存在する場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "trashed_files",
        "tags": [
          "ごみ箱内のファイル"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルを復元",
            "source": "curl -i -X POST \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "ファイルを復元",
            "source": "await client.TrashedFiles.RestoreFileFromTrashAsync(fileId: file.Id);"
          },
          {
            "lang": "swift",
            "label": "ファイルを復元",
            "source": "try await client.trashedFiles.restoreFileFromTrash(fileId: file.id)"
          },
          {
            "lang": "java",
            "label": "ファイルを復元",
            "source": "client.getTrashedFiles().restoreFileFromTrash(file.getId())"
          },
          {
            "lang": "node",
            "label": "ファイルを復元",
            "source": "await client.trashedFiles.restoreFileFromTrash(file.id);"
          },
          {
            "lang": "python",
            "label": "ファイルを復元",
            "source": "client.trashed_files.restore_file_from_trash(file.id)"
          }
        ]
      },
      "put": {
        "operationId": "put_files_id",
        "summary": "ファイルを更新",
        "description": "ファイルを更新します。ファイルの名前変更や移動、共有リンクの作成、ファイルのロックといった目的に使用できます。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "レスポンスに含める属性のコンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "ファイルの別の名前 (省略可)。これを使用してファイルの名前を変更できます。\n\nファイル名はその親フォルダ内で一意である必要があります。名前のチェックでは大文字と小文字が区別されないため、`New File`という名前のファイルは、`new file`というフォルダがすでに含まれている親フォルダ内に作成できません。",
                    "type": "string",
                    "example": "NewFile.txt"
                  },
                  "description": {
                    "description": "ファイルの説明。Boxウェブアプリでファイルを表示すると、右側のサイドバーパネルに表示されます。さらに、このインデックスはファイルの検索インデックスで使用されるため、ユーザーは説明の内容でファイルを見つけることができます。",
                    "type": "string",
                    "example": "The latest reports. Automatically updated",
                    "maxLength": 256
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "この項目の親。",
                        "properties": {
                          "id": {
                            "description": "親項目のID。",
                            "type": "string",
                            "example": "123"
                          },
                          "user_id": {
                            "description": "`user_id`の入力は省略可能です。`user_id`が存在する場合、ルート以外のフォルダへの移動は許可されません。`user_id`が指定されている場合、親フォルダIDはゼロにする必要があります。",
                            "type": "string",
                            "example": "12346930"
                          }
                        }
                      },
                      {
                        "description": "ファイルの新しい親フォルダ (省略可)。これを使用して、ファイルを新しいフォルダに移動できます。"
                      }
                    ]
                  },
                  "shared_link": {
                    "allOf": [
                      {
                        "description": "項目の共有リンクを定義します。これを`null`に設定すると、共有リンクが削除されます。",
                        "type": "object",
                        "properties": {
                          "access": {
                            "description": "共有リンクのアクセスレベル。これは、リンクを知っている全員 (`open`)、会社内のユーザーのみ (`company`)、フォルダに招待されたユーザーのみ (`collaborators`) のいずれかに制限できます。\n\n設定しなかった場合、このフィールドは、デフォルトで、企業の管理者が指定したアクセスレベルになります。このデフォルトの設定で共有リンクを作成するには、`{ \"shared_link\": {} }`のように、`access`フィールドを指定せずに`shared_link`オブジェクトを渡します。\n\n`company`アクセスレベルは、有料アカウントのみで使用できます。",
                            "type": "string",
                            "example": "open",
                            "enum": [
                              "open",
                              "company",
                              "collaborators"
                            ]
                          },
                          "password": {
                            "description": "共有リンクへのアクセスに必要なパスワード。パスワードを`null`に設定するとパスワードが削除されます。今後、パスワードは8文字以上にし、数字、大文字、または英数字以外の文字を含める必要があります。`access`が`open`に設定されている場合にのみ、パスワードを設定できます。",
                            "type": "string",
                            "example": "do-n8t-use-this-Password",
                            "nullable": true
                          },
                          "vanity_name": {
                            "description": "共有リンクのURLで使用するカスタムバニティ名を定義します (例: `https://app.box.com/v/my-shared-link`)。\n\nバニティURLは通常の共有リンクよりもかなり推測しやすいため、機密性の高いコンテンツを共有する場合は、カスタムURLを使用しないでください。",
                            "type": "string",
                            "example": "my-shared-link"
                          },
                          "unshared_at": {
                            "description": "この共有リンクの有効期限が切れる日時のタイムスタンプ。このフィールドを設定できるのは、有料アカウントを持つユーザーのみです。",
                            "type": "string",
                            "format": "date-time",
                            "example": "2012-12-12T10:53:43-08:00"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "can_download": {
                                "description": "共有リンクからのファイルのダウンロードが許可されているかどうか。`access`が`open`または`company`に設定されている場合にのみ設定できます。",
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      },
                      {
                        "description": "ファイルの共有リンクを定義します。これを`null`に設定すると、共有リンクが削除されます。"
                      }
                    ],
                    "nullable": true
                  },
                  "lock": {
                    "description": "項目のロックを定義します。これにより、ロックを作成したユーザー以外は、この項目を移動、名前変更、および変更できなくなります。\n\nこれを`null`に設定すると、ロックが削除されます。",
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "access": {
                        "description": "このオブジェクトのタイプ。",
                        "type": "string",
                        "example": "lock",
                        "enum": [
                          "lock"
                        ]
                      },
                      "expires_at": {
                        "description": "ロックが期限切れになる日時を定義します。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "is_download_prevented": {
                        "description": "ロック中でもファイルのダウンロードを許可するかどうかを定義します。",
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "disposition_at": {
                    "description": "特定のファイルのリテンションの有効期限のタイムスタンプ。この日付は、一度ファイルに設定すると短縮できません。",
                    "type": "string",
                    "format": "date-time",
                    "example": "2012-12-12T10:53:43-08:00"
                  },
                  "permissions": {
                    "description": "ファイルをダウンロードできるユーザーを定義します。",
                    "type": "object",
                    "properties": {
                      "can_download": {
                        "description": "このファイルのダウンロードが許可されるユーザーを定義します。使用可能な値は、`open` (すべてのユーザー) または`company` (ユーザーの会社のその他のメンバー) です。\n\nこの設定は、通常コラボレーションの`role`に含まれるダウンロード権限より優先されます。`company`に設定すると、基本的に、ロールが`viewer`または`editor`である外部ユーザーのダウンロードオプションが削除されます。",
                        "type": "string",
                        "example": "open",
                        "enum": [
                          "open",
                          "company"
                        ]
                      }
                    }
                  },
                  "collections": {
                    "description": "このファイルをメンバーとして追加するコレクションの配列。現時点では、`favorites`コレクションのみがサポートされています。\n\nコレクションのIDを取得するには、[すべてのコレクションのリストを取得][1]エンドポイントを使用します。\n\n空の配列`[]`または`null`を渡すと、すべてのコレクションからこのファイルが削除されます。\n\n[1]: https://developer.box.com/ja/reference/get-collections",
                    "type": "array",
                    "items": {
                      "title": "Reference",
                      "description": "オブジェクトの最も基本的な参照。",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "このオブジェクトの一意の識別子。",
                          "type": "string",
                          "example": "11446498"
                        },
                        "type": {
                          "description": "このオブジェクトのタイプ。",
                          "type": "string",
                          "example": "file"
                        }
                      }
                    },
                    "nullable": true
                  },
                  "tags": {
                    "description": "この項目のタグ。これらのタグはBoxウェブアプリおよびモバイルアプリで項目の横に表示されます。\n\nタグを追加または削除するには、項目の現在のタグを取得して変更してから、このフィールドを更新します。\n\nタグの数は、1項目あたり100個までに制限され、一意のタグは会社あたり10,000個までに制限されます。",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "approved"
                    ],
                    "maxItems": 100,
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ファイルオブジェクトを返します。\n\n使用可能なすべてのフィールドがデフォルトで返されるとは限りません。特定のフィールドを明示的にリクエストするには、[fields](#parameter-fields)クエリパラメータを使用します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File--Full"
                }
              }
            }
          },
          "400": {
            "description": "新しいリテンション期間が最大リテンション期間を超える場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "更新を完了するための権限がユーザーに不足している場合に返されます。\n\n* 認証済みユーザーにファイルの移動先フォルダへのアクセス権限がない場合に`access_denied_insufficient_permissions`が返されます。\n* リテンション期間が現在のリテンションのタイムスタンプと等しいか、それより短い場合に返されます。\n* リテンションの対象でない`file_id`が入力された場合に返されます。\n* ファイルが保持されているものの、廃棄アクションが`remove_retention`に設定されている場合に返されます。\n* 情報バリアの制限によりフォルダのコピーが禁止されている場合に`forbidden_by_policy`が返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルを更新",
            "source": "curl -i -X PUT \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"name\": \"New name\"\n     }'"
          },
          {
            "lang": "dotnet",
            "label": "ファイルを更新",
            "source": "await client.Files.UpdateFileByIdAsync(fileId: fileToUpdate.Id, requestBody: new UpdateFileByIdRequestBody() { Name = updatedName, Description = \"Updated description\" });"
          },
          {
            "lang": "swift",
            "label": "ファイルを更新",
            "source": "try await client.files.updateFileById(fileId: fileToUpdate.id, requestBody: UpdateFileByIdRequestBody(name: updatedName, description: \"Updated description\"))"
          },
          {
            "lang": "java",
            "label": "ファイルを更新",
            "source": "client.getFiles().updateFileById(fileToUpdate.getId(), new UpdateFileByIdRequestBody.Builder().name(updatedName).description(\"Updated description\").build())"
          },
          {
            "lang": "node",
            "label": "ファイルを更新",
            "source": "await client.files.updateFileById(fileToUpdate.id, {\n  requestBody: {\n    name: updatedName,\n    description: 'Updated description',\n  } satisfies UpdateFileByIdRequestBody,\n} satisfies UpdateFileByIdOptionalsInput);"
          },
          {
            "lang": "python",
            "label": "ファイルを更新",
            "source": "client.files.update_file_by_id(\n    file_to_update.id, name=updated_name, description=\"Updated description\"\n)"
          }
        ]
      },
      "delete": {
        "operationId": "delete_files_id",
        "summary": "ファイルを削除",
        "description": "ファイルを削除します (完全に削除するか、ごみ箱に移動します)。\n\n項目がBoxから完全に削除されるか、ごみ箱に移動されるかは、会社の設定により決定されます。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "204": {
            "description": "ファイルが正常に削除された場合は、空のレスポンスを返します。"
          },
          "401": {
            "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "ファイルが見つからないかすでに削除されている場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルを削除",
            "source": "curl -i -X DELETE \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "ファイルを削除",
            "source": "await client.Files.DeleteFileByIdAsync(fileId: thumbnailFile.Id);"
          },
          {
            "lang": "swift",
            "label": "ファイルを削除",
            "source": "try await client.files.deleteFileById(fileId: thumbnailFile.id)"
          },
          {
            "lang": "java",
            "label": "ファイルを削除",
            "source": "client.getFiles().deleteFileById(thumbnailFile.getId())"
          },
          {
            "lang": "node",
            "label": "ファイルを削除",
            "source": "await client.files.deleteFileById(thumbnailFile.id);"
          },
          {
            "lang": "python",
            "label": "ファイルを削除",
            "source": "client.files.delete_file_by_id(thumbnail_file.id)"
          }
        ]
      }
    },
    "/files/{file_id}/app_item_associations": {
      "get": {
        "operationId": "get_files_id_app_item_associations",
        "summary": "ファイルのアプリ項目の関連付けのリストを取得",
        "description": "**これはベータ機能のため、利用が制限される可能性があります。**ファイルが関連付けられているアプリ項目をすべて返します。これには、ファイルの先祖に関連付けられているアプリ項目が含まれます。コンテキストユーザーがファイルにアクセスできることを前提に、コンテキストユーザーにアプリ項目の**表示**権限がなくても、種類/IDが示されます。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返す項目の1ページあたりの最大数。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "name": "marker",
            "in": "query",
            "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "application_type",
            "in": "query",
            "description": "指定した場合、このアプリケーションの種類のアプリ項目だけが返されます。",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": false
            },
            "example": "hubs"
          }
        ],
        "responses": {
          "200": {
            "description": "アプリ項目オブジェクトのコレクションを返します。このファイルにアプリ項目がない場合は、空のコレクションが返されます。このリストには、このファイルの先祖にあるアプリ項目が含まれます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppItemAssociations"
                }
              }
            }
          },
          "404": {
            "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "app_item_associations",
        "tags": [
          "アプリ項目の関連付け"
        ],
        "x-codeSamples": [
          {
            "lang": "dotnet",
            "label": "ファイルのアプリ項目の関連付けのリストを取得",
            "source": "await client.AppItemAssociations.GetFileAppItemAssociationsAsync(fileId: fileId);"
          },
          {
            "lang": "swift",
            "label": "ファイルのアプリ項目の関連付けのリストを取得",
            "source": "try await client.appItemAssociations.getFileAppItemAssociations(fileId: fileId)"
          },
          {
            "lang": "java",
            "label": "ファイルのアプリ項目の関連付けのリストを取得",
            "source": "client.getAppItemAssociations().getFileAppItemAssociations(fileId)"
          },
          {
            "lang": "node",
            "label": "ファイルのアプリ項目の関連付けのリストを取得",
            "source": "await client.appItemAssociations.getFileAppItemAssociations(fileId);"
          },
          {
            "lang": "python",
            "label": "ファイルのアプリ項目の関連付けのリストを取得",
            "source": "client.app_item_associations.get_file_app_item_associations(file_id)"
          }
        ]
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "operationId": "get_files_id_content",
        "summary": "ファイルをダウンロード",
        "description": "ファイルのコンテンツをバイナリ形式で返します。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "range",
            "in": "header",
            "description": "ダウンロードするコンテンツのバイト範囲。\n\n`bytes={start_byte}-{end_byte}`の形式を使用して、ダウンロードするファイルのセクションを指定できます。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bytes=0-1024"
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\n`shared_link=[link]`形式を使用するか、パスワードが必要な場合は`shared_link=[link]&shared_link_password=[password]`を使用します。\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "version",
            "in": "query",
            "description": "ダウンロードするファイルバージョン。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "4"
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "このリクエストの事前認証に使用できるアクセストークン (省略可)。つまり、ダウンロードリンクは、認証の処理方法を知らなくても、ブラウザまたはサードパーティのサービスと共有できます。このパラメータを使用する際は、そのファイルへの読み取りアクセスだけを許可するよう、アクセストークンが十分にダウンスコープされていることを確認してください。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ"
          }
        ],
        "responses": {
          "200": {
            "description": "クライアントが自動的にリダイレクトとしてHTTP `3xx`レスポンスに従うように**リダイレクトに従う**設定を有効にしている場合は、リクエストされたファイルを返します。有効にしていない場合は、代わりに`302`が返されます。詳細については、[ファイルのダウンロードに関するガイド](https://developer.box.com/ja/guides/downloads/file#download-url)を参照してください。",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "description": "ファイルのバイナリコンテンツ。",
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "ファイルをダウンロードする準備ができていない場合は、クライアントがファイルをダウンロードできるようになるまでの秒数を示す`Retry-After`ヘッダーが返されます。\n\nこのレスポンスは、ダウンロードリクエストの直前にファイルがアップロードされた場合に発生することがあります。",
            "headers": {
              "Retry-After": {
                "description": "ダウンロードを再試行するまでの秒数。",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "302": {
            "description": "ファイルがダウンロード可能な場合、レスポンスには`dl.boxcloud.com`上のファイルの`Location`ヘッダーが含まれます。\n\n`dl.boxcloud.com`というURLは永続的ではないため、クライアントで実際にファイルをダウンロードするには、リダイレクト指示に従う必要があります。",
            "headers": {
              "Location": {
                "description": "ダウンロードURLへのポインタ。",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "downloads",
        "tags": [
          "ダウンロード"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルをダウンロード",
            "source": "curl -i -L -X GET \"https://api.box.com/2.0/files/12345/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\"
          },
          {
            "lang": "dotnet",
            "label": "ファイルをダウンロード",
            "source": "await client.Downloads.DownloadFileAsync(fileId: uploadedFile.Id);"
          },
          {
            "lang": "swift",
            "label": "ファイルをダウンロード",
            "source": "let downloadsDirectoryURL = FileManager.default.urls(for: .documentDirectory, in: .userDomainMask).first!\nlet destinationURL = downloadsDirectoryURL.appendingPathComponent(\"file.txt\")\n\nlet url = try await client.downloads.downloadFile(fileId: file.id, downloadDestinationURL: destinationURL)\n\nif let fileContent = try? String(contentsOf: url, encoding: .utf8) {\n    print(\"The content of the file: \\(fileContent)\")\n}"
          },
          {
            "lang": "java",
            "label": "ファイルをダウンロード",
            "source": "client.getDownloads().downloadFile(uploadedFile.getId())"
          },
          {
            "lang": "node",
            "label": "ファイルをダウンロード",
            "source": "const fs = require('fs');\n\nconst fileContent = await client.downloads.downloadFile('123456789');\nconst fileWriteStream = fs.createWriteStream('file.pdf');\nfileContent.pipe(fileWriteStream);"
          },
          {
            "lang": "python",
            "label": "ファイルをダウンロード",
            "source": "client.downloads.download_file(uploaded_file.id)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_id_content",
        "summary": "ファイルバージョンをアップロード",
        "description": "ファイルのコンテンツを更新します。ファイルサイズが50 MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "レスポンスに含める属性のコンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "content-md5",
            "in": "header",
            "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "ファイルの新しい名前 (省略可)。指定した場合は、新しいバージョンがアップロードされると、ファイル名が変更されます。",
                        "type": "string",
                        "example": "Photo 2.0.png"
                      },
                      "content_modified_at": {
                        "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "file": {
                    "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attributes",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "リスト内の新しいファイルオブジェクトを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。"
          }
        ],
        "tags": [
          "アップロード"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルバージョンをアップロード",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/12345/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: multipart/form-data\" \\\n     -F attributes='{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}' \\\n     -F file=@<FILE_NAME>"
          },
          {
            "lang": "dotnet",
            "label": "ファイルバージョンをアップロード",
            "source": "await client.Uploads.UploadFileVersionAsync(fileId: uploadedFile.Id, requestBody: new UploadFileVersionRequestBody(attributes: new UploadFileVersionRequestBodyAttributesField(name: newFileVersionName), file: newFileContentStream));"
          },
          {
            "lang": "java",
            "label": "ファイルバージョンをアップロード",
            "source": "client.getUploads().uploadFileVersion(uploadedFile.getId(), new UploadFileVersionRequestBody(new UploadFileVersionRequestBodyAttributesField(newFileVersionName), newFileContentStream))"
          },
          {
            "lang": "node",
            "label": "ファイルバージョンをアップロード",
            "source": "await client.uploads.uploadFileVersion(file.id, {\n  attributes: {\n    name: file.name!,\n  } satisfies UploadFileVersionRequestBodyAttributesField,\n  file: generateByteStream(20),\n} satisfies UploadFileVersionRequestBody);"
          },
          {
            "lang": "python",
            "label": "ファイルバージョンをアップロード",
            "source": "client.uploads.upload_file_version(\n    uploaded_file.id,\n    UploadFileVersionAttributes(name=new_file_version_name),\n    new_file_content_stream,\n)"
          }
        ]
      }
    },
    "/files/content": {
      "options": {
        "operationId": "options_files_content",
        "summary": "アップロード前の事前チェック",
        "tags": [
          "Files"
        ],
        "x-box-tag": "uploads",
        "description": "ファイル全体をアップロードする前に、ファイルがBoxで受け入れられるかどうかをチェックします。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "ファイルの名前。",
                    "type": "string",
                    "example": "File.mp4"
                  },
                  "size": {
                    "description": "ファイルのサイズ (バイト単位)。",
                    "type": "integer",
                    "format": "int32",
                    "example": 1024
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "この項目の親。",
                        "properties": {
                          "id": {
                            "description": "親項目のID。",
                            "type": "string",
                            "example": "123"
                          }
                        }
                      },
                      {
                        "description": "ファイルのアップロード先の親フォルダ。"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "チェックに合格した場合、レスポンスにはファイルのアップロード先として使用できるセッションURLが含まれます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrl"
                }
              }
            }
          },
          "409": {
            "description": "チェックに合格しなかった場合、レスポンスにはその理由に関する詳細が含まれます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アップロード前の事前チェック",
            "source": "curl -i -X OPTIONS \"https://api.box.com/2.0/files/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}'"
          },
          {
            "lang": "dotnet",
            "label": "アップロード前の事前チェック",
            "source": "await client.Uploads.PreflightFileUploadCheckAsync(requestBody: new PreflightFileUploadCheckRequestBody() { Name = newFileName, Size = 1024 * 1024, Parent = new PreflightFileUploadCheckRequestBodyParentField() { Id = \"0\" } });"
          },
          {
            "lang": "java",
            "label": "アップロード前の事前チェック",
            "source": "client.getUploads().preflightFileUploadCheck(new PreflightFileUploadCheckRequestBody.Builder().name(newFileName).size(1024 * 1024).parent(new PreflightFileUploadCheckRequestBodyParentField.Builder().id(\"0\").build()).build())"
          },
          {
            "lang": "node",
            "label": "アップロード前の事前チェック",
            "source": "await client.uploads.preflightFileUploadCheck({\n  name: newFileName,\n  size: 1024 * 1024,\n  parent: { id: '0' } satisfies PreflightFileUploadCheckRequestBodyParentField,\n} satisfies PreflightFileUploadCheckRequestBody);"
          },
          {
            "lang": "python",
            "label": "アップロード前の事前チェック",
            "source": "client.uploads.preflight_file_upload_check(\n    name=new_file_name, size=1024 * 1024, parent=PreflightFileUploadCheckParent(id=\"0\")\n)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_content",
        "summary": "ファイルをアップロード",
        "description": "小さいファイルをBoxにアップロードします。ファイルサイズが50 MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "レスポンスに含める属性のコンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "content-md5",
            "in": "header",
            "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "ファイルの名前。\n\nファイル名はその親フォルダ内で一意である必要があります。名前のチェックでは大文字と小文字が区別されないため、`New File`という名前のファイルは、`new file`というフォルダがすでに含まれている親フォルダ内に作成できません。",
                        "type": "string",
                        "example": "Photo.png"
                      },
                      "parent": {
                        "description": "ファイルのアップロード先の親フォルダ。",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "親フォルダのID。ユーザーのルートフォルダを指定するには、`0`を使用します。",
                            "type": "string",
                            "example": "124132"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "content_created_at": {
                        "description": "ファイルが最初に作成された日時を定義します。\n\n設定されていない場合は、アップロード日時が使用されます。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "content_modified_at": {
                        "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      }
                    },
                    "required": [
                      "name",
                      "parent"
                    ]
                  },
                  "file": {
                    "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attributes",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "リスト内の新しいファイルオブジェクトを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          },
          "400": {
            "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `bad_request` - パラメータが指定されていないか誤っている場合に返されます。\n* `item_name_too_long` - フォルダ名が長すぎる場合に返されます。\n* `item_name_invalid` - フォルダ名に無効な文字が含まれている場合に返されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "親フォルダが存在しない場合、またはユーザーが親フォルダへのアクセスを承認されていない場合はエラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。"
          }
        ],
        "tags": [
          "アップロード"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルをアップロード",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: multipart/form-data\" \\\n     -F attributes='{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}' \\\n     -F file=@<FILE_NAME>"
          },
          {
            "lang": "dotnet",
            "label": "ファイルをアップロード",
            "source": "await client.Uploads.UploadFileAsync(requestBody: new UploadFileRequestBody(attributes: new UploadFileRequestBodyAttributesField(name: newFileName, parent: new UploadFileRequestBodyAttributesParentField(id: \"0\")), file: fileContentStream));"
          },
          {
            "lang": "swift",
            "label": "ファイルをアップロード",
            "source": "// Create InputStream for a file based on URL\nguard let fileStream = InputStream(url: URL(string: \"<URL_TO_YOUR_FILE>\")!) else {\n    fatalError(\"Could not read a file\")\n}\n\n// Create a request body with the required parameters\nlet requestBody = UploadFileRequestBodyArg(\n    attributes: UploadFileRequestBodyArgAttributesField(\n        name: \"filename.txt\",\n        parent: UploadFileRequestBodyArgAttributesFieldParentField(id: \"0\")\n    ),\n    file: fileStream\n)\n\n// Call uploadFile method\nlet files = try await client.uploads.uploadFile(requestBody: requestBody)\n\n// Print some data from the reponse\nif let file = files.entries?[0] {\n    print(\"File uploaded with id \\(file.id), name \\(file.name!)\")\n}"
          },
          {
            "lang": "java",
            "label": "ファイルをアップロード",
            "source": "client.getUploads().uploadFile(new UploadFileRequestBody(new UploadFileRequestBodyAttributesField(newFileName, new UploadFileRequestBodyAttributesParentField(\"0\")), fileContentStream))"
          },
          {
            "lang": "node",
            "label": "ファイルをアップロード",
            "source": "const fs = require('fs');\n\nconst attrs = { name: 'filename.txt', parent: { id: '0' } };\nconst body = {\n  attributes: attrs,\n  file: fs.createReadStream('filename.txt'),\n};\nconst files = await client.uploads.uploadFile(body);\nconst file = files.entries[0];\nconsole.log(`File uploaded with id ${file.id}, name ${file.name}`);"
          },
          {
            "lang": "python",
            "label": "ファイルをアップロード",
            "source": "client.uploads.upload_file(\n    UploadFileAttributes(\n        name=new_file_name, parent=UploadFileAttributesParentField(id=\"0\")\n    ),\n    file_content_stream,\n)"
          }
        ]
      }
    },
    "/files/upload_sessions": {
      "post": {
        "operationId": "post_files_upload_sessions",
        "summary": "アップロードセッションを作成",
        "description": "新しいファイルのアップロードセッションを作成します。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folder_id": {
                    "description": "新しいファイルのアップロード先フォルダのID。",
                    "type": "string",
                    "example": "0"
                  },
                  "file_size": {
                    "description": "アップロードされるファイルの合計バイト数。",
                    "type": "integer",
                    "format": "int64",
                    "example": 104857600
                  },
                  "file_name": {
                    "description": "新規ファイルの名前。",
                    "type": "string",
                    "example": "Project.mov"
                  }
                },
                "required": [
                  "folder_id",
                  "file_size",
                  "file_name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "新しいアップロードセッションを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "400": {
            "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `missing_destination`: `folder_id`が指定されていません。\n* `invalid_folder_id`: `folder_id`が無効です。\n* `item_name_invalid`: `file_name`が無効です。\n* `missing_file_size`: `file_size`が指定されていません。\n* `invalid_file_size`: `file_size`が有効な数値ではありません。\n* `file_size_too_small`: `file_size`が、このAPIによるアップロードの最小ファイルサイズを下回っています。\n* `missing_file_name`: `file_name`が指定されていません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "何らかの理由で操作が許可されていない場合にエラーを返します。\n\n* `storage_limit_exceeded`: アカウントのストレージサイズの上限に達しました。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "親フォルダが見つからないか、認証済みユーザーが親フォルダにアクセスできない場合はエラーを返します。\n\n* `invalid_parameter`: `folder_id`値は、ユーザーがアクセスできないフォルダまたは存在しないフォルダを表します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。"
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アップロードセッションを作成",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/upload_sessions\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"folder_id\": \"0\",\n       \"file_size\": 104857600,\n       \"file_name\": \"Contract.pdf\"\n     }'"
          },
          {
            "lang": "dotnet",
            "label": "アップロードセッションを作成",
            "source": "await client.ChunkedUploads.CreateFileUploadSessionAsync(requestBody: new CreateFileUploadSessionRequestBody(fileName: fileName, fileSize: (long)(fileSize), folderId: parentFolderId));"
          },
          {
            "lang": "swift",
            "label": "アップロードセッションを作成",
            "source": "try await client.chunkedUploads.createFileUploadSession(requestBody: CreateFileUploadSessionRequestBody(fileName: fileName, fileSize: Int64(fileSize), folderId: parentFolderId))"
          },
          {
            "lang": "java",
            "label": "アップロードセッションを作成",
            "source": "client.getChunkedUploads().createFileUploadSession(new CreateFileUploadSessionRequestBody(parentFolderId, fileSize, fileName))"
          },
          {
            "lang": "node",
            "label": "アップロードセッションを作成",
            "source": "await client.chunkedUploads.createFileUploadSession({\n  fileName: fileName,\n  fileSize: fileSize,\n  folderId: parentFolderId,\n} satisfies CreateFileUploadSessionRequestBody);"
          },
          {
            "lang": "python",
            "label": "アップロードセッションを作成",
            "source": "client.chunked_uploads.create_file_upload_session(\n    parent_folder_id, file_size, file_name\n)"
          }
        ]
      }
    },
    "/files/{file_id}/upload_sessions": {
      "post": {
        "operationId": "post_files_id_upload_sessions",
        "summary": "既存ファイルのアップロードセッションを作成",
        "description": "既存ファイルのアップロードセッションを作成します。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_size": {
                    "description": "アップロードされるファイルの合計バイト数。",
                    "type": "integer",
                    "format": "int64",
                    "example": 104857600
                  },
                  "file_name": {
                    "description": "新規ファイルの新しい名前 (省略可)。",
                    "type": "string",
                    "example": "Project.mov"
                  }
                },
                "required": [
                  "file_size"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "新しいアップロードセッションを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。"
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "既存ファイルのアップロードセッションを作成",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/12345/upload_sessions\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"file_size\": 104857600\n     }'"
          }
        ]
      }
    },
    "/files/upload_sessions/{upload_session_id}": {
      "get": {
        "operationId": "get_files_upload_sessions_id",
        "summary": "アップロードセッションを取得",
        "description": "アップロードセッションに関する情報を返します。\n\n実際のエンドポイントURLは[`Create upload session`](https://developer.box.com/ja/reference/post-files-upload-sessions)エンドポイントが返します。",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "アップロードセッションのID。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "D5E3F7A"
          }
        ],
        "responses": {
          "200": {
            "description": "アップロードセッションオブジェクトを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://{box-upload-server}/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。",
            "variables": {
              "box-upload-server": {
                "description": "The server for the upload session.",
                "default": "upload.box.com"
              }
            }
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-box-enable-explorer": false,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アップロードセッションを取得",
            "source": "curl -i -X GET \"https://upload.box.com/2.0/files/upload_sessions/F971964745A5CD0C001BBE4E58196BFD\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "アップロードセッションを取得",
            "source": "await client.ChunkedUploads.GetFileUploadSessionByIdAsync(uploadSessionId: uploadSessionId);"
          },
          {
            "lang": "swift",
            "label": "アップロードセッションを取得",
            "source": "try await client.chunkedUploads.getFileUploadSessionById(uploadSessionId: uploadSessionId)"
          },
          {
            "lang": "java",
            "label": "アップロードセッションを取得",
            "source": "client.getChunkedUploads().getFileUploadSessionById(uploadSessionId)"
          },
          {
            "lang": "node",
            "label": "アップロードセッションを取得",
            "source": "await client.chunkedUploads.getFileUploadSessionById(uploadSessionId);"
          },
          {
            "lang": "python",
            "label": "アップロードセッションを取得",
            "source": "client.chunked_uploads.get_file_upload_session_by_id(upload_session_id)"
          }
        ]
      },
      "put": {
        "operationId": "put_files_upload_sessions_id",
        "summary": "ファイルの一部をアップロード",
        "description": "アップロードセッションでファイルのチャンクをアップロードします。\n\n実際のエンドポイントURLは[`Create upload session`](https://developer.box.com/ja/reference/post-files-upload-sessions)および[`Get upload session`](https://developer.box.com/ja/reference/get-files-upload-sessions-id)エンドポイントが返します。",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "アップロードセッションのID。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "D5E3F7A"
          },
          {
            "name": "digest",
            "in": "header",
            "description": "分割アップロードの[RFC3230][1]メッセージのダイジェスト。\n\nサポートされているのはSHA1のみです。SHA1ダイジェストはbase64でエンコードされている必要があります。このヘッダーの形式は、`sha=BASE64_ENCODED_DIGEST`です。\n\n`SHA`ダイジェストの値を取得するには、openSSLコマンドを使用して、ファイルのパーツをエンコードします: `openssl sha1 -binary <FILE_PART_NAME> | base64`。\n\n[1]: https://tools.ietf.org/html/rfc3230",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM="
          },
          {
            "name": "content-range",
            "in": "header",
            "description": "チャンクのバイト範囲。\n\nこのセッションですでにアップロードされたパーツの範囲と重複しないようにしてください。各パーツのサイズは、作成したアップロードセッションで指定されているパーツサイズとまったく同じサイズである必要があります。ただし、ファイルの最後のパーツは小さくなる可能性があるため、例外となります。\n\n`content-range`の値を指定する際は、以下の点に注意してください。\n\n* 各パーツのバイト範囲の下限は、パーツサイズの倍数にする必要があります。\n* 上限は、パーツサイズの倍数から1を引いた値にする必要があります。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bytes 8388608-16777215/445856194"
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "description": "ファイルのバイナリコンテンツ。",
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "チャンクは正常にアップロードされました。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadedPart"
                }
              }
            }
          },
          "409": {
            "description": "チャンクがこれまでにアップロードされた別のチャンクと競合する場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "412": {
            "description": "前提条件を満たしていない場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "416": {
            "description": "コンテンツの範囲がセッションの指定範囲と一致しない場合は、エラーを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://{box-upload-server}/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。",
            "variables": {
              "box-upload-server": {
                "description": "The server for the upload session.",
                "default": "upload.box.com"
              }
            }
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-box-enable-explorer": false,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "ファイルの一部をアップロード",
            "source": "curl -i -X PUT \"https://upload.box.com/2.0/files/upload_sessions/F971964745A5CD0C001BBE4E58196BFD\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"digest: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=\" \\\n     -H \"content-range: bytes 8388608-16777215/445856194\" \\\n     -H \"content-type: application/octet-stream\" \\\n     --data-binary @<FILE_NAME>"
          },
          {
            "lang": "dotnet",
            "label": "ファイルの一部をアップロード",
            "source": "await client.ChunkedUploads.UploadFilePartAsync(uploadSessionId: acc.UploadSessionId, requestBody: Utils.GenerateByteStreamFromBuffer(buffer: chunkBuffer), headers: new UploadFilePartHeaders(digest: digest, contentRange: contentRange));"
          },
          {
            "lang": "swift",
            "label": "ファイルの一部をアップロード",
            "source": "try await client.chunkedUploads.uploadFilePart(uploadSessionId: acc.uploadSessionId, requestBody: Utils.generateByteStreamFromBuffer(buffer: chunkBuffer), headers: UploadFilePartHeaders(digest: digest, contentRange: contentRange))"
          },
          {
            "lang": "java",
            "label": "ファイルの一部をアップロード",
            "source": "client.getChunkedUploads().uploadFilePart(acc.getUploadSessionId(), generateByteStreamFromBuffer(chunkBuffer), new UploadFilePartHeaders(digest, contentRange))"
          },
          {
            "lang": "node",
            "label": "ファイルの一部をアップロード",
            "source": "await client.chunkedUploads.uploadFilePart(\n  acc.uploadSessionId,\n  generateByteStreamFromBuffer(chunkBuffer),\n  {\n    digest: digest,\n    contentRange: contentRange,\n  } satisfies UploadFilePartHeadersInput,\n);"
          },
          {
            "lang": "python",
            "label": "ファイルの一部をアップロード",
            "source": "client.chunked_uploads.upload_file_part(\n    acc.upload_session_id,\n    generate_byte_stream_from_buffer(chunk_buffer),\n    digest,\n    content_range,\n)"
          }
        ]
      },
      "delete": {
        "operationId": "delete_files_upload_sessions_id",
        "summary": "アップロードセッションを削除",
        "description": "アップロードセッションを中断して、アップロードされたすべてのデータを破棄します。\n\nこの操作は元に戻せません。\n\n実際のエンドポイントURLは[`Create upload session`](https://developer.box.com/ja/reference/post-files-upload-sessions)および[`Get upload session`](https://developer.box.com/ja/reference/get-files-upload-sessions-id)エンドポイントが返します。",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "アップロードセッションのID。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "D5E3F7A"
          }
        ],
        "responses": {
          "204": {
            "description": "セッションが正常に中断された場合は、空のレスポンスが返されます。"
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://{box-upload-server}/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。",
            "variables": {
              "box-upload-server": {
                "description": "The server for the upload session.",
                "default": "upload.box.com"
              }
            }
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-box-enable-explorer": false,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "アップロードセッションを削除",
            "source": "curl -i -X DELETE \"https://upload.box.com/2.0/files/upload_sessions/F971964745A5CD0C001BBE4E58196BFD\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "アップロードセッションを削除",
            "source": "await client.ChunkedUploads.DeleteFileUploadSessionByIdAsync(uploadSessionId: uploadSessionId);"
          },
          {
            "lang": "swift",
            "label": "アップロードセッションを削除",
            "source": "try await client.chunkedUploads.deleteFileUploadSessionById(uploadSessionId: uploadSessionId)"
          },
          {
            "lang": "java",
            "label": "アップロードセッションを削除",
            "source": "client.getChunkedUploads().deleteFileUploadSessionById(uploadSessionId)"
          },
          {
            "lang": "node",
            "label": "アップロードセッションを削除",
            "source": "await client.chunkedUploads.deleteFileUploadSessionById(uploadSessionId);"
          },
          {
            "lang": "python",
            "label": "アップロードセッションを削除",
            "source": "client.chunked_uploads.delete_file_upload_session_by_id(upload_session_id)"
          }
        ]
      }
    },
    "/files/upload_sessions/{upload_session_id}/parts": {
      "get": {
        "operationId": "get_files_upload_sessions_id_parts",
        "summary": "パーツのリストを取得",
        "description": "現在までにアップロードセッションにアップロードされたチャンクのリストを返します。\n\n実際のエンドポイントURLは[`Create upload session`](https://developer.box.com/ja/reference/post-files-upload-sessions)および[`Get upload session`](https://developer.box.com/ja/reference/get-files-upload-sessions-id)エンドポイントが返します。",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "アップロードセッションのID。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "D5E3F7A"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "レスポンスが開始される項目のオフセット。\n\nオフセットパラメータ値が10,000を超えているクエリは拒否され、400レスポンスが返されます。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            },
            "example": 1000
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返す項目の1ページあたりの最大数。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "アップロードされたパーツのリストを返します。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadParts"
                }
              }
            }
          },
          "default": {
            "description": "予期しないクライアントエラー。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://{box-upload-server}/api/2.0",
            "description": "ファイルアップロードに使用するサーバー。",
            "variables": {
              "box-upload-server": {
                "description": "The server for the upload session.",
                "default": "upload.box.com"
              }
            }
          }
        ],
        "tags": [
          "アップロード (分割)"
        ],
        "x-box-enable-explorer": false,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "パーツのリストを取得",
            "source": "curl -i -X GET \"https://upload.box.com/2.0/files/upload_sessions/F971964745A5CD0C001BBE4E58196BFD/parts\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "パーツのリストを取得",
            "source": "await client.ChunkedUploads.GetFileUploadSessionPartsAsync(uploadSessionId: uploadSessionId);"
          },
          {
            "lang": "swift",
            "label": "パーツのリストを取得",
            "source": "try await client.chunkedUploads.getFileUploadSessionParts(uploadSessionId: uploadSessionId)"
          },
          {
            "lang": "java",
            "label": "パーツのリストを取得",
            "source": "client.getChunkedUploads().getFileUploadSessionParts(uploadSessionId)"
          },
          {
            "lang": "node",
            "label": "パーツのリストを取得",
            "source": "await client.chunkedUploads.getFileUploadSessionParts(uploadSessionId);"
          },
          {
            "lang": "python",
            "label": "パーツのリストを取得",
            "source": "client.chunked_uploads.get_file_upload_session_parts(upload_session_id)"
          }
        ]
      }
    },
    "/files/upload_sessions/{upload_session_id}/commit": {
      "post": {
        "operationId": "post_files_upload_sessions_id_commit",
        "summary": "アップロードセッションをコミット",
[...]
