{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://box.dev) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://box.dev",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー"
        }
    ],
    "paths": {
        "/authorize": {
            "get": {
                "operationId": "get_authorize",
                "summary": "ユーザーを承認",
                "description": "Authorize a user by sending them through the [Box](https://box.com) website and request their permission to act on their behalf.\n\nこれは、OAuth 2.0を使用してユーザーを承認する際の最初の手順です。Box APIをユーザーに代わって使用することについて、ユーザーに承認してもらうようリクエストするには、この形式を使用してユーザーを所定のURLにリダイレクトする必要があります。",
                "tags": [
                    "承認"
                ],
                "x-box-tag": "authorization",
                "security": [],
                "servers": [
                    {
                        "url": "https://account.box.com/api/oauth2",
                        "description": "クライアント側認証用サーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "response_type",
                        "description": "受信するレスポンスのタイプ。",
                        "in": "query",
                        "example": "code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "token",
                            "enum": [
                                "code"
                            ]
                        }
                    },
                    {
                        "name": "client_id",
                        "description": "The Client ID of the application that is requesting to authenticate the user. To get the Client ID for your application, log in to your Box developer console and click the **Edit Application** link for the application you're working with. In the OAuth 2.0 Parameters section of the configuration page, find the item labelled `client_id`. The text of that item is your application's Client ID.",
                        "in": "query",
                        "example": "ly1nj6n11vionaie65emwzk575hnnmrk",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "redirect_uri",
                        "description": "ユーザーがアプリケーション権限を許可または拒否した後にブラウザがリダイレクトされるURL。このURLは、アプリケーションの設定に含まれるダイレクトURLと一致している必要があります。このURLは有効なHTTPS URLでなければならず、OAuth 2.0フローの次の手順を完了するには、このリダイレクトを処理できる状態になっている必要があります。",
                        "in": "query",
                        "example": "http://example.com/auth/callback",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "url"
                        }
                    },
                    {
                        "name": "state",
                        "description": "任意のカスタム文字列。認証が完了すると、同じ文字列がBoxからリダイレクトURLに渡されます。このパラメータを使用するとリダイレクト時にユーザーを識別できるだけでなく、ハイジャックされたセッションやその他の悪用を防止できます。",
                        "in": "query",
                        "example": "my_state",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scope",
                        "description": "ユーザーを認証するアプリケーションスコープのカンマ区切りリスト。デフォルトでは、アプリケーションの設定ページで指定されたすべてのスコープになります。",
                        "in": "query",
                        "example": "admin_readwrite",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string",
                                    "format": "html"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string",
                                    "format": "html"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "operationId": "post_oauth2_token",
                "summary": "アクセストークンをリクエスト",
                "description": "クライアント側で取得したOAuth 2.0認証コードまたはサーバー側のJWTアサーションを使用してアクセストークンをリクエストします。\n\nAn Access Token is a string that enables Box to verify that a request belongs to an authorized session. In the normal order of operations you will begin by requesting authentication from the [authorize](#get-authorize) endpoint and Box will send you an authorization code.\n\nユーザーはこのエンドポイントに認証コードを送信してアクセストークンと交換します。返されたアクセストークンは、Box API呼び出しを行うときに使用できます。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Token"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a new Access Token that can be used to make authenticated API calls by passing along the token in a authorization header as follows `Authorization: Bearer <Token>`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/token#refresh": {
            "post": {
                "operationId": "post_oauth2_token#refresh",
                "summary": "アクセストークンを更新",
                "description": "クライアントID、シークレット、更新トークンを使用してアクセストークンを更新します。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "x-box-is-variation": true,
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Token--RefreshAccessToken"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a new Access Token that can be used to make authenticated API calls by passing along the token in a authorization header as follows `Authorization: Bearer <Token>`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/revoke": {
            "post": {
                "operationId": "post_oauth2_revoke",
                "summary": "アクセストークンを取り消し",
                "description": "アクティブなアクセストークンを無効にします。これにより、認証されていたユーザーはログアウトされます。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Revoke"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "トークンが正常に無効化された場合は、空のレスポンスを返します。"
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}": {
            "get": {
                "operationId": "get_files_id",
                "summary": "ファイル情報を取得",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "description": "ファイルに関する詳細を取得します。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。\n\nAdditionally this field can be used to query any metadata applied to the file by specifying the `metadata` field as well as the scope and key of the template to retrieve, for example `?field=metadata.enterprise_12345.contractTemplate`.",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "if-none-match",
                        "description": "項目が変更されている場合にのみ、その項目を返します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `304 Not Modified` if the item has not changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "boxapi",
                        "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\nUse the format `shared_link=[link]` or if a password is required then use `shared_link=[link]&shared_link_password=[password]`.\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
                        "example": "shared_link=[link]&shared_link_password=[password]",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-rep-hints",
                        "description": "A header required to request specific `representations` of a file. Use this in combination with the `fields` query parameter to request a specific file representation.\n\nThe general format for these representations is `X-Rep-Hints: [...]` where `[...]` is one or many hints in the format `[fileType?query]`.\n\nFor example, to request a `png` representation in `32x32` as well as `94x94` pixel dimensions provide the following hints.\n\n`X-Rep-Hints: [jpg?dimensions=32x32][jpg?dimensions=94x94]`\n\nAdditionally, a `text` representation is available for all document file types in Box using the `[extracted_text]` representation.\n\n`X-Rep-Hints: [extracted_text]`",
                        "example": "[pdf]",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ファイルオブジェクトを返します。\n\nNot all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Returns an empty response when the `If-None-Match` header matches the current `etag` value of the folder. This indicates that the folder has not changed since it was last requested."
                    },
                    "401": {
                        "description": "Returned when the access token provided in the `Authorization` header is not recognized or not provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Returned if the `file_id` is not in a recognized format.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "誤ったメディアタイプのファイルに対してアクションが実行されると、エラーが返されます。\n\n* `unsupported_media_type` when requesting an `expiring_embed_link` for a file that is not supported by Box Embed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_id",
                "summary": "ファイルを復元",
                "tags": [
                    "ごみ箱内のファイル"
                ],
                "x-box-tag": "trashed_files",
                "description": "ごみ箱に移動されたファイルを復元します。\n\n元のフォルダが削除されている場合にフォルダの復元先となる新しい親ID (省略可) を指定することができます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "ファイルの新しい名前 (省略可)。",
                                        "example": "Restored.docx",
                                        "type": "string"
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "元のフォルダがすでに存在しない場合にファイルの復元先となるフォルダのID (省略可) を指定します。\n\nこのIDは、元のフォルダがすでに存在しない場合にのみ使用されることに注意してください。このIDは、元の場所が削除されている場合にファイルの復元先となるフォールバックの場所を指定します。"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ファイルが復元されたときにファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ファイルの復元先フォルダに対してユーザーがアクセス権限を持っていない場合、またはごみ箱からファイルを復元する権限を持っていない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルがごみ箱内にない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルの復元先フォルダに同じ名前のファイルが存在する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "put_files_id",
                "summary": "ファイルを更新",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "x-box-sanitized": true,
                "description": "ファイルを更新します。ファイルの名前変更や移動、共有リンクの作成、ファイルのロックといった目的に使用できます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "ファイルの別の名前 (省略可)。これを使用してファイルの名前を変更できます。",
                                        "example": "NewFile.txt"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "ファイルの説明。Boxウェブアプリでファイルを表示すると、右側のサイドバーパネルに表示されます。さらに、このインデックスはファイルの検索インデックスで使用されるため、ユーザーは説明の内容でファイルを見つけることができます。",
                                        "maxLength": 256,
                                        "example": "The latest reports. Automatically updated"
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "ファイルの新しい親フォルダ (省略可)。これを使用して、ファイルを新しいフォルダに移動できます。"
                                            }
                                        ]
                                    },
                                    "shared_link": {
                                        "allOf": [
                                            {
                                                "description": "Defines a shared link for an item. Set this to `null` to remove the shared link.",
                                                "type": "object",
                                                "properties": {
                                                    "access": {
                                                        "type": "string",
                                                        "description": "The level of access for the shared link. This can be restricted to anyone with the link (`open`), only people within the company (`company`) and only those who have been invited to the folder (`collaborators`).\n\nIf not set, this field defaults to the access level specified by the enterprise admin. To create a shared link with this default setting pass the `shared_link` object with no `access` field, for example `{ \"shared_link\": {} }`.\n\nThe `company` access level is only available to paid accounts.",
                                                        "enum": [
                                                            "open",
                                                            "company",
                                                            "collaborators"
                                                        ],
                                                        "example": "open"
                                                    },
                                                    "password": {
                                                        "type": "string",
                                                        "description": "The password required to access the shared link. Set the password to `null` to remove it.\n\nA password can only be set when `access` is set to `open`.",
                                                        "example": "do-not-use-this-password"
                                                    },
                                                    "vanity_name": {
                                                        "type": "string",
                                                        "description": "Defines a custom vanity name to use in the shared link URL, for example `https://app.box.com/v/my-shared-link`.\n\nバニティURLは通常の共有リンクよりもかなり推測しやすいため、機密性の高いコンテンツを共有する場合は、カスタムURLを使用しないでください。",
                                                        "example": "my-shared-link"
                                                    },
                                                    "unshared_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2012-12-12T10:53:43-08:00",
                                                        "description": "この共有リンクの有効期限が切れる日時のタイムスタンプ。このフィールドを設定できるのは、有料アカウントを持つユーザーのみです。"
                                                    },
                                                    "permissions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "can_download": {
                                                                "type": "boolean",
                                                                "example": true,
                                                                "description": "If the shared link allows for downloading of files. This can only be set when `access` is set to `open` or `company`."
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            {
                                                "description": "Defines a shared link for a file. Set this to `null` to remove the shared link."
                                            }
                                        ]
                                    },
                                    "lock": {
                                        "type": "object",
                                        "description": "項目のロックを定義します。これにより、ロックを作成したユーザー以外は、この項目を移動、名前変更、および変更できなくなります。\n\nSet this to `null` to remove the lock.",
                                        "required": [
                                            "type"
                                        ],
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "このオブジェクトのタイプ。",
                                                "enum": [
                                                    "lock"
                                                ],
                                                "example": "lock"
                                            },
                                            "expires_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ロックが期限切れになる日時を定義します。"
                                            },
                                            "is_download_prevented": {
                                                "type": "boolean",
                                                "example": true,
                                                "description": "ロック中でもファイルのダウンロードを許可するかどうかを定義します。"
                                            }
                                        }
                                    },
                                    "permissions": {
                                        "description": "ファイルをダウンロードできるユーザーを定義します。",
                                        "type": "object",
                                        "properties": {
                                            "can_download": {
                                                "description": "Defines who is allowed to download this file. The possible values are either `open` for everyone or `company` for the other members of the user's enterprise.\n\nThis setting overrides the download permissions that are normally part of the `role` of a collaboration. When set to `company`, this essentially removes the download option for external users with `viewer` or `editor` a roles.",
                                                "type": "string",
                                                "example": "open",
                                                "enum": [
                                                    "open",
                                                    "company"
                                                ]
                                            }
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "example": [
                                            "approved"
                                        ],
                                        "items": {
                                            "type": "string"
                                        },
                                        "minItems": 1,
                                        "maxItems": 100,
                                        "description": "この項目のタグ。これらのタグは Boxウェブアプリおよびモバイルアプリで項目の横に表示されます。\n\nタグを追加または削除するには、項目の現在のタグを取得して 変更してから、このフィールドを更新します。\n\nタグの数は、1項目あたり100個までに制限され、一意のタグは会社あたり10,000個までに 制限されます。"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ファイルオブジェクトを返します。\n\nNot all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the access token provided in the `Authorization` header is not recognized or not provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "更新を完了するための権限がユーザーに不足している場合に返されます。\n\n* `access_denied_insufficient_permissions` when the authenticated user does not have access the destination folder to move the file to.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Returned if the `file_id` is not in a recognized format.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_files_id",
                "summary": "ファイルを削除",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-sanitized": true,
                "description": "ファイルを削除します (完全に削除するか、ごみ箱に移動します)。\n\n項目がBoxから完全に削除されるか、ごみ箱に移動されるかは、会社の設定により決定されます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "ファイルが正常に削除された場合は、空のレスポンスを返します。"
                    },
                    "401": {
                        "description": "Returned when the access token provided in the `Authorization` header is not recognized or not provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからないかすでに削除されている場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Returned if the `file_id` is not in a recognized format.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/content": {
            "get": {
                "operationId": "get_files_id_content",
                "summary": "ファイルをダウンロード",
                "tags": [
                    "ダウンロード"
                ],
                "x-box-tag": "downloads",
                "description": "ファイルのコンテンツをバイナリ形式で返します。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "range",
                        "description": "ダウンロードするコンテンツのバイト範囲。\n\nThe format `{start_byte}-{end_byte}` can be used to specify what section of the file to download.",
                        "example": "0-1024",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "boxapi",
                        "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\nUse the format `shared_link=[link]` or if a password is required then use `shared_link=[link]&shared_link_password=[password]`.\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
                        "example": "shared_link=[link]&shared_link_password=[password]",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "description": "ダウンロードするファイルバージョン",
                        "example": "4",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "access_token",
                        "description": "このリクエストの事前認証に使用できるアクセストークン (省略可)。つまり、ダウンロードリンクは、認証の処理方法を知らなくても、ブラウザまたはサードパーティのサービスと共有できます。このパラメータを使用する際は、そのファイルへの読み取りアクセスだけを許可するよう、アクセストークンが十分にダウンスコープされていることを確認してください。",
                        "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "If the file is not ready to be downloaded yet `Retry-After` header will be returned indicating the time in seconds after which the file will be available for the client to download.\n\nこのレスポンスは、ダウンロードリクエストの直前にファイルがアップロードされた場合に発生することがあります。",
                        "headers": {
                            "Retry-After": {
                                "description": "ダウンロードを再試行するまでの秒数",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "If the file is available to be downloaded the response will include a `Location` header for the file on `dl.boxcloud.com`.\n\nThe `dl.boxcloud.com` URL is not persistent and clients will need to follow the redirect in order to actually download the file.",
                        "headers": {
                            "Location": {
                                "description": "ダウンロードURLへのポインタ",
                                "schema": {
                                    "type": "string",
                                    "format": "url"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_id_content",
                "tags": [
                    "アップロード"
                ],
                "x-box-tag": "uploads",
                "summary": "ファイルバージョンをアップロード",
                "description": "ファイルのコンテンツを更新します。ファイルサイズが50MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n# Request body order\n\nThe `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "content-md5",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                        "in": "header",
                        "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "attributes",
                                    "file"
                                ],
                                "properties": {
                                    "attributes": {
                                        "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.\n\n</Message>",
                                        "type": "object",
                                        "required": [
                                            "name"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "ファイルの新しい名前 (省略可)。指定した場合は、新しいバージョンがアップロードされると、ファイル名が変更されます。",
                                                "example": "Photo 2.0.png"
                                            },
                                            "content_modified_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            }
                                        }
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.\n\n</Message>"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "リスト内の新しいファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/content": {
            "options": {
                "operationId": "options_files_content",
                "summary": "アップロード前の事前チェック",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "uploads",
                "description": "ファイル全体をアップロードする前に、ファイルがBoxで受け入れられるかどうかをチェックします。",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "ファイルの名前",
                                        "example": "File.mp4"
                                    },
                                    "size": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "ファイルのサイズ(バイト単位)",
                                        "example": 1024
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "ファイルのアップロード先の親フォルダ"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "チェックに合格した場合、レスポンスにはファイルのアップロード先として使用できるセッションURLが含まれます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadUrl"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "チェックに合格しなかった場合、レスポンスにはその理由に関する詳細が含まれます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConflictError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_content",
                "tags": [
                    "アップロード"
                ],
                "x-box-tag": "uploads",
                "summary": "ファイルをアップロード",
                "description": "小さいファイルをBoxにアップロードします。ファイルサイズが50MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n# Request body order\n\nThe `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "content-md5",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                        "in": "header",
                        "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "attributes",
                                    "file"
                                ],
                                "properties": {
                                    "attributes": {
                                        "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.\n\n</Message>",
                                        "type": "object",
                                        "required": [
                                            "name",
                                            "parent"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "ファイルの名前",
                                                "example": "Photo.png"
                                            },
                                            "parent": {
                                                "type": "object",
                                                "description": "ファイルのアップロード先の親フォルダ",
                                                "required": [
                                                    "id"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "124132",
                                                        "description": "The id of the parent folder. Use `0` for the user's root folder."
                                                    }
                                                }
                                            },
                                            "content_created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最初に作成された日時を定義します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            },
                                            "content_modified_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            }
                                        }
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.\n\n</Message>"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "リスト内の新しいファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions": {
            "post": {
                "operationId": "post_files_upload_sessions",
                "summary": "アップロードセッションを作成",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "新しいファイルのアップロードセッションを作成します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "folder_id",
                                    "file_size",
                                    "file_name"
                                ],
                                "properties": {
                                    "folder_id": {
                                        "description": "新しいファイルのアップロード先フォルダのID。",
                                        "type": "string",
                                        "example": "0"
                                    },
                                    "file_size": {
                                        "description": "アップロードされるファイルの合計バイト数",
                                        "example": 104857600,
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "file_name": {
                                        "description": "新規ファイルの名前",
                                        "example": "Project.mov",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいアップロードセッションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `missing_destination`: No `folder_id` was provided\n* `invalid_folder_id`: `folder_id` is not valid\n* `item_name_invalid`: `file_name` is not valid\n* `missing_file_size`: `file_size` was not provided\n* `invalid_file_size`: `file_size` was not a valid number\n* `file_size_too_small`: `file_size` is below minimum file size for uploads via this API\n* `missing_file_name`: `file_name` was not provided",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "何らかの理由で操作が許可されていない場合にエラーを返します。\n\n* `storage_limit_exceeded`: Account storage limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "親フォルダが見つからないか、認証済みユーザーが親フォルダにアクセスできない場合はエラーを返します。\n\n* `invalid_parameter`: The `folder_id` value represents a folder that the user does not have access to, or does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/upload_sessions": {
            "post": {
                "operationId": "post_files_id_upload_sessions",
                "summary": "既存ファイルのアップロードセッションを作成",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "既存ファイルのアップロードセッションを作成します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "file_size"
                                ],
                                "properties": {
                                    "file_size": {
                                        "description": "アップロードされるファイルの合計バイト数",
                                        "example": 104857600,
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "file_name": {
                                        "description": "新規ファイルの新しい名前 (省略可)",
                                        "example": "Project.mov",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいアップロードセッションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}": {
            "get": {
                "operationId": "get_files_upload_sessions_id",
                "summary": "アップロードセッションを取得",
                "tags": [
                    "アップロード (分割)"
                ],
                "description": "アップロードセッションに関する情報を返します。",
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "アップロードセッションオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "put_files_upload_sessions_id",
                "summary": "ファイルの一部をアップロード",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "ファイルのアップロードセッションのチャンクを更新します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "digest",
                        "description": "The [RFC3230][1] message digest of the chunk uploaded.\n\nOnly SHA1 is supported. The SHA1 digest must be Base64 encoded. The format of this header is as `sha=BASE64_ENCODED_DIGEST`.\n\n[1]: https://tools.ietf.org/html/rfc3230",
                        "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "content-range",
                        "description": "チャンクのバイト範囲。\n\nこのセッションですでにアップロードされた部分の 範囲と重複してはなりません。",
                        "example": "bytes 8388608-16777215/445856194",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary",
                                "description": "ファイルのバイナリコンテンツ"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "チャンクは正常にアップロードされました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedPart"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "チャンクがこれまでにアップロードされた別のチャンクと競合する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "前提条件を満たしていない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "416": {
                        "description": "コンテンツの範囲がセッションの指定範囲と一致しない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_files_upload_sessions_id",
                "summary": "アップロードセッションを削除",
                "tags": [
                    "アップロード (分割)"
                ],
                "description": "アップロードセッションを中断して、アップロードされたすべてのデータを破棄します。\n\nこの操作は元に戻せません。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "x-box-tag": "chunked_uploads",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "セッションが正常に中断された場合は、空のレスポンスが返されます。"
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}/parts": {
            "get": {
                "operationId": "get_files_upload_sessions_id_parts",
                "summary": "パーツのリストを取得",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "description": "現在までにアップロードセッションにアップロードされたチャンクのリストを返します。",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "レスポンスが開始される項目のオフセット。",
                        "in": "query",
                        "required": false,
                        "example": 1000,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "返す項目の1ページあたりの最大数。",
                        "in": "query",
                        "required": false,
                        "example": 1000,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "アップロードされたパーツのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadParts"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}/commit": {
            "post": {
                "operationId": "post_files_upload_sessions_id_commit",
                "summary": "アップロードセッションをコミット",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "description": "アップロードセッションを閉じて、アップロード済みのチャンクからファイルを作成します。",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "digest",
                        "description": "The [RFC3230][1] message digest of the whole file.\n\nOnly SHA1 is supported. The SHA1 digest must be Base64 encoded. The format of this header is as `sha=BASE64_ENCODED_DIGEST`.\n\n[1]: https://tools.ietf.org/html/rfc3230",
                        "in": "header",
                        "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-none-match",
                        "description": "項目が変更されている場合にのみ、その項目を返します。\n\nPass in the item's last observed `etag` value into this header and the endpoint will fail with a `304 Not Modified` if the item has not changed since.",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "parts"
                                ],
                                "properties": {
                                    "parts": {
                                        "type": "array",
                                        "description": "アップロードされたパーツのリストの詳細",
                                        "items": {
                                            "$ref": "#/components/schemas/UploadPart"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "リスト内のファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "すべてのチャンクがすでにアップロードされているものの、まだ処理されていない場合に返されます。\n\nアップロードセッションを調べてチャンク処理の進捗状況に関する詳細情報を取得し、すべてのチャンクが処理された後でファイルのコミットを再試行します。",
                        "headers": {
                            "Retry-After": {
                                "description": "コミットリクエストの再試行までクライアントが待機する秒数を示します。",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ターゲットフォルダに同じ名前のファイルがすでに存在する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Returns an error if the `If-Match` or `If-None-Match` conditions fail.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/copy": {
            "post": {
                "operationId": "post_files_id_copy",
                "summary": "ファイルをコピー",
                "description": "ファイルのコピーを作成します。",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "x-box-sanitized": true,
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nThe ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、簡易版レプリゼンテーションのフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "parent"
                                ],
                                "nullable": false,
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "コピーされたファイルの新しい名前 (省略可)。\n\nThere are some restrictions to the file name. Names containing non-printable ASCII characters, forward and backward slashes (`/`, `\\`), and protected names like `.` and `..` are automatically sanitized by removing the non-allowed characters.",
                                        "example": "FileCopy.txt",
                                        "maxLength": 255
                                    },
                                    "version": {
                                        "type": "string",
                                        "description": "コピーする特定のファイルバージョンのID (省略可)",
                                        "example": "0"
                                    },
                                    "parent": {
                                        "type": "object",
                                        "description": "ファイルのコピー先となるフォルダ。",
[...]
