{
  "openapi": "3.0.2", 
  "info": {
    "title": "Box Platform 2.0 API", 
    "description": "Box Content APIを使用すると、安全なコンテンツ管理機能やコンテンツエクスペリエンス機能にアプリからアクセスできます。このAPIはRESTfulを目指していて、Boxウェブインターフェイスでユーザーが使い慣れている主要なリソースを中心にして編成されています。", 
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9", 
    "contact": {
      "name": "Box Developer Relations", 
      "url": "https://developer.box.com", 
      "email": "devrel@box.com"
    }, 
    "license": {
      "name": "Apache 2.0", 
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }, 
    "version": "2.0"
  }, 
  "servers": [
    {
      "url": "https://api.box.com/2.0", 
      "description": "Box Platform APIサーバー"
    }
  ], 
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize", 
        "summary": "ユーザーを承認", 
        "description": "ユーザーを[Box](https://box.com)ウェブサイトにリダイレクトして認証し、ユーザーに代わりに操作を実行するための権限をリクエストします。\n\nこれはOAuth 2.0を使用してユーザーを認証する際の最初の手順です。ユーザーの代わりにBox APIを使用することに対するユーザーの承認をリクエストするには、この形式を使用してユーザーを所定のURLにリダイレクトする必要があります。", 
        "tags": [
          "Authorization"
        ], 
        "x-box-reference-category": "authorization", 
        "security": [], 
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2", 
            "description": "クライアント側認証用サーバー"
          }
        ], 
        "parameters": [
          {
            "name": "response_type", 
            "description": "The type of response we'd like to receive.", 
            "in": "query", 
            "example": "5idyGSFuf54zrvKm", 
            "required": true, 
            "schema": {
              "type": "string", 
              "format": "token", 
              "enum": [
                "code"
              ]
            }
          }, 
          {
            "name": "client_id", 
            "description": "ユーザーの認証をリクエストしているアプリケーションのクライアントID。アプリケーションのクライアントIDを取得するには、Box開発者コンソールにログインして、該当するアプリケーションの**[アプリケーションの編集]**リンクをクリックします。設定ページの[OAuth2パラメータ]セクションで、**client_id**というラベルの付いた項目を探します。その項目のテキストが、アプリケーションのクライアントIDです。", 
            "in": "query", 
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "redirect_uri", 
            "description": "ユーザーがアプリケーション権限を許可または拒否した後にブラウザがリダイレクトされるURL。このURLは、アプリケーションの設定に含まれるダイレクトURLと一致している必要があります。このURLは有効なHTTPS URLでなければならず、OAuth2フローの次の手順を完了するには、このリダイレクトを処理できる状態になっている必要があります。", 
            "in": "query", 
            "example": "http://example.com/auth/callback", 
            "required": true, 
            "schema": {
              "type": "string", 
              "format": "url"
            }
          }, 
          {
            "name": "state", 
            "description": "任意のカスタム文字列。認証が完了すると、同じ文字列がBoxからリダイレクトURLに渡されます。このパラメータを使用するとリダイレクト時にユーザーを識別できるだけでなく、ハイジャックされたセッションやその他の攻撃を防止できます。", 
            "in": "query", 
            "example": "my_state", 
            "required": false, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "scope", 
            "description": "ユーザーを認証するアプリケーションスコープのカンマ区切りリスト。デフォルトでは、アプリケーションの設定ページで指定されたすべてのスコープになります。", 
            "in": "query", 
            "example": "admin_readwrite", 
            "required": false, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。", 
            "content": {
              "text/html": {
                "schema": {
                  "type": "string", 
                  "format": "html"
                }
              }
            }
          }
        }
      }
    }, 
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token", 
        "summary": "アクセストークンをリクエスト", 
        "description": "クライアント側で取得したOAuth2認証コードまたはサーバー側のJWTアサーションを使用してアクセストークンをリクエストします。\n\nアクセストークンとは、リクエストが認証済みセッションに属していることをBoxで検証するための文字列です。通常の手順では、最初にユーザーが[authorize](#get-authorize)エンドポイントに対して認証をリクエストした後で、Boxが認証コードを送信します。\n\nユーザーはこのエンドポイントに認証コードを送信してアクセストークンと交換します。返されたアクセストークンは、Box API呼び出しを行うときに使用できます。", 
        "tags": [
          "Authorization"
        ], 
        "servers": [
          {
            "url": "https://api.box.com", 
            "description": "サーバー側認証に使用するサーバー"
          }
        ], 
        "x-box-reference-category": "authorization", 
        "security": [], 
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "`Authorization: Bearer <Token>`のように認証ヘッダー内でトークンを渡すことによって認証済みのAPI呼び出しを行うために使用できる新しいアクセストークンを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          }, 
          "400": {
            "description": "認証エラー。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    }, 
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke", 
        "summary": "アクセストークンを無効化", 
        "description": "アクティブなアクセストークンを無効にします。これにより、認証されていたユーザーはログアウトされます。", 
        "tags": [
          "Authorization"
        ], 
        "servers": [
          {
            "url": "https://api.box.com", 
            "description": "サーバー側認証に使用するサーバー"
          }
        ], 
        "x-box-reference-category": "authorization", 
        "security": [], 
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRevocationRequest"
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "トークンが正常に無効化された場合は、空の応答を返します。"
          }, 
          "400": {
            "description": "認証エラー。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id", 
        "summary": "ファイルを取得", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "files", 
        "x-box-enable-explorer": true, 
        "description": "ファイルに関する詳細を取得します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "ファイルオブジェクトを返します。\n\n[Some fields are optional](#file)。[fields](#get-files-id--request--fields)パラメータを使用して明示的にリクエストする必要があります。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }, 
      "post": {
        "operationId": "post_files_id", 
        "summary": "ファイルを復元", 
        "tags": [
          "Trash", 
          "Files"
        ], 
        "x-box-reference-category": "trashed_files", 
        "description": "ごみ箱に移動されたファイルを復元します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "ファイルの新しい名前(省略可)。", 
                    "example": "Restored.docx", 
                    "type": "string"
                  }, 
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      }, 
                      {
                        "description": "項目の復元先となる親フォルダ(省略可)。\n\n元の親フォルダがすでに存在しない場合や、ユーザーが元の親フォルダに対するアクセス権限をすでに失っている場合に使用します。"
                      }
                    ]
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "ファイルが復元されたときにファイルオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }, 
          "403": {
            "description": "ファイルの復元先フォルダに対してユーザーがアクセス権限を持っていない場合、またはごみ箱からファイルを復元する権限を持っていない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "404": {
            "description": "ファイルがごみ箱内にない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "409": {
            "description": "ファイルの復元先フォルダに同じ名前のファイルが存在する場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "put": {
        "operationId": "put_files_id", 
        "summary": "ファイルを更新", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "files", 
        "x-box-enable-explorer": true, 
        "description": "ファイルを更新します。ファイルの名前変更や移動、共有リンクの作成、ファイルのロックといった目的に使用できます。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string", 
                    "description": "ファイルの新しい名前", 
                    "example": "NewFile.txt"
                  }, 
                  "description": {
                    "type": "string", 
                    "description": "ファイルの説明", 
                    "maxLength": 256, 
                    "example": "Amazing Photo"
                  }, 
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      }, 
                      {
                        "description": "このファイルの親フォルダ。ファイルを移動したり、ごみ箱からファイルを復元したりするには、これを使用します。"
                      }
                    ]
                  }, 
                  "shared_link": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SharedLink--Writable"
                      }, 
                      {
                        "description": "このファイルの共有リンクの作成を可能にします"
                      }
                    ]
                  }, 
                  "lock": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Lock--Writable"
                      }, 
                      {
                        "description": "ファイルのロックを作成します。`null`に設定すると、ファイルのロックが解除されます"
                      }
                    ]
                  }, 
                  "permissions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Permissions--Writable"
                      }, 
                      {
                        "description": "ファイルのダウンロードの可否と、ダウンロードできるユーザーを示します。"
                      }
                    ]
                  }, 
                  "tags": {
                    "type": "array", 
                    "example": [
                      "approved"
                    ], 
                    "items": {
                      "type": "string"
                    }, 
                    "description": "The tags for this item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update this field."
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "ファイルオブジェクトを返します。\n\n[Some fields are optional](#file)。[fields](#get-files-id--request--fields)パラメータを使用して明示的にリクエストする必要があります。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_id", 
        "summary": "ファイルを削除", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "files", 
        "description": "ファイルを削除します(完全に削除するか、ごみ箱に移動します)。\n\n項目がBoxから完全に削除されるか、ごみ箱に移動されるかは、会社の設定により決定されます。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "ファイルが正常に削除された場合は、空の応答を返します。"
          }, 
          "412": {
            "description": "`If-Match`ヘッダーが送信された後にファイルが変更されていた場合は、\nAPIから`412 Precondition Failed`エラーが返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/content": {
      "get": {
        "operationId": "get_files_id_content", 
        "summary": "ファイルをダウンロード", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "downloads", 
        "description": "ファイルのコンテンツをバイナリ形式で返します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "Range", 
            "description": "ダウンロードするコンテンツのバイト範囲。\n\n`{start_byte}-{end_byte}`の形式を使用して、ダウンロードするファイルのセクションを指定できます。", 
            "example": "0-1024", 
            "in": "header", 
            "required": false, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "BoxApi", 
            "description": "共有リンクを使用して共有されているファイルのURLとパスワード。ユーザーが他の方法でこのファイルにアクセスすることはできません。\n\n`shared_link=SHARED_LINK_URL`の形式、または`shared_link=[link]&shared_link_password=[password]`の形式(パスワードが設定されている場合)を使用します。", 
            "example": "shared_link=[link]", 
            "in": "header", 
            "required": false, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "version", 
            "description": "ダウンロードするファイルバージョン", 
            "example": 4, 
            "in": "query", 
            "required": false, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "202": {
            "description": "ファイルをダウンロードする準備ができていない場合は、クライアントがファイルをダウンロードできるようになるまでの秒数を示す`Retry-After`ヘッダーが返されます。\n\nこの応答は、ダウンロードリクエストの直前にファイルがアップロードされた場合に発生することがあります。", 
            "headers": {
              "Retry-After": {
                "description": "ダウンロードを再試行するまでの秒数", 
                "schema": {
                  "type": "integer"
                }
              }
            }
          }, 
          "302": {
            "description": "ファイルがダウンロード可能な場合、応答には`dl.boxcloud.com`上のファイルの`Location`ヘッダーが含まれます。\n\n`dl.boxcloud.com`というURLは永続的なものではないため、クライアントで実際にファイルをダウンロードするには、リダイレクト指示に従う必要があります。", 
            "headers": {
              "Location": {
                "description": "ダウンロードURLへのポインタ", 
                "schema": {
                  "type": "string", 
                  "format": "url"
                }
              }
            }
          }
        }
      }, 
      "post": {
        "operationId": "post_files_id_content", 
        "tags": [
          "File Uploads"
        ], 
        "x-box-reference-category": "uploads", 
        "summary": "ファイルバージョンをアップロード", 
        "description": "ファイルのコンテンツを更新します。ファイルサイズが50MBを超える場合は、チャンクアップロードAPIを使用することをお勧めします。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "Content-MD5", 
            "required": false, 
            "schema": {
              "type": "string"
            }, 
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc", 
            "in": "header", 
            "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA-1ハッシュを含むヘッダー(省略可)。"
          }
        ], 
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "attributes", 
                  "files"
                ], 
                "properties": {
                  "attributes": {
                    "description": "このリクエストのJSON属性。", 
                    "type": "object", 
                    "required": [
                      "name"
                    ], 
                    "properties": {
                      "name": {
                        "type": "string", 
                        "description": "ファイルの新しい名前(省略可)。指定した場合は、新しいバージョンがアップロードされると、ファイル名が変更されます。", 
                        "example": "Photo 2.0.png"
                      }, 
                      "content_modified_at": {
                        "type": "string", 
                        "format": "date-time", 
                        "example": "2012-12-12T10:53:43-08:00", 
                        "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                      }
                    }
                  }, 
                  "file": {
                    "type": "string", 
                    "format": "binary", 
                    "description": "Boxにアップロードするファイルのコンテンツ。"
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "リスト内の新しいファイルオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/content": {
      "options": {
        "operationId": "options_files_content", 
        "summary": "事前チェック", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "uploads", 
        "description": "ファイル全体をアップロードする前に、ファイルがBoxで受け入れられるかどうかをチェックします。", 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string", 
                    "description": "ファイルの名前", 
                    "example": "File.mp4"
                  }, 
                  "size": {
                    "type": "integer", 
                    "format": "int32", 
                    "description": "ファイルのサイズ(バイト単位)", 
                    "example": 1024
                  }, 
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      }, 
                      {
                        "description": "ファイルのアップロード先の親フォルダ"
                      }
                    ]
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "チェックに合格した場合、応答にはファイルのアップロード先として使用できるセッションURLが含まれます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrl"
                }
              }
            }
          }, 
          "409": {
            "description": "チェックに合格しなかった場合、応答にはその理由に関する詳細が含まれます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }, 
      "post": {
        "operationId": "post_files_content", 
        "tags": [
          "File Uploads"
        ], 
        "x-box-reference-category": "uploads", 
        "summary": "ファイルをアップロード", 
        "description": "小さいファイルをBoxにアップロードします。ファイルサイズが50MBを超える場合は、チャンクアップロードAPIを使用することをお勧めします。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "parameters": [
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "Content-MD5", 
            "required": false, 
            "schema": {
              "type": "string"
            }, 
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc", 
            "in": "header", 
            "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA-1ハッシュを含むヘッダー(省略可)。"
          }
        ], 
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "attributes", 
                  "files"
                ], 
                "properties": {
                  "attributes": {
                    "description": "このリクエストのJSON属性。", 
                    "type": "object", 
                    "required": [
                      "name", 
                      "parent"
                    ], 
                    "properties": {
                      "name": {
                        "type": "string", 
                        "description": "ファイルの名前", 
                        "example": "Photo.png"
                      }, 
                      "parent": {
                        "type": "object", 
                        "description": "ファイルのアップロード先の親フォルダ", 
                        "required": [
                          "id"
                        ], 
                        "properties": {
                          "id": {
                            "type": "string", 
                            "example": "124132", 
                            "description": "親フォルダのID。ユーザーのルートフォルダを指定するには、`0`を使用します。"
                          }
                        }
                      }, 
                      "content_created_at": {
                        "type": "string", 
                        "format": "date-time", 
                        "example": "2012-12-12T10:53:43-08:00", 
                        "description": "ファイルが最初に作成された日時を定義します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                      }, 
                      "content_modified_at": {
                        "type": "string", 
                        "format": "date-time", 
                        "example": "2012-12-12T10:53:43-08:00", 
                        "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                      }
                    }
                  }, 
                  "file": {
                    "type": "string", 
                    "format": "binary", 
                    "description": "Boxにアップロードするファイルのコンテンツ。"
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "リスト内の新しいファイルオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          }, 
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/upload_sessions": {
      "post": {
        "operationId": "post_files_upload_sessions", 
        "summary": "アップロードセッションを作成", 
        "tags": [
          "Chunked Uploads"
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "description": "新しいファイルのアップロードセッションを作成します。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "folder_id", 
                  "file_size", 
                  "file_name"
                ], 
                "properties": {
                  "folder_id": {
                    "description": "新しいファイルのアップロード先フォルダのID。", 
                    "type": "string", 
                    "example": "0"
                  }, 
                  "file_size": {
                    "description": "アップロードされるファイルの合計バイト数", 
                    "example": 104857600, 
                    "type": "integer", 
                    "format": "int64"
                  }, 
                  "file_name": {
                    "description": "新規ファイルの名前", 
                    "example": "Project.mov", 
                    "type": "string"
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "新しいアップロードセッションを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          }, 
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/upload_sessions": {
      "post": {
        "operationId": "post_files_id_upload_sessions", 
        "summary": "既存ファイルのアップロードセッションを作成", 
        "tags": [
          "Chunked Uploads"
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "description": "既存ファイルのアップロードセッションを作成します。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file_size"
                ], 
                "properties": {
                  "file_size": {
                    "description": "アップロードされるファイルの合計バイト数", 
                    "example": 104857600, 
                    "type": "integer", 
                    "format": "int64"
                  }, 
                  "file_name": {
                    "description": "新規ファイルの新しい名前(省略可)", 
                    "example": "Project.mov", 
                    "type": "string"
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "新しいアップロードセッションを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          }, 
          "409": {
            "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/upload_sessions/{upload_session_id}": {
      "get": {
        "operationId": "get_files_upload_sessions_id", 
        "summary": "アップロードセッションを取得", 
        "tags": [
          "Chunked Uploads"
        ], 
        "description": "アップロードセッションに関する情報を返します。", 
        "x-box-reference-category": "chunked_uploads", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "parameters": [
          {
            "name": "upload_session_id", 
            "description": "アップロードセッションのID。", 
            "example": "D5E3F7A", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "アップロードセッションオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          }
        }
      }, 
      "put": {
        "operationId": "put_files_upload_sessions_id", 
        "summary": "パーツをアップロード", 
        "tags": [
          "Chunked Uploads"
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "description": "ファイルのアップロードセッションのチャンクを更新します。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "parameters": [
          {
            "name": "upload_session_id", 
            "description": "アップロードセッションのID。", 
            "example": "D5E3F7A", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "Digest", 
            "description": "アップロードされたチャンクの[RFC3230][1]メッセージのダイジェスト。\n\nサポートされているのはSHA-1のみです。SHA-1ダイジェストはBase64でエンコードされている必要があります。このヘッダーの形式は、`sha=BASE64_ENCODED_DIGEST`です。\n\n[1]: https://tools.ietf.org/html/rfc3230", 
            "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=", 
            "in": "header", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "Content-Range", 
            "description": "チャンクのバイト範囲。\n\nこのセッションですでにアップロードされた部分の\n範囲と重複してはなりません。", 
            "example": "8388608-16777215/445856194", 
            "in": "header", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string", 
                "format": "binary"
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "チャンクは正常にアップロードされました。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadPart"
                }
              }
            }
          }, 
          "409": {
            "description": "チャンクがこれまでにアップロードされた別のチャンクと競合する場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "412": {
            "description": "前提条件を満たしていない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "416": {
            "description": "コンテンツの範囲がセッションの指定範囲と一致しない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_upload_sessions_id", 
        "summary": "アップロードセッションを中断", 
        "tags": [
          "Chunked Uploads"
        ], 
        "description": "アップロードセッションを中断して、アップロードされたすべてのデータを破棄します。\n\nこの操作は元に戻せません。", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "parameters": [
          {
            "name": "upload_session_id", 
            "description": "アップロードセッションのID。", 
            "example": "D5E3F7A", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "セッションが正常に中断された場合は、空の応答が返されます。"
          }
        }
      }
    }, 
    "/files/upload_sessions/{upload_session_id}/parts": {
      "get": {
        "operationId": "get_files_upload_sessions_id_parts", 
        "summary": "パーツのリストを取得", 
        "tags": [
          "Chunked Uploads"
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "description": "現在までにアップロードセッションにアップロードされたチャンクのリストを返します。", 
        "parameters": [
          {
            "name": "upload_session_id", 
            "description": "アップロードセッションのID。", 
            "example": "D5E3F7A", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "offset", 
            "description": "応答が開始される項目のオフセット。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 0
            }
          }, 
          {
            "name": "limit", 
            "description": "返す項目の1ページあたりの最大数。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 100, 
              "maximum": 1000
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "アップロードされたパーツのリストを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadParts"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/upload_sessions/{upload_session_id}/commit": {
      "post": {
        "operationId": "post_files_upload_sessions_id_commit", 
        "summary": "アップロードセッションをコミット", 
        "tags": [
          "Chunked Uploads"
        ], 
        "x-box-reference-category": "chunked_uploads", 
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0", 
            "description": "ファイルアップロードに使用するサーバー"
          }
        ], 
        "description": "アップロードセッションを閉じて、アップロード済みのチャンクからファイルを作成します。", 
        "parameters": [
          {
            "name": "upload_session_id", 
            "description": "アップロードセッションのID。", 
            "example": "D5E3F7A", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "Digest", 
            "description": "ファイル全体の[RFC3230][1]メッセージのダイジェスト。\n\nサポートされているのはSHA-1のみです。SHA-1ダイジェストはBase64でエンコードされている必要があります。このヘッダーの形式は、`sha=BASE64_ENCODED_DIGEST`です。\n\n[1]: https://tools.ietf.org/html/rfc3230", 
            "in": "header", 
            "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "If-None-Match", 
            "description": "項目の`etag`が指定した`etag`と一致しない場合にのみ変更を適用し、コンテンツが変更されている場合にのみ項目を更新します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "parts"
                ], 
                "properties": {
                  "parts": {
                    "type": "array", 
                    "items": {
                      "$ref": "#/components/schemas/UploadPart--Mini"
                    }
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "リスト内のファイルオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          }, 
          "202": {
            "description": "すべてのチャンクがすでにアップロードされているものの、まだ処理されていない場合に返されます。\n\nアップロードセッションを調べてチャンク処理の進捗状況に関する詳細情報を取得し、すべてのチャンクが処理された後でファイルのコミットを再試行します。", 
            "headers": {
              "Retry-After": {
                "description": "コミットリクエストの再試行までクライアントが待機する秒数を示します。", 
                "schema": {
                  "type": "integer"
                }
              }
            }
          }, 
          "409": {
            "description": "ターゲットフォルダに同じ名前のファイルがすでに存在する場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "412": {
            "description": "`If-Match`または`If-None-Match`条件に一致しなかった場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/copy": {
      "post": {
        "operationId": "post_files_id_copy", 
        "summary": "ファイルをコピー", 
        "description": "ファイルのコピーを作成します。", 
        "tags": [
          "Files"
        ], 
        "x-box-reference-category": "files", 
        "x-box-enable-explorer": true, 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "parent"
                ], 
                "properties": {
                  "name": {
                    "type": "string", 
                    "description": "An optional different name for the new file.\n\nNames can only contain basic, printable\nASCII characters, without any slashes or\ntrailing spaces.\n\nBoth `.` and `..` are protected names.", 
                    "example": "FileCopy.txt", 
                    "maxLength": 255
                  }, 
                  "version": {
                    "type": "string", 
                    "description": "コピーする特定のファイルバージョンのID(省略可)", 
                    "example": "0"
                  }, 
                  "parent": {
                    "type": "object", 
                    "description": "The destination folder to copy the file to.", 
                    "required": [
                      "id"
                    ], 
                    "properties": {
                      "id": {
                        "type": "string", 
                        "description": "The ID of folder to copy the file to.", 
                        "example": "0"
                      }
                    }
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "コピーされたファイルを表す新しいファイルオブジェクトを返します。\n\n[Some fields are optional](#file)。[fields](#post-files-id-copy--request--fields)パラメータを使用して明示的にリクエストする必要があります。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }, 
          "409": {
            "description": "* `operation_blocked_temporary`: Returned if either of the destination\n  or source folders is locked due to another move, copy, delete or\n  restore operation in process.\n\n  The operation can be retried at a later point.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/thumbnail.{extension}": {
      "get": {
        "operationId": "get_files_id_thumbnail_id", 
        "summary": "ファイルサムネイルを取得", 
        "description": "ファイルのサムネイル(小さい画像レプリゼンテーション)を取得します。\n\n`.png`形式の場合は、`32x32`、`64x64`、`128x128`、および`256x256`のサイズを返すことができ、`.jpg`形式の場合は、`32x32`、`94x94`、`160x160`、`320x320`の\nサイズを返すことができます。\n\nサムネイルを生成できる画像および動画ファイルの形式については、[found on our community site](https://community.box.com/t5/コンテンツの移動とプレビューのハウツーガイド/Boxでプレビュー出来るファイルタイプ一覧について/ta-p/12310)を参照してください。", 
        "tags": [
          "Files", 
          "Thumbnails"
        ], 
        "x-box-reference-category": "files", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "extension", 
            "description": "サムネイルのファイル形式", 
            "in": "path", 
            "required": true, 
            "example": "png", 
            "schema": {
              "type": "string", 
              "enum": [
                "png", 
                "jpg"
              ]
            }
          }, 
          {
            "name": "min_height", 
            "description": "サムネイルの高さの最小値", 
            "in": "query", 
            "example": 32, 
            "schema": {
              "type": "integer", 
              "format": "int64"
            }
          }, 
          {
            "name": "min_width", 
            "description": "サムネイルの幅の最小値", 
            "in": "query", 
            "example": 32, 
            "schema": {
              "type": "integer", 
              "format": "int64"
            }
          }, 
          {
            "name": "max_height", 
            "description": "サムネイルの高さの最大値", 
            "in": "query", 
            "required": false, 
            "example": 32, 
            "schema": {
              "type": "integer", 
              "format": "int64"
            }
          }, 
          {
            "name": "max_width", 
            "description": "サムネイルの幅の最大値", 
            "in": "query", 
            "required": false, 
            "example": 32, 
            "schema": {
              "type": "integer", 
              "format": "int64"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "サムネイルを作成できる場合は、応答の本文内でサムネイルデータが返されます。", 
            "content": {
              "image/png": {
                "schema": {
                  "type": "string", 
                  "format": "binary", 
                  "description": "サムネイル"
                }
              }, 
              "image/jpg": {
                "schema": {
                  "type": "string", 
                  "format": "binary", 
                  "description": "サムネイル"
                }
              }
            }
          }, 
          "202": {
            "description": "サムネイルがまだ生成されていない場合は、プレースホルダグラフィックを指す`Location`ヘッダーが返されます。", 
            "headers": {
              "Retry-After": {
                "description": "サムネイルが利用可能になるまでの時間(秒)。\n\nアプリケーションはこの時間が経過するまでサムネイルの取得を再試行しません。", 
                "schema": {
                  "type": "integer", 
                  "format": "int64"
                }
              }, 
              "Location": {
                "description": "サムネイルが生成されるまでの間使用できるプレースホルダ画像へのポインタ。", 
                "schema": {
                  "type": "string", 
                  "format": "url"
                }
              }
            }
          }, 
          "302": {
            "description": "このファイルタイプのサムネイルをBoxで生成できない場合は、このファイルタイプのプレースホルダグラフィックを指す`Location`ヘッダーが返されます。", 
            "headers": {
              "Location": {
                "description": "このファイルタイプに使用できるプレースホルダグラフィックへのポインタ。", 
                "schema": {
                  "type": "string", 
                  "format": "url"
                }
              }
            }
          }, 
          "404": {
            "description": "このファイルのサムネイルをBoxで生成できない場合は、`preview_cannot_be_generated`というコードとともに`404`が返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/collaborations": {
      "get": {
        "operationId": "get_files_id_collaborations", 
        "summary": "ファイルのコラボレーションを取得", 
        "description": "ファイルでのコラボレーションのリストを取得します。そのファイルに対するアクセス権限を持つすべてのユーザーを返します。", 
        "tags": [
          "Collaborations", 
          "Files"
        ], 
        "x-box-reference-category": "file_collaborations", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "limit", 
            "description": "返す項目の1ページあたりの最大数。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 100, 
              "maximum": 1000
            }
          }, 
          {
            "name": "offset", 
            "description": "応答が開始される項目のオフセット。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 0
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "コラボレーションオブジェクトのコレクションを返します。このファイルを関連するコラボレーションが存在しない場合は、空のコレクションが返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborations"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/comments": {
      "get": {
        "operationId": "get_files_id_comments", 
        "summary": "ファイルのコメントのリストを取得", 
        "description": "ファイルに関するコメントのリストを取得します。", 
        "tags": [
          "Comments", 
          "Files"
        ], 
        "x-box-reference-category": "comments", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "limit", 
            "description": "返す項目の1ページあたりの最大数。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 100, 
              "maximum": 1000
            }
          }, 
          {
            "name": "offset", 
            "description": "応答が開始される項目のオフセット。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 0
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "コメントオブジェクトのコレクションを返します。このファイルに関するコメントが存在しない場合は、空のコレクションが返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comments"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/tasks": {
      "get": {
        "operationId": "get_files_id_tasks", 
        "summary": "ファイルタスクを取得", 
        "description": "そのファイルに関連するすべてのタスクのリストを取得します。このエンドポイントはページングをサポートしていません。", 
        "tags": [
          "Tasks", 
          "Files"
        ], 
        "x-box-reference-category": "tasks", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "タスクオブジェクトのコレクションを返します。このファイルに関連するタスクが存在しない場合は、空のコレクションが返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            }
          }, 
          "404": {
            "description": "Returns an error if the file for the given ID does not exist or\nis inaccessible to your account.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/trash": {
      "get": {
        "operationId": "get_files_id_trash", 
        "summary": "ごみ箱内のファイルを取得", 
        "tags": [
          "Files", 
          "Trash"
        ], 
        "x-box-reference-category": "trashed_files", 
        "description": "ごみ箱に移動されたファイルを取得します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "ごみ箱に移動された日時の情報を含め、ごみ箱内にあるファイルを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }, 
          "404": {
            "description": "ファイルがごみ箱内にない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_id_trash", 
        "summary": "ファイルを完全に削除", 
        "tags": [
          "Files", 
          "Trash"
        ], 
        "x-box-reference-category": "trashed_files", 
        "description": "ごみ箱内にあるファイルを完全に削除します。このアクションは取り消せません。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "ファイルが完全に削除された場合は、空の応答を返します。"
          }, 
          "404": {
            "description": "ファイルがごみ箱内にない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/versions": {
      "get": {
        "operationId": "get_files_id_versions", 
        "summary": "すべてのファイルバージョンのリストを取得", 
        "tags": [
          "Files", 
          "File Versions"
        ], 
        "x-box-reference-category": "file_versions", 
        "description": "ファイルのすべてのバージョンに関する情報を取得します。このエンドポイントを使用すると、古いバージョンのファイルに関する情報を取得できます。\n\nバージョンが追跡されるのは、プレミアムアカウントを持つBoxユーザーのファイルに関してのみです。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "limit", 
            "description": "返す項目の1ページあたりの最大数。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 100, 
              "maximum": 1000
            }
          }, 
          {
            "name": "offset", 
            "description": "応答が開始される項目のオフセット。", 
            "in": "query", 
            "required": false, 
            "example": 1000, 
            "schema": {
              "type": "integer", 
              "format": "int64", 
              "default": 0
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "ファイルバージョンの配列を返します。\n\nこのファイルに過去のバージョンがない場合は、空の配列が返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersions"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/versions/{file_version_id}": {
      "get": {
        "operationId": "get_files_id_versions_id", 
        "summary": "ファイルバージョンを取得", 
        "tags": [
          "Files", 
          "File Versions"
        ], 
        "x-box-reference-category": "file_versions", 
        "description": "特定の古いファイルバージョンを取得します。\n\nバージョンが追跡されるのは、プレミアムアカウントを持つBoxユーザーのファイルに関してのみです。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "file_version_id", 
            "description": "ファイルバージョンのID", 
            "in": "path", 
            "required": true, 
            "example": "1234", 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "ファイルオブジェクトを返します。\n\n[Some fields are optional](#file)。[fields](#get-files-id-versions--request--fields)パラメータを使用して明示的にリクエストする必要があります。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_id_versions_id", 
        "summary": "ファイルバージョンを削除", 
        "tags": [
          "Files", 
          "File Versions"
        ], 
        "x-box-reference-category": "file_versions", 
        "description": "特定のファイルバージョンをごみ箱に移動します。\n\nバージョンが追跡されるのは、プレミアムアカウントを持つBoxユーザーのファイルに関してのみです。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "file_version_id", 
            "description": "ファイルバージョンのID", 
            "in": "path", 
            "required": true, 
            "example": "1234", 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "ファイルが正常に削除された場合は、空の応答を返します。"
          }
        }
      }
    }, 
    "/files/{file_id}/versions/current": {
      "post": {
        "operationId": "post_files_id_versions_current", 
        "summary": "ファイルバージョンを復元", 
        "tags": [
          "Files", 
          "File Versions"
        ], 
        "x-box-reference-category": "file_versions", 
        "description": "ファイルの以前のバージョンを復元します。\n\n\n以前のバージョンが存在する場合は、この方法を使用して古いバージョンのいずれかをバージョン履歴の先頭に移動できます。\n\n実際には、古いバージョンの新しいコピーが作成されて、バージョン履歴の先頭に配置されます。このファイルは古いバージョンとまったく同じ内容になり、SHA1/etagやファイル名も同じになります。\n\nコメントなど、他のプロパティが以前の値に更新されることはありません。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "復元するファイルバージョン", 
                "properties": {
                  "id": {
                    "type": "string", 
                    "description": "ファイルバージョンID", 
                    "example": "11446498"
                  }, 
                  "type": {
                    "type": "string", 
                    "description": "復元するタイプ", 
                    "example": "file", 
                    "enum": [
                      "file_version"
                    ]
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "新しく作成されたファイルバージョンオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersion"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/metadata": {
      "get": {
        "operationId": "get_files_id_metadata", 
        "summary": "ファイルのメタデータのリストを取得", 
        "tags": [
          "File & Folder Metadata"
        ], 
        "x-box-reference-category": "file_metadata", 
        "description": "指定したファイルのすべてのメタデータを取得します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "ファイルに関連付けられたすべてのメタデータを返します。\n\nこのAPIはページ割りをサポートしていないため、常にファイルに関連付けられたすべてのメタデータを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadatas"
                }
              }
            }
          }
        }
      }
    }, 
    "/files/{file_id}/metadata/{scope}/{template_key}": {
      "get": {
        "operationId": "get_files_id_metadata_id_id", 
        "summary": "特定のファイルメタデータを取得", 
        "tags": [
          "Files & Folder Metadata"
        ], 
        "x-box-reference-category": "file_metadata", 
        "description": "ファイルの特定のメタデータテンプレートインスタンスを取得します", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "scope", 
            "description": "メタデータテンプレートのスコープ", 
            "example": "enterprise_27335", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "enum": [
                "global", 
                "enterprise_<id>"
              ]
            }
          }, 
          {
            "name": "template_key", 
            "description": "メタデータテンプレートの名前", 
            "example": "blueprintTemplate", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "201": {
            "description": "An instance of the metadata template that includes\nadditional \"key:value\" pairs defined by the user or\nan application.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }, 
          "404": {
            "description": "指定したメタデータテンプレートがこのファイルに適用されていない場合に返されます。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "post": {
        "operationId": "post_files_id_metadata_id_id", 
        "summary": "ファイルのメタデータを作成", 
        "tags": [
          "File & Folder Metadata"
        ], 
        "x-box-reference-category": "file_metadata", 
        "description": "指定したテンプレートに基づいてファイルのメタデータを作成します。\n\nメタデータテンプレートに存在する値のみを使用できます。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "scope", 
            "description": "メタデータテンプレートのスコープ", 
            "example": "enterprise_27335", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "enum": [
                "global", 
                "enterprise_<id>"
              ]
            }
          }, 
          {
            "name": "template_key", 
            "description": "メタデータテンプレートの名前", 
            "example": "blueprintTemplate", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object", 
                "example": {
                  "example_key": "Example Value"
                }, 
                "additionalProperties": {
                  "type": "string", 
                  "example": "Example Value"
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "カスタムテンプレートデータを含め、指定されたテンプレートのインスタンスを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }, 
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`PUT` method.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "put": {
        "operationId": "put_files_id_metadata_id_id", 
        "summary": "ファイルメタデータを更新", 
        "tags": [
          "File & Folder Metadata"
        ], 
        "x-box-reference-category": "file_metadata", 
        "description": "ファイルのメタデータを更新します。\n\nメタデータインスタンスを更新できるのは、そのインスタンスがすでに存在している場合のみです。メタデータを編集する際には、メタデータテンプレートのスキーマに準拠した値のみを使用できます。\n\n更新はアトミックに適用されます。操作の適用中にエラーが発生した場合、メタデータインスタンスは変更前の状態のまま保たれます。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "scope", 
            "description": "メタデータテンプレートのスコープ", 
            "example": "enterprise_27335", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "enum": [
                "global", 
                "enterprise_<id>"
              ]
            }
          }, 
          {
            "name": "template_key", 
            "description": "メタデータテンプレートの名前", 
            "example": "blueprintTemplate", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "メタデータに変更を加えるための[JSON-Patch](https://tools.ietf.org/html/rfc6902)の指定。変更は操作オブジェクトのJSON配列として表されます。", 
                "type": "array", 
                "items": {
                  "$ref": "#/components/schemas/MetadataPatchItem"
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "カスタムテンプレートデータを含め、更新されたメタデータテンプレートインスタンスを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }, 
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`PUT` method.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_id_metadata_id_id", 
        "summary": "ファイルメタデータを削除", 
        "tags": [
          "File & Folder Metadata"
        ], 
        "x-box-reference-category": "file_metadata", 
        "description": "ファイルメタデータを削除します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "scope", 
            "description": "メタデータテンプレートのスコープ", 
            "example": "enterprise_27335", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "enum": [
                "global", 
                "enterprise_<id>"
              ]
            }
          }, 
          {
            "name": "template_key", 
            "description": "メタデータテンプレートの名前", 
            "example": "blueprintTemplate", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "メタデータが正常に削除された場合は空の応答を返します。"
          }
        }
      }
    }, 
    "/files/{file_id}/watermark": {
      "get": {
        "operationId": "get_files_id_watermark", 
        "summary": "ファイルの電子すかしを取得", 
        "tags": [
          "Watermarks"
        ], 
        "x-box-reference-category": "file_watermarks", 
        "description": "ファイルの電子すかしを取得します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "このファイルに関連付けられている電子すかしに関する情報を含むオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watermark"
                }
              }
            }
          }, 
          "404": {
            "description": "ファイルに電子すかしが適用されていない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "put": {
        "operationId": "put_files_id_watermark", 
        "summary": "ファイルに電子すかしを適用", 
        "tags": [
          "Watermarks"
        ], 
        "x-box-reference-category": "file_watermarks", 
        "description": "ファイルの電子すかしを適用または更新します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "watermark"
                ], 
                "properties": {
                  "watermark": {
                    "type": "object", 
                    "description": "ファイルに適用する電子すかし", 
                    "required": [
                      "imprint"
                    ], 
                    "properties": {
                      "imprint": {
                        "type": "string", 
                        "example": "default", 
                        "description": "適用する電子すかしのタイプ。\n\n現在サポートされているオプションは1つのみです。", 
                        "enum": [
                          "default"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "このファイルに電子すかしがすでに適用されている場合は、更新された電子すかしを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watermark"
                }
              }
            }
          }, 
          "201": {
            "description": "このファイルにまだ電子すかしが適用されていない場合は、新しい電子すかしを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watermark"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_files_id_watermark", 
        "summary": "ファイルの電子すかしを削除", 
        "tags": [
          "Watermark"
        ], 
        "x-box-reference-category": "file_watermarks", 
        "description": "ファイルから電子すかしを削除します。", 
        "parameters": [
          {
            "name": "file_id", 
            "description": "ファイルのID。", 
            "example": "12345", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "responses": {
          "204": {
            "description": "電子すかしが正常に削除された場合は、空の応答が返されます。"
          }, 
          "404": {
            "description": "ファイルに電子すかしが適用されていない場合は、エラーを返します", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }, 
    "/folders/{folder_id}": {
      "get": {
        "operationId": "get_folders_id", 
        "summary": "フォルダを取得", 
        "tags": [
          "Folders"
        ], 
        "x-box-reference-category": "folders", 
        "x-box-enable-explorer": true, 
        "x-box-sanitized": true, 
        "description": "Retrieves details for a folder, including the first 100 entries\nin the folder.\n\nTo fetch more items within the folder, please use the\n[Get items in a folder](#get-folders-id-items) endpoint.", 
        "parameters": [
          {
            "name": "folder_id", 
            "description": "The unique identifier that represent a folder.\n\nThe ID for any folder can be determined\nby visiting this folder in the web application\nand copying the ID from the URL. For example,\nfor the url `https://*.app.box.com/folder/123`\nthe `folder_id` is `123`.\n\nThe root folder of a Box account is\nalways represented by the ID `0`.", 
            "example": "0", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "nullable": false
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "responses": {
          "200": {
            "description": "Returns a folder, including the first 100 entries in the folder.\n\nTo fetch more items within the folder, please use the\n[Get items in a folder](#get-folders-id-items) endpoint.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#get_folders_id-fields)\nparameter.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }, 
          "403": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "404": {
            "description": "Returned if the folder is not found, or the user does not\nhave access to the folder.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "405": {
            "description": "Returned if the `folder_id` is not in a recognized format.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "post": {
        "operationId": "post_folders_id", 
        "summary": "フォルダを復元", 
        "tags": [
          "Trash", 
          "Folders"
        ], 
        "x-box-reference-category": "trashed_folders", 
        "description": "Restores a folder that has been moved to the trash.\n\n# Folder locking\n\nDuring this operation, part of the file tree will be locked, mainly\nthe source folder and all of its descendants, as well as the destination\nfolder.\n\nFor the duration of the operation, no other move, copy, delete, or restore\noperation can performed on any of the locked folders.", 
        "parameters": [
          {
            "name": "folder_id", 
            "description": "The unique identifier that represent a folder.\n\nThe ID for any folder can be determined\nby visiting this folder in the web application\nand copying the ID from the URL. For example,\nfor the url `https://*.app.box.com/folder/123`\nthe `folder_id` is `123`.\n\nThe root folder of a Box account is\nalways represented by the ID `0`.", 
            "example": "0", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "nullable": false
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "フォルダの新しい名前(省略可)。", 
                    "example": "Restored Photos", 
                    "type": "string"
                  }, 
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      }, 
                      {
                        "description": "フォルダの復元先となる親フォルダ(省略可)。\n\n元の親フォルダがすでに存在しない場合や、ユーザーが元の親フォルダに対するアクセス権限をすでに失っている場合に使用します。"
                      }
                    ]
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "201": {
            "description": "フォルダが復元されたときにフォルダオブジェクトを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }, 
          "403": {
            "description": "フォルダの復元先フォルダに対してユーザーがアクセス権限を持っていない場合、またはごみ箱からフォルダを復元する権限を持っていない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "404": {
            "description": "フォルダがごみ箱内にない場合は、エラーを返します。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }, 
          "409": {
            "description": "* Returned an error if there is a folder with the same name\n  in the destination folder.\n\n* `operation_blocked_temporary`: Returned if either of the destination\n  or source folders is locked due to another move, copy, delete or\n  restore operation in process.\n\n  The operation can be retried at a later point.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "put": {
        "operationId": "put_folders_id", 
        "summary": "フォルダを更新", 
        "description": "Updates a folder. This can be also be used to move the folder,\ncreate shared links, update collaborations, and more.\n\n# Folder locking\n\nWhen moving a folder, part of the file tree will be locked, mainly\nthe source folder and all of its descendants, as well as the destination\nfolder.\n\nFor the duration of the move, no other move, copy, delete, or restore\noperation can performed on any of the locked folders.", 
        "tags": [
          "Folders"
        ], 
        "x-box-reference-category": "folders", 
        "x-box-enable-explorer": true, 
        "parameters": [
          {
            "name": "folder_id", 
            "description": "The unique identifier that represent a folder.\n\nThe ID for any folder can be determined\nby visiting this folder in the web application\nand copying the ID from the URL. For example,\nfor the url `https://*.app.box.com/folder/123`\nthe `folder_id` is `123`.\n\nThe root folder of a Box account is\nalways represented by the ID `0`.", 
            "example": "0", 
            "in": "path", 
            "required": true, 
            "schema": {
              "type": "string", 
              "nullable": false
            }
          }, 
          {
            "name": "fields", 
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.", 
            "in": "query", 
            "example": "id,type,name", 
            "required": false, 
            "explode": false, 
            "schema": {
              "type": "array", 
              "items": {
                "type": "string"
              }
            }
          }, 
          {
            "name": "If-Match", 
            "description": "この項目が最近変更されていないことを確認するには、その項目の現在の`etag`がこのヘッダーに渡された`etag`と一致しているかどうかを確認します。", 
            "in": "header", 
            "required": false, 
            "example": 1, 
            "schema": {
              "type": "string"
            }
          }
        ], 
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string", 
                    "description": "フォルダの新しい名前", 
                    "example": "New Folder"
                  }, 
                  "description": {
                    "type": "string", 
                    "description": "The optional description of this folder", 
                    "maxLength": 256, 
                    "example": "Legal contracts for the new ACME deal", 
                    "nullable": false
                  }, 
                  "sync_state": {
                    "type": "string", 
                    "example": "synced", 
                    "nullable": false, 
                    "description": "Specifies if the user has marked Box Drive or their mobile apps\nto sync this folder to their device.", 
                    "enum": [
                      "synced", 
                      "not_synced", 
                      "partially_synced"
                    ]
                  }, 
                  "can_non_owners_invite": {
                    "type": "boolean", 
                    "example": true, 
                    "description": "Specifies if users who are not the owner\nof the folder can invite new collaborators to the folder."
                  }, 
                  "is_collaboration_restricted_to_enterprise": {
                    "type": "boolean", 
                    "example": true, 
                    "description": "Specifies if new invites to this folder are restricted to users\nwithin the enterprise. This does not affect existing\ncollaborations."
                  }, 
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      }, 
                      {
                        "description": "このフォルダの親フォルダ。フォルダを移動したり、ごみ箱からフォルダを復元したりするには、これを使用します。"
                      }
                    ]
                  }, 
                  "shared_link": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SharedLink--Writable"
                      }, 
                      {
                        "description": "このフォルダの共有リンクの作成を有効にします"
                      }
                    ]
                  }, 
                  "folder_upload_email": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/FolderUploadEmail"
                      }, 
                      {
                        "description": "ユーザーがファイルをフォルダに直接アップロードするためのメールアドレスを有効にします"
                      }
                    ]
                  }, 
                  "owned_by": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Owner"
                      }, 
                      {
                        "description": "このフォルダを所有するユーザー"
                      }
                    ]
                  }, 
                  "tags": {
                    "type": "array", 
                    "example": [
                      "approved"
                    ], 
                    "items": {
                      "type": "string"
                    }, 
                    "description": "The tags for this item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update this field."
                  }, 
                  "collections": {
                    "type": "array", 
                    "description": "このフォルダが属するコレクション。", 
                    "items": {
                      "$ref": "#/components/schemas/Parent"
                    }
                  }
                }
              }
            }
          }
        }, 
        "responses": {
          "200": {
            "description": "更新されたフォルダのフォルダオブジェクトを返します。\n\n[Some fields are optional](#folder)。[fields](#put-folders-id--request--fields)パラメータを使用して明示的にリクエストする必要があります。", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }, 
          "409": {
            "description": "* `operation_blocked_temporary`: Returned if either of the destination\n  or source folders is locked due to another move, copy, delete or\n  restore operation in process.\n\n  The operation can be retried at a later point.", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }, 
      "delete": {
        "operationId": "delete_folders_id", 
        "summary": "フォルダを削除", 
        "description": "Deletes a folder, either permanently or by moving it to\nthe trash.\n\n# Folder locking\n\nThe the enterprise settings determine whether the item will\nbe permanently deleted from Box or moved to the trash.\n\nDuring this operation, part of the file tree will be locked, mainly\nthe source folder and all of its descendants.\n\nFor the duration of the operation, no other move, copy, delete, or restore\noperation can performed on any of the locked folders.", 
        "tags": [
          "Folders"
        ], 
        "x-box-reference-category": "folders", 
        "parameters": [
          {
            "name": "folder_id", 
[...]
