{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://developer.box.com)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権限を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://developer.box.com",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2025.0",
        "x-box-commit-hash": "c8490cfcb1"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー。"
        }
    ],
    "paths": {
        "/docgen_templates": {
            "post": {
                "operationId": "post_docgen_templates_v2025.0",
                "summary": "Box Doc Genテンプレートを作成",
                "description": "ファイルをBox Doc Genテンプレートとして設定します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "description": "Marks the provided file as a Box Doc Gen template.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenTemplateCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "現在Box Doc Genテンプレートとして設定されているファイル。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate--Base"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_v2025.0",
                "summary": "Box Doc Genテンプレートのリストを取得",
                "description": "ユーザーがコラボレータになっているBox Doc Genテンプレートのリストを取得します。",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "テンプレートのコレクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_templates/{template_id}": {
            "delete": {
                "operationId": "delete_docgen_templates_id_v2025.0",
                "summary": "Box Doc Genテンプレートを削除",
                "description": "ファイルのBox Doc Genテンプレートの設定を解除します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Box Doc Genテンプレートの設定が解除されるファイルのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "ファイルのBox Doc Genテンプレートの設定が解除された場合に空のレスポンスを返します。"
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_id_v2025.0",
                "summary": "IDを指定してBox Doc Genテンプレートを取得",
                "description": "特定のBox Doc Genテンプレートの詳細のリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Box Doc GenテンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "テンプレートを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_templates/{template_id}/tags": {
            "get": {
                "operationId": "get_docgen_templates_id_tags_v2025.0",
                "summary": "テンプレート内のすべてのBox Doc Genテンプレートタグのリストを取得",
                "description": "Box Doc Genテンプレート内のすべてのタグのリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "テンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "template_version_id",
                        "in": "query",
                        "description": "テンプレートバージョンのID。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ドキュメント生成テンプレートタグのリスト。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTags"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "ファイルのタグを処理しています。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTagsProcessingMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "リクエストされたリソースは見つかりませんが、将来使用できる可能性があります。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_jobs/{job_id}": {
            "get": {
                "operationId": "get_docgen_jobs_id_v2025.0",
                "summary": "IDを指定してBox Doc Genジョブを取得",
                "description": "Box Doc Genジョブの詳細を取得します。",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "Box Doc GenジョブのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genジョブの詳細。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJob"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ジョブが見つからない場合、または関連付けられたジョブへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_jobs": {
            "get": {
                "operationId": "get_docgen_jobs_v2025.0",
                "summary": "すべてのBox Doc Genジョブのリストを取得",
                "description": "1人のユーザーのすべてのBox Doc Genジョブのリストを取得します。",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genジョブのリスト。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs--Full"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_template_jobs/{template_id}": {
            "get": {
                "operationId": "get_docgen_template_jobs_id_v2025.0",
                "summary": "テンプレートのすべてのBox Doc Genジョブのリストを取得",
                "description": "このテンプレートを使用するユーザーのジョブのリストを取得します。",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "ジョブの取得対象となるテンプレートのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1つのBox Doc Genテンプレート。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Genテンプレート"
                ]
            }
        },
        "/docgen_batch_jobs/{batch_id}": {
            "get": {
                "operationId": "get_docgen_batch_jobs_id_v2025.0",
                "summary": "バッチIDを指定してBox Doc Genジョブを取得",
                "description": "バッチ内のBox Doc Genジョブのリストを取得します。",
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "description": "Box Doc GenのバッチID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Doc Genのバッチ内のBox Doc Genジョブのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ユーザーが形式の正しくないマーカーや限界値を渡した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "バッチが見つからない場合、または関連付けられたバッチへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_batches": {
            "post": {
                "operationId": "post_docgen_batches_v2025.0",
                "summary": "Box Doc Genテンプレートを使用してドキュメントを生成",
                "description": "Box Doc Genテンプレートを使用してドキュメントを生成します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenBatchCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "作成されたバッチID。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenBatch--Base"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クライアントには、リクエストされたコンテンツまたはリソースへのアクセス権限がありません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "ユーザーが一定時間内に送信したリクエストが多すぎます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "サーバーで予期しない状況が発生しました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/enterprise_configurations/{enterprise_id}": {
            "get": {
                "operationId": "get_enterprise_configurations_id_v2025.0",
                "summary": "Enterprise構成を取得",
                "description": "Enterprise構成を取得します。",
                "parameters": [
                    {
                        "name": "enterprise_id",
                        "in": "path",
                        "description": "企業のID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "3442311"
                    },
                    {
                        "name": "categories",
                        "in": "query",
                        "description": "Enterprise構成のカテゴリのコンマ区切りリスト。使用可能な値: `security`、`content_and_sharing`、`user_settings`、`shield`。",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": [
                            "security",
                            "content_and_sharing",
                            "user_settings",
                            "shield"
                        ],
                        "explode": false
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Enterprise構成を返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnterpriseConfiguration"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "enterprise_configurations"
            }
        },
        "/hubs": {
            "get": {
                "operationId": "get_hubs_v2025.0",
                "summary": "すべてのBox Hubのリストを取得",
                "description": "リクエストしているユーザーのすべてのBox Hubを取得します。",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Box Hubを検索するためのクエリ文字列。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Box"
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "取得するBox Hubのスコープ。使用可能な値には、`editable`、`view_only`、`all`があります。デフォルトは`all`です。",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "all"
                        },
                        "example": "all"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "結果の並べ替えに使用するフィールド。使用可能な値には、`name`、`updated_at`、`last_accessed_at`、`view_count`、`relevance`があります。デフォルトは`relevance`です。",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "relevance"
                        },
                        "example": "name"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "結果を並べ替える方向。アルファベットの昇順 (`ASC`) または降順 (`DESC`) のいずれかを指定できます。",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        },
                        "example": "ASC"
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "指定したユーザーまたは企業のすべてのBox Hubを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hubs"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            },
            "post": {
                "operationId": "post_hubs_v2025.0",
                "summary": "Box Hubを作成",
                "description": "新しいBox Hubを作成します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいHubオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hub"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "リクエストパラメータのいずれかが無効な場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ユーザーにHubを作成するための適切な権限がない場合にエラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            }
        },
        "/enterprise_hubs": {
            "get": {
                "operationId": "get_enterprise_hubs_v2025.0",
                "summary": "リクエストしている企業のすべてのBox Hubのリストを取得",
                "description": "指定した企業のすべてのBox Hubを取得します。\n\nこのコールは、GCMスコープが設定されている、企業の管理者またはHub共同管理者が実行できます。",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Box Hubを検索するためのクエリ文字列。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Box"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "結果の並べ替えに使用するフィールド。使用可能な値には、`name`、`updated_at`、`last_accessed_at`、`view_count`、`relevance`があります。デフォルトは`relevance`です。",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "relevance"
                        },
                        "example": "name"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "結果を並べ替える方向。アルファベットの昇順 (`ASC`) または降順 (`DESC`) のいずれかを指定できます。",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        },
                        "example": "ASC"
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "指定したユーザーまたは企業のすべてのBox Hubを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hubs"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            }
        },
        "/hubs/{hub_id}": {
            "get": {
                "operationId": "get_hubs_id_v2025.0",
                "summary": "IDを指定してBox Hubの情報を取得",
                "description": "IDを指定してBox Hubの詳細を取得します。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "path",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hubオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hub"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hubが見つからない場合、またはユーザーにHubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            },
            "put": {
                "operationId": "put_hubs_id_v2025.0",
                "summary": "IDを指定してBox Hubの情報を更新",
                "description": "Box Hubを更新します。タイトル、説明、またはBox Hubの設定の変更に使用できます。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "path",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hubオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hub"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hubが見つからない場合、またはユーザーにHubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            },
            "delete": {
                "operationId": "delete_hubs_id_v2025.0",
                "summary": "Box Hubを削除",
                "description": "1つのBox Hubを削除します。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "path",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Hubが正常に削除された場合は、空のレスポンスが返されます。"
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hubが見つからないかすでに削除されている場合、またはユーザーにHubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            }
        },
        "/hubs/{hub_id}/copy": {
            "post": {
                "operationId": "post_hubs_id_copy_v2025.0",
                "summary": "Box Hubをコピー",
                "description": "Box Hubのコピーを作成します。\n\n元のBox Hubは変更されません。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "path",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubCopyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいHubオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hub"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ユーザーにHubを作成するための適切な権限がない場合にエラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hubs",
                "tags": [
                    "Box Hubs"
                ]
            }
        },
        "/hub_collaborations": {
            "get": {
                "operationId": "get_hub_collaborations_v2025.0",
                "summary": "Box Hubコラボレーションを取得",
                "description": "Box Hubのすべてのコラボレーションを取得します。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "query",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "指定されたBox Hubに関連付けられているコラボレーションを取得します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubCollaborations"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Box Hubが見つからない場合、またはユーザーにBox Hubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_collaborations",
                "tags": [
                    "Box Hubコラボレーション"
                ]
            },
            "post": {
                "operationId": "post_hub_collaborations_v2025.0",
                "summary": "Box Hubコラボレーションを作成",
                "description": "Box Hubに個々のユーザーまたはグループのコラボレーションを追加します。\n\nコラボレーションは、メールアドレス、ユーザーID、またはグループIDを使用して作成できます。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubCollaborationCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいBox Hubコラボレーションオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubCollaboration"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ユーザーにコラボレーションを作成するための適切な権限がない場合にエラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_collaborations",
                "tags": [
                    "Box Hubコラボレーション"
                ]
            }
        },
        "/hub_collaborations/{hub_collaboration_id}": {
            "get": {
                "operationId": "get_hub_collaborations_id_v2025.0",
                "summary": "コラボレーションIDを指定してBox Hubコラボレーションを取得",
                "description": "コラボレーションIDを指定してBox Hubコラボレーションの詳細を取得します。",
                "parameters": [
                    {
                        "name": "hub_collaboration_id",
                        "in": "path",
                        "description": "HubコラボレーションのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1234"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box Hubコラボレーションオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubCollaboration"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Box Hubが見つからない場合、またはユーザーにBox Hubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_collaborations",
                "tags": [
                    "Box Hubコラボレーション"
                ]
            },
            "put": {
                "operationId": "put_hub_collaborations_id_v2025.0",
                "summary": "Box Hubコラボレーションを更新",
                "description": "Box Hubコラボレーションを更新します。これは、Box Hubのロールを変更するのに使用できます。",
                "parameters": [
                    {
                        "name": "hub_collaboration_id",
                        "in": "path",
                        "description": "HubコラボレーションのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1234"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubCollaborationUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "更新されたBox Hubコラボレーションオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubCollaboration"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "認証済みユーザーにコラボレーションを更新するための適切な権限がない場合にエラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_collaborations",
                "tags": [
                    "Box Hubコラボレーション"
                ]
            },
            "delete": {
                "operationId": "delete_hub_collaborations_id_v2025.0",
                "summary": "Box Hubコラボレーションを削除",
                "description": "1つのBox Hubコラボレーションを削除します。",
                "parameters": [
                    {
                        "name": "hub_collaboration_id",
                        "in": "path",
                        "description": "HubコラボレーションのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1234"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Box Hubコラボレーションが正常に削除された場合は、空のレスポンスが返されます。"
                    },
                    "404": {
                        "description": "Box Hubコラボレーションが見つからないか、認証済みユーザーがBox Hubコラボレーションにアクセスできない場合はエラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_collaborations",
                "tags": [
                    "Box Hubコラボレーション"
                ]
            }
        },
        "/hub_items": {
            "get": {
                "operationId": "get_hub_items_v2025.0",
                "summary": "Box Hubの項目を取得",
                "description": "Box Hubに関連付けられているすべての項目を取得します。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "query",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "指定されたBox Hubに関連付けられている項目を取得します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubItems"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Box Hubが見つからない場合、またはユーザーにBox Hubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_items",
                "tags": [
                    "Box Hubの項目"
                ]
            }
        },
        "/hubs/{hub_id}/manage_items": {
            "post": {
                "operationId": "post_hubs_id_manage_items_v2025.0",
                "summary": "Box Hubの項目を管理",
                "description": "Box HubからBox Hubの項目を追加または削除します。",
                "parameters": [
                    {
                        "name": "hub_id",
                        "in": "path",
                        "description": "Hubを表す一意の識別子。\n\nHubのIDを確認するには、ウェブアプリでこのHubにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/hubs/123`の場合、`hub_id`は`123`です。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubItemsManageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "207": {
                        "description": "すべての操作のステータスを取得します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubItemsManageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Box Hubが見つからない場合、またはユーザーにBox Hubへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "hub_items",
                "tags": [
                    "Box Hubの項目"
                ]
            }
        },
        "/shield_lists": {
            "get": {
                "operationId": "get_shield_lists_v2025.0",
                "summary": "企業のShieldリストを取得",
                "description": "企業のすべてのShieldリストを取得します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Shieldリストオブジェクトのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShieldLists"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "shield_lists",
                "tags": [
                    "Shieldリスト"
                ]
            },
            "post": {
                "operationId": "post_shield_lists_v2025.0",
                "summary": "Shieldリストを作成",
                "description": "Shieldリストを作成します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShieldListsCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Shieldリストオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShieldList"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "この名前のShieldリストがすでに存在します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "shield_lists",
                "tags": [
                    "Shieldリスト"
                ]
            }
        },
        "/shield_lists/{shield_list_id}": {
            "get": {
                "operationId": "get_shield_lists_id_v2025.0",
                "summary": "ShieldリストIDを指定して1つのShieldリストを取得",
                "description": "IDを指定して1つのShieldリストを取得します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    },
                    {
                        "name": "shield_list_id",
                        "in": "path",
                        "description": "Shieldリストを表す一意の識別子。ShieldリストのIDは、企業のShieldリストをすべて取得するエンドポイントからのレスポンスで確認できます。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Shieldリストオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShieldList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shieldリストが見つかりませんでした。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "shield_lists",
                "tags": [
                    "Shieldリスト"
                ]
            },
            "delete": {
                "operationId": "delete_shield_lists_id_v2025.0",
                "summary": "ShieldリストIDを指定して1つのShieldリストを削除",
                "description": "IDを指定して1つのShieldリストを削除します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    },
                    {
                        "name": "shield_list_id",
                        "in": "path",
                        "description": "Shieldリストを表す一意の識別子。ShieldリストのIDは、企業のShieldリストをすべて取得するエンドポイントからのレスポンスで確認できます。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Shieldリストが正常に削除されました。レスポンスにコンテンツはありません。"
                    },
                    "400": {
                        "description": "Shieldリストがいくつかのルールに割り当てられているため、削除できません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shieldリストが見つかりませんでした。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "shield_lists",
                "tags": [
                    "Shieldリスト"
                ]
            },
            "put": {
                "operationId": "put_shield_lists_id_v2025.0",
                "summary": "Shieldリストを更新",
                "description": "Shieldリストを更新します。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    },
                    {
                        "name": "shield_list_id",
                        "in": "path",
                        "description": "Shieldリストを表す一意の識別子。ShieldリストのIDは、企業のShieldリストをすべて取得するエンドポイントからのレスポンスで確認できます。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShieldListsUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Shieldリストオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShieldList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shieldリストが見つかりませんでした。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "この名前のShieldリストがすでに存在します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "shield_lists",
                "tags": [
                    "Shieldリスト"
                ]
            }
        },
        "/archives": {
            "get": {
                "operationId": "get_archives_v2025.0",
                "summary": "アーカイブのリストを取得",
                "description": "企業用のアーカイブを取得します。\n\nアーカイブのAPIの詳細については、[Archive APIガイド](https://developer.box.com/guides/archives)を参照してください。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "企業内のアーカイブのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Archives"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "一部のパラメータが指定されていないか無効な場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "認証済みユーザーにアーカイブのリストを取得するための適切な権限がない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "archives",
                "tags": [
                    "Archives"
                ]
            },
            "post": {
                "operationId": "post_archives_v2025.0",
                "summary": "アーカイブを作成",
                "description": "アーカイブを作成します。\n\nアーカイブのAPIの詳細については、[Archive APIガイド](https://developer.box.com/guides/archives)を参照してください。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "アーカイブの名前。",
                                        "type": "string",
                                        "example": "Some Archive"
                                    },
                                    "description": {
                                        "description": "アーカイブの説明。",
                                        "type": "string",
                                        "example": "This is an archive for important documents."
                                    },
                                    "storage_policy_id": {
                                        "description": "アーカイブが割り当てられているストレージポリシーのID。",
                                        "type": "string",
                                        "example": "100001"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいアーカイブオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Archive"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "一部のパラメータが指定されていないか無効な場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "認証済みユーザーにアーカイブを作成するための適切な権限がない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "指定した名前を持つアーカイブがすでに存在する場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
