{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://developer.box.com)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権限を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://developer.box.com",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2026.0",
        "x-box-commit-hash": "18dac247a2"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー。"
        }
    ],
    "paths": {
        "/automate_workflows": {
            "get": {
                "operationId": "get_automate_workflows_v2026.0",
                "summary": "呼び出し可能なアクションとして定義されているAutomateワークフローのリストを取得",
                "description": "`WORKFLOW`アクションカテゴリを使用して、フォルダに対するAutomateからのワークフローのアクションを返します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "folder_id",
                        "in": "query",
                        "description": "フォルダを表す一意の識別子。\n\nフォルダIDを確認するには、ウェブアプリケーションでこのフォルダにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/folder/123`の場合、`folder_id`は`123`です。\n\nBoxアカウントのルートフォルダは常にID `0`で表されます。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": false
                        },
                        "example": "12345"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "手動で開始可能なワークフローのアクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomateWorkflows"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ]
            }
        },
        "/automate_workflows/{workflow_id}/start": {
            "post": {
                "operationId": "post_automate_workflows_id_start_v2026.0",
                "summary": "Automateワークフローを開始",
                "description": "ワークフローのアクションIDとファイルIDを使用して、Automateワークフローを手動で開始します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "description": "ワークフローのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomateWorkflowStartRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "ワークフローを開始します。"
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ]
            }
        },
        "/notes/convert": {
            "post": {
                "operationId": "post_notes_convert_v2026.0",
                "summary": "コンテンツをBox Noteに変換",
                "description": "サポートされているソースコンテンツからBox Note (`.boxnote`ファイル) を作成します。サポートされている形式については、`content_format`フィールドを参照してください。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotesConvertRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "メモが正常に作成されました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotesConvertResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "リクエスト本文の形式が正しくない場合、スキーマの検証に失敗した場合、必須フィールドが入力されていない場合に返されます。親フォルダがない場合や不明な場合、このステータスで示されることはありません (`404`を参照)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "親フォルダにファイルを作成する権限が認証済みユーザーにない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "親フォルダが存在しないか、ユーザーが親フォルダにアクセスできない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "事前チェックに失敗した場合に返されます (名前の競合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "リクエストのペイロードが大きすぎる場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "コンテンツをメモに変換できなかった場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "この操作が実装されていないか、サーバー上でまだ利用できない場合に返されます (Notesサービスへの転送がまだ有効化の途中の場合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "notes",
                "tags": [
                    "Box Noteに変換"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "BoxVersionHeader": {
                "name": "box-version",
                "in": "header",
                "description": "Version header.",
                "allowEmptyValue": false,
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "2026.0"
                    ]
                },
                "example": "2026.0"
            }
        },
        "schemas": {
            "AutomateWorkflowAction": {
                "description": "ワークフローを開始できるAutomateのアクション。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateのアクションの識別子。",
                        "type": "string",
                        "example": "981"
                    },
                    "type": {
                        "description": "このワークフローのアクションラッパーのオブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow_action",
                        "enum": [
                            "workflow_action"
                        ]
                    },
                    "action_type": {
                        "description": "このアクションの動作を定義するタイプ。",
                        "type": "string",
                        "example": "run_workflow",
                        "enum": [
                            "run_workflow"
                        ]
                    },
                    "description": {
                        "description": "人間が判読できる、ワークフローのアクションの説明。",
                        "type": "string",
                        "example": "Runs workflow execution for selected files"
                    },
                    "created_at": {
                        "description": "アクションが作成された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-01T10:00:00.000Z"
                    },
                    "updated_at": {
                        "description": "アクションが最後に更新された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-02T11:00:00.000Z"
                    },
                    "created_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを作成したユーザー。"
                            }
                        ]
                    },
                    "updated_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを最後に更新したユーザー。"
                            }
                        ]
                    },
                    "workflow": {
                        "$ref": "#/components/schemas/AutomateWorkflowReference"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "action_type",
                    "workflow"
                ],
                "title": "Automateワークフローのアクション"
            },
            "AutomateWorkflowReference": {
                "description": "Automateワークフローへの参照。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateワークフローインスタンスの識別子。",
                        "type": "string",
                        "example": "545"
                    },
                    "type": {
                        "description": "オブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow",
                        "enum": [
                            "workflow"
                        ]
                    },
                    "name": {
                        "description": "Automateワークフローの表示名。",
                        "type": "string",
                        "example": "Contract approval workflow"
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Automateワークフローへの参照"
            },
            "AutomateWorkflows": {
                "description": "Automateワークフローのアクションのリスト。",
                "allOf": [
                    {
                        "properties": {
                            "entries": {
                                "description": "手動の開始に利用可能なワークフローのアクション。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AutomateWorkflowAction"
                                }
                            }
                        }
                    },
                    {
                        "type": "object",
                        "description": "マーカーベースのページネーションについて説明しているAPIレスポンスの部分。",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            }
                        }
                    }
                ],
                "title": "Automateワークフローのアクション",
                "x-box-resource-id": "automate_workflows_v2026.0"
            },
            "AutomateWorkflowStartRequest": {
                "description": "Automateワークフローを開始するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "workflow_action_id": {
                        "description": "選択したワークフローのトリガーに使用する、呼び出し可能なアクションID。",
                        "type": "string",
                        "example": "981"
                    },
                    "file_ids": {
                        "description": "選択したワークフローで処理するファイル。",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "123"
                        },
                        "example": [
                            "123"
                        ],
                        "minItems": 1
                    }
                },
                "required": [
                    "workflow_action_id",
                    "file_ids"
                ],
                "title": "Automateワークフローの開始リクエスト"
            },
            "ClientError": {
                "description": "一般的なエラー。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`error`になります。",
                        "type": "string",
                        "example": "error",
                        "enum": [
                            "error"
                        ],
                        "nullable": false
                    },
                    "status": {
                        "description": "レスポンスのHTTPステータス。",
                        "type": "integer",
                        "format": "int32",
                        "example": 400,
                        "nullable": false
                    },
                    "code": {
                        "description": "Box固有のエラーコード。",
                        "type": "string",
                        "example": "item_name_invalid",
                        "enum": [
                            "created",
                            "accepted",
                            "no_content",
                            "redirect",
                            "not_modified",
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "method_not_allowed",
                            "conflict",
                            "precondition_failed",
                            "too_many_requests",
                            "internal_server_error",
                            "unavailable",
                            "item_name_invalid",
                            "insufficient_scope"
                        ]
                    },
                    "message": {
                        "description": "エラーについての短い説明メッセージ。",
                        "type": "string",
                        "example": "Method Not Allowed",
                        "nullable": false
                    },
                    "context_info": {
                        "description": "このエラーに関する追加コンテキストを含む自由形式のオブジェクト。使用できるフィールドは、エンドポイントごとに定義されています。`message`は唯一の例です。",
                        "type": "object",
                        "example": {
                            "message": "Something went wrong"
                        },
                        "additionalProperties": {},
                        "nullable": true
                    },
                    "help_url": {
                        "description": "このエラーの原因に関する詳細情報にリンクされたURL。",
                        "type": "string",
                        "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
                        "nullable": false
                    },
                    "request_id": {
                        "description": "Boxサポートに連絡するときに使用できる、このレスポンスの一意の識別子。",
                        "type": "string",
                        "example": "abcdef123456",
                        "nullable": false
                    }
                },
                "title": "クライアントエラー",
                "x-box-resource-id": "client_error_v2026.0"
            },
            "FolderReference": {
                "description": "フォルダの参照。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`folder`になります。",
                        "type": "string",
                        "example": "folder",
                        "enum": [
                            "folder"
                        ],
                        "nullable": false
                    },
                    "id": {
                        "description": "フォルダのID。",
                        "type": "string",
                        "example": "42037322"
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "フォルダの参照"
            },
            "NotesConvertRequestBody": {
                "description": "ソースコンテンツをBox Noteファイルに変換するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "content": {
                        "description": "メモに変換するコンテンツ。サポートされている形式については、`content_format`フィールドを参照してください。",
                        "example": "# My note\\n\\nHello from Markdown.",
                        "maxLength": 1048576,
                        "type": "string"
                    },
                    "content_format": {
                        "description": "変換するコンテンツの形式。",
                        "type": "string",
                        "example": "markdown",
                        "enum": [
                            "markdown"
                        ]
                    },
                    "parent": {
                        "$ref": "#/components/schemas/FolderReference"
                    },
                    "name": {
                        "description": "作成されるメモの名前。`.boxnote`拡張子は自動的に付加されます。",
                        "type": "string",
                        "example": "Quarterly plan",
                        "maxLength": 247,
                        "minLength": 1
                    }
                },
                "additionalProperties": false,
                "required": [
                    "content",
                    "content_format",
                    "parent",
                    "name"
                ],
                "title": "Notesへの変換のリクエスト本文",
                "x-box-tag": "notes"
            },
            "NotesConvertResponse": {
                "description": "作成されたBox Noteファイルを特定します。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "Boxリソースの種類。Boxファイルの場合は常に`file`。",
                        "type": "string",
                        "example": "file",
                        "enum": [
                            "file"
                        ]
                    },
                    "id": {
                        "description": "作成された`.boxnote`ファイルのBoxファイルID。",
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "id"
                ],
                "title": "Notesへの変換のレスポンス",
                "x-box-resource-id": "notes_convert_created_file_v2026.0",
                "x-box-tag": "notes"
            },
            "User--Base": {
                "description": "他のリソース内にネストされたときに使用されるユーザーのMini版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "このユーザーの一意の識別子。",
                        "type": "string",
                        "example": "11446498"
                    },
                    "type": {
                        "description": "値は常に`user`になります。",
                        "type": "string",
                        "example": "user",
                        "enum": [
                            "user"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ユーザー (Base)"
            },
            "User--Mini": {
                "description": "他のリソース内にネストされたときに返される可能性があるユーザーのMini版の表示。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/User--Base"
                    },
                    {
                        "properties": {
                            "name": {
                                "description": "このユーザーの表示名。",
                                "type": "string",
                                "example": "Aaron Levie",
                                "maxLength": 50
                            },
                            "login": {
                                "description": "このユーザーのプライマリメールアドレス。",
                                "type": "string",
                                "format": "email",
                                "example": "ceo@example.com"
                            }
                        }
                    }
                ],
                "title": "ユーザー (Mini)"
            }
        },
        "securitySchemes": {
            "OAuth2Security": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
                        "tokenUrl": "https://api.box.com/oauth2/token",
                        "scopes": {
                            "root_readonly": "Boxに格納されているすべてのファイルとフォルダの読み取り",
                            "root_readwrite": "Boxに格納されているすべてのファイルとフォルダの読み取りと書き込み",
                            "manage_app_users": "App Userのプロビジョニングと管理",
                            "manage_managed_users": "管理対象ユーザーのプロビジョニングと管理",
                            "manage_groups": "企業のグループの管理",
                            "manage_webhook": "APIを使用したプログラムによるWebhookの作成",
                            "manage_enterprise_properties": "Enterpriseのプロパティを管理",
                            "manage_data_retention": "データリテンションポリシーの管理",
                            "manage_legal_hold": "リーガルホールドの管理"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "OAuth2Security": []
        }
    ],
    "tags": [
        {
            "name": "Automateワークフロー",
            "description": "Endpoints for listing and manually starting Automate workflow actions.",
            "x-box-tag": "automate_workflows"
        },
        {
            "name": "Box Noteに変換",
            "description": "Create Box Notes from supported source content (for example Markdown).",
            "x-box-tag": "notes"
        }
    ],
    "externalDocs": {
        "description": "Box Developerドキュメント。",
        "url": "https://developer.box.com"
    }
}
