{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://developer.box.com)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権限を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://developer.box.com",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2026.0",
        "x-box-commit-hash": "8dd502b50d"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー。"
        }
    ],
    "paths": {
        "/automate_workflows": {
            "get": {
                "operationId": "get_automate_workflows_v2026.0",
                "summary": "呼び出し可能なアクションとして定義されているAutomateワークフローのリストを取得",
                "description": "`WORKFLOW`アクションカテゴリを使用して、フォルダに対するAutomateからのワークフローのアクションを返します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "folder_id",
                        "in": "query",
                        "description": "フォルダを表す一意の識別子。\n\nフォルダIDを確認するには、ウェブアプリケーションでこのフォルダにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/folder/123`の場合、`folder_id`は`123`です。\n\nBoxアカウントのルートフォルダは常にID `0`で表されます。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": false
                        },
                        "example": "12345"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "手動で開始可能なワークフローのアクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomateWorkflows"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ],
                "x-box-unsupported-on-free-developer": true
            }
        },
        "/automate_workflows/{workflow_id}/start": {
            "post": {
                "operationId": "post_automate_workflows_id_start_v2026.0",
                "summary": "Automateワークフローを開始",
                "description": "ワークフローのアクションIDとファイルIDを使用して、Automateワークフローを手動で開始します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "description": "ワークフローのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomateWorkflowStartRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "ワークフローを開始します。"
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ],
                "x-box-unsupported-on-free-developer": true
            }
        },
        "/notes/convert": {
            "post": {
                "operationId": "post_notes_convert_v2026.0",
                "summary": "コンテンツをBox Noteに変換",
                "description": "サポートされているソースコンテンツからBox Note (`.boxnote`ファイル) を作成します。サポートされている形式については、`content_format`フィールドを参照してください。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotesConvertRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "メモが正常に作成されました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotesConvertResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "リクエスト本文の形式が正しくない場合、スキーマの検証に失敗した場合、必須フィールドが入力されていない場合に返されます。親フォルダがない場合や不明な場合、このステータスで示されることはありません (`404`を参照)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "親フォルダにファイルを作成する権限が認証済みユーザーにない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "親フォルダが存在しないか、ユーザーが親フォルダにアクセスできない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "事前チェックに失敗した場合に返されます (名前の競合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "リクエストのペイロードが大きすぎる場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "コンテンツをメモに変換できなかった場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "この操作が実装されていないか、サーバー上でまだ利用できない場合に返されます (Notesサービスへの転送がまだ有効化の途中の場合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "notes",
                "tags": [
                    "Box Noteに変換"
                ]
            }
        },
        "/query": {
            "post": {
                "operationId": "post_query_v2026.0",
                "summary": "Query for Box items",
                "description": "Runs a query to discover Box items using a logical predicate that can filter across item fields and metadata templates. Results can be sorted, paginated, and shaped to include additional item or metadata fields.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a paginated list of items matching the query.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QueryResults"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the query could not be parsed, the request body fails schema validation, a referenced scope is not valid, or an unexpected JSON type was provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the access token provided in the `Authorization` header is missing, not valid, or expired.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the query matched too many items, or too many inaccessible items, to be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when a referenced metadata template or item does not exist, or the user does not have access to it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Returned when the enterprise exceeds the allowed request rate.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Returned when an unexpected server error occurs while processing the query.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "query",
                "tags": [
                    "Query"
                ]
            }
        },
        "/query_insights": {
            "post": {
                "operationId": "post_query_insights_v2026.0",
                "summary": "Create insights for Box items",
                "description": "Computes aggregated metrics over Box items matching a query predicate. Filters are applied first, followed by optional grouping, after which the requested metrics (such as `sum`, `avg`, `min`, `max`, and `count`) are computed for each resulting group or over the entire filtered dataset.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryInsightsRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the computed insight entries.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QueryInsights"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the query could not be parsed, the request body fails schema validation, or an unexpected JSON type was provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the access token provided in the `Authorization` header is missing, not valid, or expired.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the query is restricted for this enterprise or scope.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when a referenced metadata template does not exist, or the user does not have access to it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Returned when the enterprise exceeds the allowed request rate.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Returned when an unexpected server error occurs while computing insights.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "query",
                "tags": [
                    "Query"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "BoxVersionHeader": {
                "name": "box-version",
                "in": "header",
                "description": "Version header.",
                "allowEmptyValue": false,
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "2026.0"
                    ]
                },
                "example": "2026.0"
            }
        },
        "schemas": {
            "AutomateWorkflowAction": {
                "description": "ワークフローを開始できるAutomateのアクション。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateのアクションの識別子。",
                        "type": "string",
                        "example": "981"
                    },
                    "type": {
                        "description": "このワークフローのアクションラッパーのオブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow_action",
                        "enum": [
                            "workflow_action"
                        ]
                    },
                    "action_type": {
                        "description": "このアクションの動作を定義するタイプ。",
                        "type": "string",
                        "example": "run_workflow",
                        "enum": [
                            "run_workflow"
                        ]
                    },
                    "description": {
                        "description": "人間が判読できる、ワークフローのアクションの説明。",
                        "type": "string",
                        "example": "Runs workflow execution for selected files"
                    },
                    "created_at": {
                        "description": "アクションが作成された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-01T10:00:00.000Z"
                    },
                    "updated_at": {
                        "description": "アクションが最後に更新された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-02T11:00:00.000Z"
                    },
                    "created_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを作成したユーザー。"
                            }
                        ]
                    },
                    "updated_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを最後に更新したユーザー。"
                            }
                        ]
                    },
                    "workflow": {
                        "$ref": "#/components/schemas/AutomateWorkflowReference"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "action_type",
                    "workflow"
                ],
                "title": "Automateワークフローのアクション"
            },
            "AutomateWorkflowReference": {
                "description": "Automateワークフローへの参照。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateワークフローインスタンスの識別子。",
                        "type": "string",
                        "example": "545"
                    },
                    "type": {
                        "description": "オブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow",
                        "enum": [
                            "workflow"
                        ]
                    },
                    "name": {
                        "description": "Automateワークフローの表示名。",
                        "type": "string",
                        "example": "Contract approval workflow"
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Automateワークフローへの参照"
            },
            "AutomateWorkflows": {
                "description": "Automateワークフローのアクションのリスト。",
                "allOf": [
                    {
                        "properties": {
                            "entries": {
                                "description": "手動の開始に利用可能なワークフローのアクション。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AutomateWorkflowAction"
                                }
                            }
                        }
                    },
                    {
                        "type": "object",
                        "description": "マーカーベースのページネーションについて説明しているAPIレスポンスの部分。",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            }
                        }
                    }
                ],
                "title": "Automateワークフローのアクション",
                "x-box-resource-id": "automate_workflows_v2026.0"
            },
            "AutomateWorkflowStartRequest": {
                "description": "Automateワークフローを開始するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "workflow_action_id": {
                        "description": "選択したワークフローのトリガーに使用する、呼び出し可能なアクションID。",
                        "type": "string",
                        "example": "981"
                    },
                    "file_ids": {
                        "description": "選択したワークフローで処理するファイル。",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "123"
                        },
                        "example": [
                            "123"
                        ],
                        "minItems": 1
                    }
                },
                "required": [
                    "workflow_action_id",
                    "file_ids"
                ],
                "title": "Automateワークフローの開始リクエスト"
            },
            "ClientError": {
                "description": "一般的なエラー。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`error`になります。",
                        "type": "string",
                        "example": "error",
                        "enum": [
                            "error"
                        ],
                        "nullable": false
                    },
                    "status": {
                        "description": "レスポンスのHTTPステータス。",
                        "type": "integer",
                        "format": "int32",
                        "example": 400,
                        "nullable": false
                    },
                    "code": {
                        "description": "Box固有のエラーコード。",
                        "type": "string",
                        "example": "item_name_invalid",
                        "enum": [
                            "created",
                            "accepted",
                            "no_content",
                            "redirect",
                            "not_modified",
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "method_not_allowed",
                            "conflict",
                            "precondition_failed",
                            "too_many_requests",
                            "internal_server_error",
                            "unavailable",
                            "item_name_invalid",
                            "insufficient_scope"
                        ]
                    },
                    "message": {
                        "description": "エラーについての短い説明メッセージ。",
                        "type": "string",
                        "example": "Method Not Allowed",
                        "nullable": false
                    },
                    "context_info": {
                        "description": "このエラーに関する追加コンテキストを含む自由形式のオブジェクト。使用できるフィールドは、エンドポイントごとに定義されています。`message`は唯一の例です。",
                        "type": "object",
                        "example": {
                            "message": "Something went wrong"
                        },
                        "additionalProperties": {},
                        "nullable": true
                    },
                    "help_url": {
                        "description": "このエラーの原因に関する詳細情報にリンクされたURL。",
                        "type": "string",
                        "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
                        "nullable": false
                    },
                    "request_id": {
                        "description": "Boxサポートに連絡するときに使用できる、このレスポンスの一意の識別子。",
                        "type": "string",
                        "example": "abcdef123456",
                        "nullable": false
                    }
                },
                "title": "クライアントエラー",
                "x-box-resource-id": "client_error_v2026.0"
            },
            "FolderReference": {
                "description": "フォルダの参照。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`folder`になります。",
                        "type": "string",
                        "example": "folder",
                        "enum": [
                            "folder"
                        ],
                        "nullable": false
                    },
                    "id": {
                        "description": "フォルダのID。",
                        "type": "string",
                        "example": "42037322"
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "フォルダの参照"
            },
            "NotesConvertRequestBody": {
                "description": "ソースコンテンツをBox Noteファイルに変換するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "content": {
                        "description": "メモに変換するコンテンツ。サポートされている形式については、`content_format`フィールドを参照してください。",
                        "example": "# My note\\n\\nHello from Markdown.",
                        "maxLength": 1048576,
                        "type": "string"
                    },
                    "content_format": {
                        "description": "変換するコンテンツの形式。",
                        "type": "string",
                        "example": "markdown",
                        "enum": [
                            "markdown"
                        ]
                    },
                    "parent": {
                        "$ref": "#/components/schemas/FolderReference"
                    },
                    "name": {
                        "description": "作成されるメモの名前。`.boxnote`拡張子は自動的に付加されます。",
                        "type": "string",
                        "example": "Quarterly plan",
                        "maxLength": 247,
                        "minLength": 1
                    }
                },
                "additionalProperties": false,
                "required": [
                    "content",
                    "content_format",
                    "parent",
                    "name"
                ],
                "title": "Notesへの変換のリクエスト本文",
                "x-box-tag": "notes"
            },
            "NotesConvertResponse": {
                "description": "作成されたBox Noteファイルを特定します。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "Boxリソースの種類。Boxファイルの場合は常に`file`。",
                        "type": "string",
                        "example": "file",
                        "enum": [
                            "file"
                        ]
                    },
                    "id": {
                        "description": "作成された`.boxnote`ファイルのBoxファイルID。",
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "id"
                ],
                "title": "Notesへの変換のレスポンス",
                "x-box-resource-id": "notes_convert_created_file_v2026.0",
                "x-box-tag": "notes"
            },
            "QueryAncestorReference": {
                "description": "A reference to an ancestor entity used to restrict query results to that entity and its recursive descendants.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The unique identifier of the ancestor entity.",
                        "type": "string",
                        "example": "789"
                    },
                    "type": {
                        "description": "The type of the ancestor entity. Possible value: folder.",
                        "type": "string",
                        "example": "folder"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "id",
                    "type"
                ],
                "title": "Query ancestor reference",
                "x-box-tag": "query"
            },
            "QueryInsightEntry": {
                "description": "A single computed insight entry, containing its grouping keys (if applicable) and the computed metrics.",
                "type": "object",
                "properties": {
                    "key": {
                        "description": "The grouping key values associated with the entry. Contains one value per `group_by` field for `group` entries, and is empty for `overall` and `other` entries.",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "ContractType1"
                        },
                        "example": [
                            "ContractType1"
                        ]
                    },
                    "type": {
                        "description": "The type of insight entry, indicating how the associated metrics are aggregated.",
                        "type": "string",
                        "example": "group",
                        "enum": [
                            "group",
                            "overall",
                            "other"
                        ]
                    },
                    "metrics": {
                        "description": "A map of metric aliases to their computed results. For `other` entries, the count is reported under the `totalCountBeyondTopGroups` key.",
                        "type": "object",
                        "example": {
                            "totalContractValue": {
                                "type": "sum",
                                "values": {
                                    "sum": 180000
                                }
                            },
                            "countContractType": {
                                "type": "count",
                                "values": {
                                    "count": 245
                                }
                            }
                        },
                        "additionalProperties": {
                            "$ref": "#/components/schemas/QueryInsightMetricResult"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "key",
                    "type",
                    "metrics"
                ],
                "title": "Query insight entry",
                "x-box-resource-id": "query_insight_entry_v2026.0",
                "x-box-tag": "query"
            },
            "QueryInsightMetricResult": {
                "description": "The computed result for a single metric, including the metric type and its computed value(s).",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "The metric type that was computed.",
                        "type": "string",
                        "example": "sum"
                    },
                    "values": {
                        "description": "The computed metric result(s), keyed by the metric function (for example `sum`, `avg`, `min`, `max`, or `count`).",
                        "type": "object",
                        "example": {
                            "sum": 50
                        },
                        "additionalProperties": {
                            "type": "number"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "values"
                ],
                "title": "Query insight metric result",
                "x-box-tag": "query"
            },
            "QueryInsights": {
                "description": "The computed results of an insights request, as a list of insight entries.",
                "type": "object",
                "properties": {
                    "insights": {
                        "description": "The list of computed insight entries. Each entry corresponds to a group, the overall dataset, or the aggregate of groups outside the top results.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryInsightEntry"
                        }
                    }
                },
                "example": {
                    "insights": [
                        {
                            "key": [
                                "ContractType1"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 180000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 245
                                    }
                                }
                            }
                        },
                        {
                            "key": [
                                "ContractType4"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 100000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 185
                                    }
                                }
                            }
                        },
                        {
                            "key": [
                                "ContractType2"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 200000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 150
                                    }
                                }
                            }
                        },
                        {
                            "key": [],
                            "type": "other",
                            "metrics": {
                                "totalCountBeyondTopGroups": {
                                    "type": "count",
                                    "values": {
                                        "count": 165
                                    }
                                }
                            }
                        }
                    ]
                },
                "additionalProperties": false,
                "required": [
                    "insights"
                ],
                "title": "Query insights",
                "x-box-resource-id": "query_insights_v2026.0",
                "x-box-tag": "query"
            },
            "QueryInsightsGroupBy": {
                "description": "Defines a single grouping criterion for an insights request. Currently only a single grouping field is supported.",
                "type": "object",
                "properties": {
                    "field": {
                        "description": "The fully qualified field name to group by. Supports metadata and item properties.",
                        "type": "string",
                        "example": "enterprise_12345678:sales:contractType"
                    },
                    "bucket_limit": {
                        "description": "The maximum number of buckets to return for the grouping. Defaults to `5`.",
                        "type": "integer",
                        "format": "int32",
                        "example": 3,
                        "default": 5,
                        "maximum": 10,
                        "minimum": 1
                    }
                },
                "additionalProperties": false,
                "required": [
                    "field"
                ],
                "title": "Query insights group by",
                "x-box-tag": "query"
            },
            "QueryInsightsMetricDefinition": {
                "description": "Defines a single metric to compute, including the aggregation function and the field it is applied to.",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "The aggregation function to apply.",
                        "type": "string",
                        "example": "sum",
                        "enum": [
                            "sum",
                            "avg",
                            "min",
                            "max",
                            "count"
                        ]
                    },
                    "field": {
                        "description": "The fully qualified field name on which the metric is computed.",
                        "type": "string",
                        "example": "enterprise_12345678:sales:contractValue"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "field"
                ],
                "title": "Query insights metric definition",
                "x-box-tag": "query"
            },
            "QueryInsightsRequestBody": {
                "description": "Request body describing the filtering, grouping, and metrics for an insights computation.",
                "type": "object",
                "properties": {
                    "query": {
                        "description": "The filtering and grouping definition. Filters are applied first, followed by grouping, before metrics are computed.",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "predicate": {
                                "description": "A logical expression used to filter the dataset prior to metric computation, similar to an SQL `WHERE` clause. May include named parameters referenced as `:placeholder`.",
                                "type": "string",
                                "example": "EXISTS(:templateArg) AND box:item:created_at >= :dateArg1 AND box:item:created_at < :dateArg2"
                            },
                            "params": {
                                "description": "A map of placeholder names (without the `:` prefix) to their values. Required only when the predicate contains parameter placeholders. The type of each value must match the type of the field it is compared to.",
                                "type": "object",
                                "example": {
                                    "templateArg": "enterprise_12345678:sales",
                                    "dateArg1": "2025-06-01T00:00:00-07:00",
                                    "dateArg2": "2025-07-01T00:00:00-07:00"
                                },
                                "additionalProperties": {}
                            },
                            "ancestors": {
                                "description": "Restricts results to items contained within any of the specified ancestors. The user must have access to every listed ancestor. When omitted, insights are computed across all accessible items.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryAncestorReference"
                                }
                            },
                            "group_by": {
                                "description": "Defines how data is grouped for insights computation. Currently only a single grouping field is supported.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryInsightsGroupBy"
                                }
                            }
                        },
                        "required": [
                            "predicate"
                        ]
                    },
                    "metrics": {
                        "description": "A map of user-defined metric aliases to their definitions. A maximum of 10 metrics may be defined. Each alias must be a unique, non-empty string of up to 256 characters, containing only letters, digits, `_`, `-`, or `.`, and must not start with a digit, `_`, `-`, or `.`. May be empty to request only a total count.",
                        "type": "object",
                        "example": {
                            "totalContractValue": {
                                "type": "sum",
                                "field": "enterprise_12345678:sales:contractValue"
                            },
                            "countContractType": {
                                "type": "count",
                                "field": "enterprise_12345678:sales:contractType"
                            }
                        },
                        "additionalProperties": {
                            "$ref": "#/components/schemas/QueryInsightsMetricDefinition"
                        },
                        "maxProperties": 10
                    }
                },
                "example": {
                    "query": {
                        "predicate": "EXISTS(:templateArg) AND box:item:created_at >= :dateArg1 AND box:item:created_at < :dateArg2",
                        "params": {
                            "templateArg": "enterprise_12345678:sales",
                            "dateArg1": "2025-06-01T00:00:00-07:00",
                            "dateArg2": "2025-07-01T00:00:00-07:00"
                        },
                        "ancestors": [
                            {
                                "id": "123",
                                "type": "folder"
                            }
                        ],
                        "group_by": [
                            {
                                "field": "enterprise_12345678:sales:contractType",
                                "bucket_limit": 3
                            }
                        ]
                    },
                    "metrics": {
                        "totalContractValue": {
                            "type": "sum",
                            "field": "enterprise_12345678:sales:contractValue"
                        },
                        "countContractType": {
                            "type": "count",
                            "field": "enterprise_12345678:sales:contractType"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "query",
                    "metrics"
                ],
                "title": "Query insights request body",
                "x-box-tag": "query"
            },
            "QueryOrderBy": {
                "description": "A single sorting criterion applied to the query result set. Multiple criteria are applied sequentially in the order specified.",
                "type": "object",
                "properties": {
                    "field_key": {
                        "description": "The fully qualified field key to sort by.",
                        "type": "string",
                        "example": "enterprise_12345678:book:purchasePrice"
                    },
                    "direction": {
                        "description": "The direction in which results are ordered.",
                        "type": "string",
                        "example": "asc",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                },
                "additionalProperties": false,
                "required": [
                    "field_key",
                    "direction"
                ],
                "title": "Query order by",
                "x-box-tag": "query"
            },
            "QueryRequestBody": {
                "description": "Request body describing the query to run, including the filtering predicate, optional sorting, pagination, and the fields to return for each result.",
                "type": "object",
                "properties": {
                    "query": {
                        "description": "The query definition, including the filtering predicate and its optional parameters and ancestor restrictions.",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "predicate": {
                                "description": "A logical expression used to filter the dataset, similar to an SQL `WHERE` clause. May include named parameters referenced as `:placeholder`.",
                                "type": "string",
                                "example": "enterprise_12345678:book:purchasePrice >= :price AND box:item:name = :name"
                            },
                            "params": {
                                "description": "A map of placeholder names (without the `:` prefix) to their values. Required only when the predicate contains parameter placeholders. The type of each value must match the type of the field it is compared to.",
                                "type": "object",
                                "example": {
                                    "price": 100,
                                    "name": "The Hobbit"
                                },
                                "additionalProperties": {}
                            },
                            "ancestors": {
                                "description": "Restricts results to the specified ancestor entities and their recursive descendants. The user must have read access to every listed ancestor.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryAncestorReference"
                                }
                            }
                        },
                        "required": [
                            "predicate"
                        ]
                    },
                    "order_by": {
                        "description": "The sorting criteria for the result set. Entries are applied sequentially to define multi-level sorting.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryOrderBy"
                        }
                    },
                    "limit": {
                        "description": "The maximum number of results to return. Defaults to `50` when not provided.",
                        "type": "integer",
                        "format": "int32",
                        "example": 1,
                        "default": 50,
                        "maximum": 100,
                        "minimum": 0
                    },
                    "fields": {
                        "description": "Controls which additional fields are included in each result entry. Each value must be one of: a fully qualified item field key (for example `box:item:name`), a metadata template key to hydrate the full template (for example `enterprise_12345678:project`), or a specific metadata template field key to hydrate a single field from the template (for example `enterprise_12345678:project:name`). When omitted, entries include only the item type and identifier.",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "box:item:name"
                        },
                        "example": [
                            "box:item:name",
                            "enterprise_12345678:book"
                        ]
                    },
                    "marker": {
                        "description": "An opaque token returned from a previous response, used to continue retrieval. When provided, all other request parameters must exactly match those of the original request.",
                        "type": "string",
                        "example": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA="
                    }
                },
                "example": {
                    "query": {
                        "predicate": "enterprise_12345678:book:purchasePrice >= :price AND box:item:name = :name",
                        "params": {
                            "price": 100,
                            "name": "The Hobbit"
                        },
                        "ancestors": [
                            {
                                "id": "789",
                                "type": "folder"
                            }
                        ]
                    },
                    "order_by": [
                        {
                            "field_key": "enterprise_12345678:book:purchasePrice",
                            "direction": "asc"
                        }
                    ],
                    "limit": 1,
                    "fields": [
                        "box:item:name",
                        "enterprise_12345678:book"
                    ]
                },
                "additionalProperties": false,
                "required": [
                    "query"
                ],
                "title": "Query request body",
                "x-box-tag": "query"
            },
            "QueryResultEntry": {
                "description": "A single item matching the query. Always includes the item `type` and `id`. If a `fields` parameter was specified in the request, then additional item and/or metadata fields will be provided.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The unique identifier of the matching item.",
                        "type": "string",
                        "example": "12345"
                    },
                    "type": {
                        "description": "The type of the matching item.",
                        "type": "string",
                        "example": "file"
                    }
                },
                "additionalProperties": {},
                "required": [
                    "id",
                    "type"
                ],
                "title": "Query result entry",
                "x-box-resource-id": "query_result_entry_v2026.0",
                "x-box-tag": "query"
            },
            "QueryResults": {
                "description": "A paginated list of items matching the query, using milestone-based marker pagination.",
                "type": "object",
                "properties": {
                    "entries": {
                        "description": "The list of items matching the query predicate.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryResultEntry"
                        }
                    },
                    "next_marker": {
                        "description": "The marker for the start of the next page of results. When `null`, there are no further results available.",
                        "type": "string",
                        "example": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA=",
                        "nullable": true
                    },
                    "limit": {
                        "description": "The limit that was used for this request. This will be the same as the limit query parameter unless that value exceeded the maximum value allowed.",
                        "type": "integer",
                        "format": "int32",
                        "example": 50
                    }
                },
                "example": {
                    "entries": [
                        {
                            "id": "12345",
                            "type": "file",
                            "box": {
                                "item": {
                                    "name": "My Form"
                                }
                            },
                            "enterprise_12345678": {
                                "book": {
                                    "$parent": "file_12345",
                                    "$scope": "enterprise_12345678",
                                    "$template": "book",
                                    "$version": 4,
                                    "isbn": "1871263670",
                                    "purchasePrice": 234.57,
                                    "publicationYear": "1937"
                                }
                            }
                        }
                    ],
                    "next_marker": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA=",
                    "limit": 1
                },
                "additionalProperties": false,
                "required": [
                    "entries",
                    "next_marker",
                    "limit"
                ],
                "title": "Query results",
                "x-box-resource-id": "query_results_v2026.0",
                "x-box-tag": "query"
            },
            "User--Base": {
                "description": "他のリソース内にネストされたときに使用されるユーザーのMini版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "このユーザーの一意の識別子。",
                        "type": "string",
                        "example": "11446498"
                    },
                    "type": {
                        "description": "値は常に`user`になります。",
                        "type": "string",
                        "example": "user",
                        "enum": [
                            "user"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ユーザー (Base)"
            },
            "User--Mini": {
                "description": "他のリソース内にネストされたときに返される可能性があるユーザーのMini版の表示。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/User--Base"
                    },
                    {
                        "properties": {
                            "name": {
                                "description": "このユーザーの表示名。",
                                "type": "string",
                                "example": "Aaron Levie",
                                "maxLength": 50
                            },
                            "login": {
                                "description": "このユーザーのプライマリメールアドレス。",
                                "type": "string",
                                "format": "email",
                                "example": "ceo@example.com"
                            }
                        }
                    }
                ],
                "title": "ユーザー (Mini)"
            }
        },
        "securitySchemes": {
            "OAuth2Security": {
                "type": "oauth2",
                "description": "The access token received from the authorization server in the OAuth 2.0 flow.",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
                        "tokenUrl": "https://api.box.com/oauth2/token",
                        "scopes": {
                            "root_readonly": "Boxに格納されているすべてのファイルとフォルダの読み取り",
                            "root_readwrite": "Boxに格納されているすべてのファイルとフォルダの読み取りと書き込み",
                            "manage_app_users": "App Userのプロビジョニングと管理",
                            "manage_managed_users": "管理対象ユーザーのプロビジョニングと管理",
                            "manage_groups": "企業のグループの管理",
                            "manage_webhook": "APIを使用したプログラムによるWebhookの作成",
                            "manage_enterprise_properties": "Enterpriseのプロパティを管理",
                            "manage_data_retention": "データリテンションポリシーの管理",
                            "manage_legal_hold": "リーガルホールドの管理"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "OAuth2Security": []
        }
    ],
    "tags": [
        {
            "name": "Automateワークフロー",
            "description": "Automateワークフローのアクションをリストアップして手動で開始するためのエンドポイント。",
            "x-box-tag": "automate_workflows"
        },
        {
            "name": "Box Noteに変換",
            "description": "サポート対象のソースコンテンツ (マークダウンなど) からBox Notesを作成します。",
            "x-box-tag": "notes"
        },
        {
            "name": "Query",
            "description": "Query for your items.",
            "x-box-tag": "query"
        }
    ],
    "externalDocs": {
        "description": "Box Developerドキュメント。",
        "url": "https://developer.box.com"
    }
}
