{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://developer.box.com)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権限を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://developer.box.com",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2026.0",
        "x-box-commit-hash": "21e370b9bd"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー。"
        }
    ],
    "paths": {
        "/automate_workflows": {
            "get": {
                "operationId": "get_automate_workflows_v2026.0",
                "summary": "呼び出し可能なアクションとして定義されているAutomateワークフローのリストを取得",
                "description": "`WORKFLOW`アクションカテゴリを使用して、フォルダに対するAutomateからのワークフローのアクションを返します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "folder_id",
                        "in": "query",
                        "description": "フォルダを表す一意の識別子。\n\nフォルダIDを確認するには、ウェブアプリケーションでこのフォルダにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/folder/123`の場合、`folder_id`は`123`です。\n\nBoxアカウントのルートフォルダは常にID `0`で表されます。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": false
                        },
                        "example": "12345"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページネーションを使用している場合に使用されます。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "手動で開始可能なワークフローのアクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomateWorkflows"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ],
                "x-box-unsupported-on-free-developer": true
            }
        },
        "/automate_workflows/{workflow_id}/start": {
            "post": {
                "operationId": "post_automate_workflows_id_start_v2026.0",
                "summary": "Automateワークフローを開始",
                "description": "ワークフローのアクションIDとファイルIDを使用して、Automateワークフローを手動で開始します。",
                "x-stability-level": "beta",
                "parameters": [
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "description": "ワークフローのID。",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "12345"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomateWorkflowStartRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "ワークフローを開始します。"
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "automate_workflows",
                "tags": [
                    "Automateワークフロー"
                ],
                "x-box-unsupported-on-free-developer": true
            }
        },
        "/notes/convert": {
            "post": {
                "operationId": "post_notes_convert_v2026.0",
                "summary": "コンテンツをBox Noteに変換",
                "description": "サポートされているソースコンテンツからBox Note (`.boxnote`ファイル) を作成します。サポートされている形式については、`content_format`フィールドを参照してください。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotesConvertRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "メモが正常に作成されました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotesConvertResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "リクエスト本文の形式が正しくない場合、スキーマの検証に失敗した場合、必須フィールドが入力されていない場合に返されます。親フォルダがない場合や不明な場合、このステータスで示されることはありません (`404`を参照)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "親フォルダにファイルを作成する権限が認証済みユーザーにない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "親フォルダが存在しないか、ユーザーが親フォルダにアクセスできない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "事前チェックに失敗した場合に返されます (名前の競合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "リクエストのペイロードが大きすぎる場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "コンテンツをメモに変換できなかった場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "この操作が実装されていないか、サーバー上でまだ利用できない場合に返されます (Notesサービスへの転送がまだ有効化の途中の場合など)。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "notes",
                "tags": [
                    "Box Noteに変換"
                ]
            }
        },
        "/query": {
            "post": {
                "operationId": "post_query_v2026.0",
                "summary": "Boxの項目に対するクエリ",
                "description": "項目フィールドとメタデータテンプレートに対してフィルタをかけられる論理述語を使用して、Boxの項目を検出するクエリを実行します。結果は並べ替えたり、ページ割りしたりできるほか、追加の項目フィールドやメタデータフィールドを含む形式にすることができます。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "クエリに一致する項目のページ割りされたリストが返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QueryResults"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "クエリを解析できなかった場合、リクエスト本文がスキーマの検証に失敗した場合、参照されたスコープが無効な場合、または予期しないJSON型が指定された場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが見つからない場合、無効である場合、または期限切れの場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "クエリに一致した項目が多すぎて、またはクエリに一致した項目にアクセスできないものが多すぎて処理できない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "参照されたメタデータテンプレートまたは項目が存在しないか、参照されたメタデータテンプレートまたは項目にユーザーがアクセスできない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "企業が許容されるリクエストレートを超過した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "クエリの処理中に予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "query",
                "tags": [
                    "クエリ"
                ]
            }
        },
        "/query_insights": {
            "post": {
                "operationId": "post_query_insights_v2026.0",
                "summary": "Boxの項目に関するインサイトの作成",
                "description": "クエリの述語に一致するBoxの項目について集計指標を計算します。まずフィルタが適用され、次にグループ化 (省略可) が行われます。その後、作成されたグループごとに、またはフィルタ処理されたデータセット全体に対して、リクエストされた指標 (`sum`、`avg`、`min`、`max`、`count`など) が計算されます。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryInsightsRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "計算されたインサイトエントリが返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QueryInsights"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "クエリを解析できなかった場合、リクエスト本文がスキーマの検証に失敗した場合、または予期しないJSON型が指定された場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが見つからない場合、無効である場合、または期限切れの場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "その企業またはスコープでクエリが制限されている場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "参照されたメタデータテンプレートが存在しないか、参照されたメタデータテンプレートにユーザーがアクセスできない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "企業が許容されるリクエストレートを超過した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "インサイトの計算中に予期しないサーバーエラーが発生した場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "query",
                "tags": [
                    "クエリ"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "BoxVersionHeader": {
                "name": "box-version",
                "in": "header",
                "description": "Version header.",
                "allowEmptyValue": false,
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "2026.0"
                    ]
                },
                "example": "2026.0"
            }
        },
        "schemas": {
            "AutomateWorkflowAction": {
                "description": "ワークフローを開始できるAutomateのアクション。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateのアクションの識別子。",
                        "type": "string",
                        "example": "981"
                    },
                    "type": {
                        "description": "このワークフローのアクションラッパーのオブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow_action",
                        "enum": [
                            "workflow_action"
                        ]
                    },
                    "action_type": {
                        "description": "このアクションの動作を定義するタイプ。",
                        "type": "string",
                        "example": "run_workflow",
                        "enum": [
                            "run_workflow"
                        ]
                    },
                    "description": {
                        "description": "人間が判読できる、ワークフローのアクションの説明。",
                        "type": "string",
                        "example": "Runs workflow execution for selected files"
                    },
                    "created_at": {
                        "description": "アクションが作成された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-01T10:00:00.000Z"
                    },
                    "updated_at": {
                        "description": "アクションが最後に更新された日時。",
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-04-02T11:00:00.000Z"
                    },
                    "created_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを作成したユーザー。"
                            }
                        ]
                    },
                    "updated_by": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User--Mini"
                            },
                            {
                                "description": "アクションを最後に更新したユーザー。"
                            }
                        ]
                    },
                    "workflow": {
                        "$ref": "#/components/schemas/AutomateWorkflowReference"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "action_type",
                    "workflow"
                ],
                "title": "Automateワークフローのアクション"
            },
            "AutomateWorkflowReference": {
                "description": "Automateワークフローへの参照。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Automateワークフローインスタンスの識別子。",
                        "type": "string",
                        "example": "545"
                    },
                    "type": {
                        "description": "オブジェクトタイプ。",
                        "type": "string",
                        "example": "workflow",
                        "enum": [
                            "workflow"
                        ]
                    },
                    "name": {
                        "description": "Automateワークフローの表示名。",
                        "type": "string",
                        "example": "Contract approval workflow"
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Automateワークフローへの参照"
            },
            "AutomateWorkflows": {
                "description": "Automateワークフローのアクションのリスト。",
                "allOf": [
                    {
                        "properties": {
                            "entries": {
                                "description": "手動の開始に利用可能なワークフローのアクション。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AutomateWorkflowAction"
                                }
                            }
                        }
                    },
                    {
                        "type": "object",
                        "description": "マーカーベースのページネーションについて説明しているAPIレスポンスの部分。",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            }
                        }
                    }
                ],
                "title": "Automateワークフローのアクション",
                "x-box-resource-id": "automate_workflows_v2026.0"
            },
            "AutomateWorkflowStartRequest": {
                "description": "Automateワークフローを開始するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "workflow_action_id": {
                        "description": "選択したワークフローのトリガーに使用する、呼び出し可能なアクションID。",
                        "type": "string",
                        "example": "981"
                    },
                    "file_ids": {
                        "description": "選択したワークフローで処理するファイル。",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "123"
                        },
                        "example": [
                            "123"
                        ],
                        "minItems": 1
                    }
                },
                "required": [
                    "workflow_action_id",
                    "file_ids"
                ],
                "title": "Automateワークフローの開始リクエスト"
            },
            "ClientError": {
                "description": "一般的なエラー。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`error`になります。",
                        "type": "string",
                        "example": "error",
                        "enum": [
                            "error"
                        ],
                        "nullable": false
                    },
                    "status": {
                        "description": "レスポンスのHTTPステータス。",
                        "type": "integer",
                        "format": "int32",
                        "example": 400,
                        "nullable": false
                    },
                    "code": {
                        "description": "Box固有のエラーコード。",
                        "type": "string",
                        "example": "item_name_invalid",
                        "enum": [
                            "created",
                            "accepted",
                            "no_content",
                            "redirect",
                            "not_modified",
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "method_not_allowed",
                            "conflict",
                            "precondition_failed",
                            "too_many_requests",
                            "internal_server_error",
                            "unavailable",
                            "item_name_invalid",
                            "insufficient_scope"
                        ]
                    },
                    "message": {
                        "description": "エラーについての短い説明メッセージ。",
                        "type": "string",
                        "example": "Method Not Allowed",
                        "nullable": false
                    },
                    "context_info": {
                        "description": "このエラーに関する追加コンテキストを含む自由形式のオブジェクト。使用できるフィールドは、エンドポイントごとに定義されています。`message`は唯一の例です。",
                        "type": "object",
                        "example": {
                            "message": "Something went wrong"
                        },
                        "additionalProperties": {},
                        "nullable": true
                    },
                    "help_url": {
                        "description": "このエラーの原因に関する詳細情報にリンクされたURL。",
                        "type": "string",
                        "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
                        "nullable": false
                    },
                    "request_id": {
                        "description": "Boxサポートに連絡するときに使用できる、このレスポンスの一意の識別子。",
                        "type": "string",
                        "example": "abcdef123456",
                        "nullable": false
                    }
                },
                "title": "クライアントエラー",
                "x-box-resource-id": "client_error_v2026.0"
            },
            "FolderReference": {
                "description": "フォルダの参照。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "値は常に`folder`になります。",
                        "type": "string",
                        "example": "folder",
                        "enum": [
                            "folder"
                        ],
                        "nullable": false
                    },
                    "id": {
                        "description": "フォルダのID。",
                        "type": "string",
                        "example": "42037322"
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "フォルダの参照"
            },
            "NotesConvertRequestBody": {
                "description": "ソースコンテンツをBox Noteファイルに変換するためのリクエスト本文。",
                "type": "object",
                "properties": {
                    "content": {
                        "description": "メモに変換するコンテンツ。サポートされている形式については、`content_format`フィールドを参照してください。",
                        "example": "# My note\\n\\nHello from Markdown.",
                        "maxLength": 1048576,
                        "type": "string"
                    },
                    "content_format": {
                        "description": "変換するコンテンツの形式。",
                        "type": "string",
                        "example": "markdown",
                        "enum": [
                            "markdown"
                        ]
                    },
                    "parent": {
                        "$ref": "#/components/schemas/FolderReference"
                    },
                    "name": {
                        "description": "作成されるメモの名前。`.boxnote`拡張子は自動的に付加されます。",
                        "type": "string",
                        "example": "Quarterly plan",
                        "maxLength": 247,
                        "minLength": 1
                    }
                },
                "additionalProperties": false,
                "required": [
                    "content",
                    "content_format",
                    "parent",
                    "name"
                ],
                "title": "Notesへの変換のリクエスト本文",
                "x-box-tag": "notes"
            },
            "NotesConvertResponse": {
                "description": "作成されたBox Noteファイルを特定します。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "Boxリソースの種類。Boxファイルの場合は常に`file`。",
                        "type": "string",
                        "example": "file",
                        "enum": [
                            "file"
                        ]
                    },
                    "id": {
                        "description": "作成された`.boxnote`ファイルのBoxファイルID。",
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "id"
                ],
                "title": "Notesへの変換のレスポンス",
                "x-box-resource-id": "notes_convert_created_file_v2026.0",
                "x-box-tag": "notes"
            },
            "QueryAncestorReference": {
                "description": "クエリの結果を対象のエンティティとその再帰的な子孫に制限するために使用される、先祖エンティティへの参照。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "先祖エンティティの一意の識別子。",
                        "type": "string",
                        "example": "789"
                    },
                    "type": {
                        "description": "先祖エンティティの種類。使用可能な値: folder。",
                        "type": "string",
                        "example": "folder"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "id",
                    "type"
                ],
                "title": "クエリの先祖への参照",
                "x-box-tag": "query"
            },
            "QueryInsightEntry": {
                "description": "グループ化キー (該当する場合) と計算された指標を含む、計算された単一のインサイトエントリ。",
                "type": "object",
                "properties": {
                    "key": {
                        "description": "エントリに関連付けられたグループ化キーの値。`group`エントリの`group_by`フィールドごとに1つの値が含まれます。`overall`エントリと`other`エントリの場合は、値が空になります。",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "ContractType1"
                        },
                        "example": [
                            "ContractType1"
                        ]
                    },
                    "type": {
                        "description": "関連付けられた指標の集計方法を示す、インサイトエントリの種類。",
                        "type": "string",
                        "example": "group",
                        "enum": [
                            "group",
                            "overall",
                            "other"
                        ]
                    },
                    "metrics": {
                        "description": "指標エイリアスの計算結果へのマップ。`other`エントリの場合、数は`totalCountBeyondTopGroups`キーで報告されます。",
                        "type": "object",
                        "example": {
                            "totalContractValue": {
                                "type": "sum",
                                "values": {
                                    "sum": 180000
                                }
                            },
                            "countContractType": {
                                "type": "count",
                                "values": {
                                    "count": 245
                                }
                            }
                        },
                        "additionalProperties": {
                            "$ref": "#/components/schemas/QueryInsightMetricResult"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "key",
                    "type",
                    "metrics"
                ],
                "title": "クエリのインサイトエントリ",
                "x-box-resource-id": "query_insight_entry_v2026.0",
                "x-box-tag": "query"
            },
            "QueryInsightMetricResult": {
                "description": "指標の種類とその計算された値を含む、単一の指標についての計算結果。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "計算された指標の種類。",
                        "type": "string",
                        "example": "sum"
                    },
                    "values": {
                        "description": "指標関数 (例: `sum`、`avg`、`min`、`max`、または`count`) をキーとした指標の計算結果。",
                        "type": "object",
                        "example": {
                            "sum": 50
                        },
                        "additionalProperties": {
                            "type": "number"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "values"
                ],
                "title": "クエリインサイトの指標の結果",
                "x-box-tag": "query"
            },
            "QueryInsights": {
                "description": "インサイトリクエストの計算結果。インサイトエントリのリストとして返されます。",
                "type": "object",
                "properties": {
                    "insights": {
                        "description": "計算されたインサイトエントリのリスト。各エントリは、グループ、データセット全体、または上位の結果に含まれないグループの集合に対応しています。",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryInsightEntry"
                        }
                    }
                },
                "example": {
                    "insights": [
                        {
                            "key": [
                                "ContractType1"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 180000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 245
                                    }
                                }
                            }
                        },
                        {
                            "key": [
                                "ContractType4"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 100000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 185
                                    }
                                }
                            }
                        },
                        {
                            "key": [
                                "ContractType2"
                            ],
                            "type": "group",
                            "metrics": {
                                "totalContractValue": {
                                    "type": "sum",
                                    "values": {
                                        "sum": 200000
                                    }
                                },
                                "countContractType": {
                                    "type": "count",
                                    "values": {
                                        "count": 150
                                    }
                                }
                            }
                        },
                        {
                            "key": [],
                            "type": "other",
                            "metrics": {
                                "totalCountBeyondTopGroups": {
                                    "type": "count",
                                    "values": {
                                        "count": 165
                                    }
                                }
                            }
                        }
                    ]
                },
                "additionalProperties": false,
                "required": [
                    "insights"
                ],
                "title": "クエリインサイト",
                "x-box-resource-id": "query_insights_v2026.0",
                "x-box-tag": "query"
            },
            "QueryInsightsGroupBy": {
                "description": "インサイトリクエストの単一のグループ化基準を定義します。現在、単一のグループ化フィールドのみサポートされています。",
                "type": "object",
                "properties": {
                    "field": {
                        "description": "グループ化の基準として使用するフィールドの完全修飾名。メタデータと項目プロパティがサポートされます。",
                        "type": "string",
                        "example": "enterprise_12345678:sales:contractType"
                    },
                    "bucket_limit": {
                        "description": "グループ化で返されるバケットの最大数。デフォルトでは`5`です。",
                        "type": "integer",
                        "format": "int32",
                        "example": 3,
                        "default": 5,
                        "maximum": 10,
                        "minimum": 1
                    }
                },
                "additionalProperties": false,
                "required": [
                    "field"
                ],
                "title": "クエリインサイトのグループ化の基準",
                "x-box-tag": "query"
            },
            "QueryInsightsMetricDefinition": {
                "description": "計算する単一の指標を定義します。これには、集計関数とそれが適用されるフィールドが含まれます。",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "適用する集計関数。",
                        "type": "string",
                        "example": "sum",
                        "enum": [
                            "sum",
                            "avg",
                            "min",
                            "max",
                            "count"
                        ]
                    },
                    "field": {
                        "description": "指標が計算される対象フィールドの完全修飾名。",
                        "type": "string",
                        "example": "enterprise_12345678:sales:contractValue"
                    }
                },
                "additionalProperties": false,
                "required": [
                    "type",
                    "field"
                ],
                "title": "クエリインサイトの指標の定義",
                "x-box-tag": "query"
            },
            "QueryInsightsRequestBody": {
                "description": "インサイト計算のフィルタ、グループ化、指標を記述するリクエスト本文。",
                "type": "object",
                "properties": {
                    "query": {
                        "description": "フィルタとグループ化の定義。まずフィルタが適用され、次にグループ化が行われてから、指標が計算されます。",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "predicate": {
                                "description": "指標を計算する前のデータセットのフィルタ処理に使用される論理式で、SQLの`WHERE`句に似ています。`:placeholder`として参照される名前付きのパラメータが含まれる場合があります。",
                                "type": "string",
                                "example": "EXISTS(:templateArg) AND box:item:created_at >= :dateArg1 AND box:item:created_at < :dateArg2"
                            },
                            "params": {
                                "description": "(`:`プレフィックスが付いていない) プレースホルダ名の値へのマップ。述語にパラメータのプレースホルダが含まれている場合にのみ必須です。各値の型は、比較されるフィールドの型と一致する必要があります。",
                                "type": "object",
                                "example": {
                                    "templateArg": "enterprise_12345678:sales",
                                    "dateArg1": "2025-06-01T00:00:00-07:00",
                                    "dateArg2": "2025-07-01T00:00:00-07:00"
                                },
                                "additionalProperties": {}
                            },
                            "ancestors": {
                                "description": "結果を、指定したすべての先祖に含まれている項目に制限します。ユーザーは、リストされたすべての先祖へのアクセス権限を持っている必要があります。省略した場合は、アクセス可能なすべての項目を対象としてインサイトが計算されます。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryAncestorReference"
                                }
                            },
                            "group_by": {
                                "description": "インサイト計算におけるデータのグループ化の基準を定義します。現在、単一のグループ化フィールドのみサポートされています。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryInsightsGroupBy"
                                }
                            }
                        },
                        "required": [
                            "predicate"
                        ]
                    },
                    "metrics": {
                        "description": "ユーザー定義指標エイリアスの定義へのマップ。最大で10個の指標を定義できます。各エイリアスは、文字、数字、`_`、`-`、または`.`のみが含まれている、最大256文字の空でない一意の文字列である必要があります。また、数字、`_`、`-`、`.`以外で始まっている必要があります。総数のみをリクエストする場合は空にできます。",
                        "type": "object",
                        "example": {
                            "totalContractValue": {
                                "type": "sum",
                                "field": "enterprise_12345678:sales:contractValue"
                            },
                            "countContractType": {
                                "type": "count",
                                "field": "enterprise_12345678:sales:contractType"
                            }
                        },
                        "additionalProperties": {
                            "$ref": "#/components/schemas/QueryInsightsMetricDefinition"
                        },
                        "maxProperties": 10
                    }
                },
                "example": {
                    "query": {
                        "predicate": "EXISTS(:templateArg) AND box:item:created_at >= :dateArg1 AND box:item:created_at < :dateArg2",
                        "params": {
                            "templateArg": "enterprise_12345678:sales",
                            "dateArg1": "2025-06-01T00:00:00-07:00",
                            "dateArg2": "2025-07-01T00:00:00-07:00"
                        },
                        "ancestors": [
                            {
                                "id": "123",
                                "type": "folder"
                            }
                        ],
                        "group_by": [
                            {
                                "field": "enterprise_12345678:sales:contractType",
                                "bucket_limit": 3
                            }
                        ]
                    },
                    "metrics": {
                        "totalContractValue": {
                            "type": "sum",
                            "field": "enterprise_12345678:sales:contractValue"
                        },
                        "countContractType": {
                            "type": "count",
                            "field": "enterprise_12345678:sales:contractType"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "query",
                    "metrics"
                ],
                "title": "クエリインサイトのリクエスト本文",
                "x-box-tag": "query"
            },
            "QueryOrderBy": {
                "description": "クエリの結果セットに適用される単一の並べ替え基準。複数の基準は、指定された順番で適用されます。",
                "type": "object",
                "properties": {
                    "field_key": {
                        "description": "並べ替えの基準として使用するフィールドの完全修飾キー。",
                        "type": "string",
                        "example": "enterprise_12345678:book:purchasePrice"
                    },
                    "direction": {
                        "description": "結果の並べ替えの方向。",
                        "type": "string",
                        "example": "asc",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                },
                "additionalProperties": false,
                "required": [
                    "field_key",
                    "direction"
                ],
                "title": "クエリの並べ替えの基準",
                "x-box-tag": "query"
            },
            "QueryRequestBody": {
                "description": "実行するクエリを記述するリクエスト本文。フィルタ処理の述語、並べ替え (省略可)、ページネーション、各結果で返されるフィールドが含まれます。",
                "type": "object",
                "properties": {
                    "query": {
                        "description": "クエリの定義。フィルタ処理の述語、そのパラメータ (省略可能)、先祖の制限が含まれます。",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "predicate": {
                                "description": "データセットのフィルタ処理に使用される論理式で、SQLの`WHERE`句に似ています。`:placeholder`として参照される名前付きのパラメータが含まれる場合があります。",
                                "type": "string",
                                "example": "enterprise_12345678:book:purchasePrice >= :price AND box:item:name = :name"
                            },
                            "params": {
                                "description": "(`:`プレフィックスが付いていない) プレースホルダ名の値へのマップ。述語にパラメータのプレースホルダが含まれている場合にのみ必須です。各値の型は、比較されるフィールドの型と一致する必要があります。",
                                "type": "object",
                                "example": {
                                    "price": 100,
                                    "name": "The Hobbit"
                                },
                                "additionalProperties": {}
                            },
                            "ancestors": {
                                "description": "結果を、指定された先祖エンティティとその再帰的な子孫に制限します。ユーザーは、リストされたすべての先祖への読み取りアクセス権限を持っている必要があります。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/QueryAncestorReference"
                                }
                            }
                        },
                        "required": [
                            "predicate"
                        ]
                    },
                    "order_by": {
                        "description": "結果セットの並べ替え基準。エントリが順次適用され、複数レベルの並べ替えが定義されます。",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryOrderBy"
                        }
                    },
                    "limit": {
                        "description": "返される結果の最大数。指定されていない場合はデフォルトで`50`に設定されます。",
                        "type": "integer",
                        "format": "int32",
                        "example": 1,
                        "default": 50,
                        "maximum": 100,
                        "minimum": 0
                    },
                    "fields": {
                        "description": "各結果エントリに含まれる追加のフィールドを制御します。各値は、項目フィールドの完全修飾キー (例: `box:item:name`)、テンプレート全体をハイドレートするメタデータテンプレートキー (例: `enterprise_12345678:project`)、またはテンプレートから単一のフィールドをハイドレートするメタデータテンプレートの特定のフィールドキー (例: `enterprise_12345678:project:name`) のいずれかである必要があります。省略した場合、エントリには項目の種類と識別子のみが含まれます。",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "box:item:name"
                        },
                        "example": [
                            "box:item:name",
                            "enterprise_12345678:book"
                        ]
                    },
                    "marker": {
                        "description": "前回のレスポンスから返された不明瞭なトークンで、取得を継続するために使用されます。指定されている場合、他のすべてのリクエストパラメータは、元のリクエストのものと厳密に一致している必要があります。",
                        "type": "string",
                        "example": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA="
                    }
                },
                "example": {
                    "query": {
                        "predicate": "enterprise_12345678:book:purchasePrice >= :price AND box:item:name = :name",
                        "params": {
                            "price": 100,
                            "name": "The Hobbit"
                        },
                        "ancestors": [
                            {
                                "id": "789",
                                "type": "folder"
                            }
                        ]
                    },
                    "order_by": [
                        {
                            "field_key": "enterprise_12345678:book:purchasePrice",
                            "direction": "asc"
                        }
                    ],
                    "limit": 1,
                    "fields": [
                        "box:item:name",
                        "enterprise_12345678:book"
                    ]
                },
                "additionalProperties": false,
                "required": [
                    "query"
                ],
                "title": "クエリのリクエスト本文",
                "x-box-tag": "query"
            },
            "QueryResultEntry": {
                "description": "クエリに一致する単一の項目。項目の`type`と`id`が常に含まれます。リクエストで`fields`パラメータが指定されていた場合は、追加の項目またはメタデータフィールドが返されます。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "一致する項目の一意の識別子。",
                        "type": "string",
                        "example": "12345"
                    },
                    "type": {
                        "description": "一致する項目の種類。",
                        "type": "string",
                        "example": "file"
                    }
                },
                "additionalProperties": {},
                "required": [
                    "id",
                    "type"
                ],
                "title": "クエリの結果のエントリ",
                "x-box-resource-id": "query_result_entry_v2026.0",
                "x-box-tag": "query"
            },
            "QueryResults": {
                "description": "マイルストーンベースのマーカーページネーションを使用した、クエリに一致する項目のページ割りされたリスト。",
                "type": "object",
                "properties": {
                    "entries": {
                        "description": "クエリの述語に一致する項目のリスト。",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QueryResultEntry"
                        }
                    },
                    "next_marker": {
                        "description": "次の結果ページの開始を示すマーカー。`null`の場合、追加で表示できる結果はありません。",
                        "type": "string",
                        "example": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA=",
                        "nullable": true
                    },
                    "limit": {
                        "description": "このリクエストに使用された制限。許容される最大値を超えていない限り、クエリパラメータのlimitと等しくなります。",
                        "type": "integer",
                        "format": "int32",
                        "example": 50
                    }
                },
                "example": {
                    "entries": [
                        {
                            "id": "12345",
                            "type": "file",
                            "box": {
                                "item": {
                                    "name": "My Form"
                                }
                            },
                            "enterprise_12345678": {
                                "book": {
                                    "$parent": "file_12345",
                                    "$scope": "enterprise_12345678",
                                    "$template": "book",
                                    "$version": 4,
                                    "isbn": "1871263670",
                                    "purchasePrice": 234.57,
                                    "publicationYear": "1937"
                                }
                            }
                        }
                    ],
                    "next_marker": "xppy0jjG1kBRSc7NBBSgQmBz1Gk6VaQdg5Vyb+Ob0iA=",
                    "limit": 1
                },
                "additionalProperties": false,
                "required": [
                    "entries",
                    "next_marker",
                    "limit"
                ],
                "title": "クエリの結果",
                "x-box-resource-id": "query_results_v2026.0",
                "x-box-tag": "query"
            },
            "User--Base": {
                "description": "他のリソース内にネストされたときに使用されるユーザーのMini版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "このユーザーの一意の識別子。",
                        "type": "string",
                        "example": "11446498"
                    },
                    "type": {
                        "description": "値は常に`user`になります。",
                        "type": "string",
                        "example": "user",
                        "enum": [
                            "user"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ユーザー (Base)"
            },
            "User--Mini": {
                "description": "他のリソース内にネストされたときに返される可能性があるユーザーのMini版の表示。",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/User--Base"
                    },
                    {
                        "properties": {
                            "name": {
                                "description": "このユーザーの表示名。",
                                "type": "string",
                                "example": "Aaron Levie",
                                "maxLength": 50
                            },
                            "login": {
                                "description": "このユーザーのプライマリメールアドレス。",
                                "type": "string",
                                "format": "email",
                                "example": "ceo@example.com"
                            }
                        }
                    }
                ],
                "title": "ユーザー (Mini)"
            }
        },
        "securitySchemes": {
            "OAuth2Security": {
                "type": "oauth2",
                "description": "The access token received from the authorization server in the OAuth 2.0 flow.",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
                        "tokenUrl": "https://api.box.com/oauth2/token",
                        "scopes": {
                            "root_readonly": "Boxに格納されているすべてのファイルとフォルダの読み取り",
                            "root_readwrite": "Boxに格納されているすべてのファイルとフォルダの読み取りと書き込み",
                            "manage_app_users": "App Userのプロビジョニングと管理",
                            "manage_managed_users": "管理対象ユーザーのプロビジョニングと管理",
                            "manage_groups": "企業のグループの管理",
                            "manage_webhook": "APIを使用したプログラムによるWebhookの作成",
                            "manage_enterprise_properties": "Enterpriseのプロパティを管理",
                            "manage_data_retention": "データリテンションポリシーの管理",
                            "manage_legal_hold": "リーガルホールドの管理"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "OAuth2Security": []
        }
    ],
    "tags": [
        {
            "name": "Automateワークフロー",
            "description": "Automateワークフローのアクションをリストアップして手動で開始するためのエンドポイント。",
            "x-box-tag": "automate_workflows"
        },
        {
            "name": "Box Noteに変換",
            "description": "サポート対象のソースコンテンツ (マークダウンなど) からBox Notesを作成します。",
            "x-box-tag": "notes"
        },
        {
            "name": "クエリ",
            "description": "項目に対するクエリ。",
            "x-box-tag": "query"
        }
    ],
    "externalDocs": {
        "description": "Box Developerドキュメント。",
        "url": "https://developer.box.com"
    }
}
