{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "[Box Platform](https://box.dev)では、[Box](https://box.com)内に保存されているコンテンツへのアクセス権を付与する機能が提供されています。また、ファイルとフォルダの基本操作、会社内のユーザーの管理、リーガルホールドやリテンションポリシーなどの複雑なトピックのためのエンドポイントも提供されています。",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://box.dev",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー"
        }
    ],
    "paths": {
        "/authorize": {
            "get": {
                "operationId": "get_authorize",
                "summary": "ユーザーを承認",
                "description": "ユーザーを[Box](https://box.com)ウェブサイトにリダイレクトして承認し、ユーザーに代わって操作を実行する権限をリクエストします。\n\nこれは、OAuth 2.0を使用してユーザーを承認する際の最初の手順です。Box APIをユーザーに代わって使用することについて、ユーザーに承認してもらうようリクエストするには、この形式を使用してユーザーを所定のURLにリダイレクトする必要があります。",
                "tags": [
                    "承認"
                ],
                "x-box-tag": "authorization",
                "security": [],
                "servers": [
                    {
                        "url": "https://account.box.com/api/oauth2",
                        "description": "クライアント側認証用サーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "response_type",
                        "description": "受信するレスポンスのタイプ。",
                        "in": "query",
                        "example": "code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "token",
                            "enum": [
                                "code"
                            ]
                        }
                    },
                    {
                        "name": "client_id",
                        "description": "ユーザーの認証をリクエストしているアプリケーションのクライアントID。アプリケーションのクライアントIDを取得するには、Box開発者コンソールにログインして、該当するアプリケーションの \\[**アプリケーションの編集**] リンクをクリックします。\\[構成] ページの \\[OAuth2パラメータ] セクションで、`client_id`というラベルの付いた項目を探します。その項目のテキストが、アプリケーションのクライアントIDです。",
                        "in": "query",
                        "example": "ly1nj6n11vionaie65emwzk575hnnmrk",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "redirect_uri",
                        "description": "ユーザーがアプリケーションの権限を許可または拒否した後にブラウザがリダイレクトされるURI。このURIは、アプリケーションの構成に含まれるリダイレクトURIのいずれかと一致します。このURIは有効なHTTPS URIでなければならず、OAuth 2.0フローの次の手順を完了するには、リダイレクトを処理できる状態になっている必要があります。このパラメータは省略可能ですが、開発者コンソールでアプリケーション用にリダイレクトURIを複数設定した場合は、承認URLに含める必要があります。パラメータが指定されていないと、ユーザーがアプリケーションにアクセス権限を付与した後に`redirect_uri_missing`エラーが発生します。",
                        "in": "query",
                        "example": "http://example.com/auth/callback",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "url"
                        }
                    },
                    {
                        "name": "state",
                        "description": "任意のカスタム文字列。認証が完了すると、同じ文字列がBoxからリダイレクトURLに渡されます。このパラメータを使用するとリダイレクト時にユーザーを識別できるだけでなく、ハイジャックされたセッションやその他の悪用を防止できます。",
                        "in": "query",
                        "example": "my_state",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scope",
                        "description": "ユーザーを認証するアプリケーションスコープのカンマ区切りリスト。デフォルトでは、アプリケーションの設定ページで指定されたすべてのスコープになります。",
                        "in": "query",
                        "example": "admin_readwrite",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string",
                                    "format": "html"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "何もデータを返しませんが、ブラウザで使用するようにしてください。",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string",
                                    "format": "html"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "operationId": "post_oauth2_token",
                "summary": "アクセストークンをリクエスト",
                "description": "クライアント側で取得したOAuth 2.0認証コードまたはサーバー側のJWTアサーションを使用してアクセストークンをリクエストします。\n\nアクセストークンとは、リクエストが認証済みセッションに属していることをBoxで検証するための文字列です。通常の手順では、最初にユーザーが[承認](#get-authorize)エンドポイントに対して認証をリクエストした後で、Boxが認証コードを送信します。\n\nユーザーはこのエンドポイントに認証コードを送信してアクセストークンと交換します。返されたアクセストークンは、Box API呼び出しを行うときに使用できます。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Token"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Authorization: Bearer <Token>`のように承認ヘッダー内でトークンを渡すことによって認証済みのAPI呼び出しを行うために使用できる新しいアクセストークンを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/token#refresh": {
            "post": {
                "operationId": "post_oauth2_token#refresh",
                "summary": "アクセストークンを更新",
                "description": "クライアントID、シークレット、更新トークンを使用してアクセストークンを更新します。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "x-box-is-variation": true,
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Token--RefreshAccessToken"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Authorization: Bearer <Token>`のように承認ヘッダー内でトークンを渡すことによって認証済みのAPI呼び出しを行うために使用できる新しいアクセストークンを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/revoke": {
            "post": {
                "operationId": "post_oauth2_revoke",
                "summary": "アクセストークンを取り消し",
                "description": "アクティブなアクセストークンを無効にします。これにより、認証されていたユーザーはログアウトされます。",
                "tags": [
                    "承認"
                ],
                "servers": [
                    {
                        "url": "https://api.box.com",
                        "description": "サーバー側認証に使用するサーバー"
                    }
                ],
                "x-box-tag": "authorization",
                "security": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/PostOAuth2Revoke"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "トークンが正常に無効化された場合は、空のレスポンスを返します。"
                    },
                    "400": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "認証エラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuth2Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}": {
            "get": {
                "operationId": "get_files_id",
                "summary": "ファイル情報を取得",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "description": "ファイルに関する詳細を取得します。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。\n\nまた、このフィールドを使用すると、ファイルに適用されている任意のメタデータに対してクエリを実行できます。その際、`metadata`フィールドのほか、取得するテンプレートのスコープとキー (例: `?field=metadata.enterprise_12345.contractTemplate`) も指定します。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "if-none-match",
                        "description": "項目が変更されている場合にのみ、その項目を返します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されていない場合、エンドポイントは`304 Not Modified`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "boxapi",
                        "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\n`shared_link=[link]`形式を使用するか、パスワードが必要な場合は`shared_link=[link]&shared_link_password=[password]`を使用します。\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
                        "example": "shared_link=[link]&shared_link_password=[password]",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-rep-hints",
                        "description": "ファイルの特定の`representations`をリクエストするために必要なヘッダー。特定のファイルレプリゼンテーションをリクエストするには、このヘッダーを`fields`クエリパラメータと組み合わせて使用します。\n\nこれらのレプリゼンテーションの一般的な形式は`X-Rep-Hints: [...]`で、`[...]`の部分では`[fileType?query]`という形式で1つまたは複数のヒントを指定します。\n\nたとえば、ピクセルサイズ`32x32`および`64x64`の`png`レプリゼンテーションをリクエストするには、以下のヒントを指定します。\n\n`x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`\n\nまた、`[extracted_text]`レプリゼンテーションを使用すると、Box内のすべてのドキュメントファイルタイプに`text`レプリゼンテーションを使用できます。\n\n`x-rep-hints: [extracted_text]`",
                        "example": "[pdf]",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ファイルオブジェクトを返します。\n\n使用可能なすべてのフィールドがデフォルトで返されるとは限りません。特定のフィールドを明示的にリクエストするには、[fields](#param-fields)クエリパラメータを使用します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "`If-None-Match`ヘッダーがフォルダの現在の`etag`値と一致する場合は、空のレスポンスを返します。これは、フォルダが前回リクエストされたときから変更されていないことを示します。"
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "誤ったメディアタイプのファイルに対してアクションが実行されると、エラーが返されます。\n\n* Box Embedでサポートされないファイルの`expiring_embed_link`をリクエストすると、`unsupported_media_type`が返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_id",
                "summary": "ファイルを復元",
                "tags": [
                    "ごみ箱内のファイル"
                ],
                "x-box-tag": "trashed_files",
                "description": "ごみ箱に移動されたファイルを復元します。\n\n元のフォルダが削除されている場合にフォルダの復元先となる新しい親ID (省略可) を指定することができます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "ファイルの新しい名前 (省略可)。",
                                        "example": "Restored.docx",
                                        "type": "string"
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "元のフォルダがすでに存在しない場合にファイルの復元先となるフォルダのID (省略可) を指定します。\n\nこのIDは、元のフォルダがすでに存在しない場合にのみ使用されることに注意してください。このIDは、元の場所が削除されている場合にファイルの復元先となるフォールバックの場所を指定します。"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ファイルが復元されたときにファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrashFileRestored"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ファイルの復元先フォルダに対してユーザーがアクセス権限を持っていない場合、またはごみ箱からファイルを復元する権限を持っていない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルがごみ箱内にない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルの復元先フォルダに同じ名前のファイルが存在する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "put_files_id",
                "summary": "ファイルを更新",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "x-box-sanitized": true,
                "description": "ファイルを更新します。ファイルの名前変更や移動、共有リンクの作成、ファイルのロックといった目的に使用できます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "ファイルの別の名前 (省略可)。これを使用してファイルの名前を変更できます。",
                                        "example": "NewFile.txt"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "ファイルの説明。Boxウェブアプリでファイルを表示すると、右側のサイドバーパネルに表示されます。さらに、このインデックスはファイルの検索インデックスで使用されるため、ユーザーは説明の内容でファイルを見つけることができます。",
                                        "maxLength": 256,
                                        "example": "The latest reports. Automatically updated"
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "ファイルの新しい親フォルダ (省略可)。これを使用して、ファイルを新しいフォルダに移動できます。"
                                            }
                                        ]
                                    },
                                    "shared_link": {
                                        "allOf": [
                                            {
                                                "description": "項目の共有リンクを定義します。これを`null`に設定すると、共有リンクが削除されます。",
                                                "type": "object",
                                                "properties": {
                                                    "access": {
                                                        "type": "string",
                                                        "description": "共有リンクのアクセスレベル。これは、リンクを知っている全員 (`open`)、会社内のユーザーのみ (`company`)、フォルダに招待されたユーザーのみ (`collaborators`) のいずれかに制限できます。\n\n設定しなかった場合、このフィールドは、デフォルトで、企業の管理者が指定したアクセスレベルになります。このデフォルトの設定で共有リンクを作成するには、`{ \"shared_link\": {} }`のように、`access`フィールドを指定せずに`shared_link`オブジェクトを渡します。\n\n`company`アクセスレベルは、有料アカウントのみで使用できます。",
                                                        "enum": [
                                                            "open",
                                                            "company",
                                                            "collaborators"
                                                        ],
                                                        "example": "open"
                                                    },
                                                    "password": {
                                                        "type": "string",
                                                        "description": "共有リンクへのアクセスに必要なパスワード。パスワードを`null`に設定するとパスワードが削除されます。\n\nパスワードは`access`が`open`に設定されている場合にのみ設定できます。",
                                                        "example": "do-not-use-this-password"
                                                    },
                                                    "vanity_name": {
                                                        "type": "string",
                                                        "description": "共有リンクのURLで使用するカスタムバニティ名を定義します (例: `https://app.box.com/v/my-shared-link`)。\n\nバニティURLは通常の共有リンクよりもかなり推測しやすいため、機密性の高いコンテンツを共有する場合は、カスタムURLを使用しないでください。",
                                                        "example": "my-shared-link"
                                                    },
                                                    "unshared_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2012-12-12T10:53:43-08:00",
                                                        "description": "この共有リンクの有効期限が切れる日時のタイムスタンプ。このフィールドを設定できるのは、有料アカウントを持つユーザーのみです。"
                                                    },
                                                    "permissions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "can_download": {
                                                                "type": "boolean",
                                                                "example": true,
                                                                "description": "共有リンクからのファイルのダウンロードが許可されているかどうか。`access`が`open`または`company`に設定されている場合にのみ設定できます。"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            {
                                                "description": "ファイルの共有リンクを定義します。これを`null`に設定すると、共有リンクが削除されます。"
                                            }
                                        ]
                                    },
                                    "lock": {
                                        "type": "object",
                                        "description": "項目のロックを定義します。これにより、ロックを作成したユーザー以外は、この項目を移動、名前変更、および変更できなくなります。\n\nこれを`null`に設定すると、ロックが削除されます。",
                                        "required": [
                                            "type"
                                        ],
                                        "properties": {
                                            "access": {
                                                "type": "string",
                                                "description": "このオブジェクトのタイプ。",
                                                "enum": [
                                                    "lock"
                                                ],
                                                "example": "lock"
                                            },
                                            "expires_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ロックが期限切れになる日時を定義します。"
                                            },
                                            "is_download_prevented": {
                                                "type": "boolean",
                                                "example": true,
                                                "description": "ロック中でもファイルのダウンロードを許可するかどうかを定義します。"
                                            }
                                        }
                                    },
                                    "disposition_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2012-12-12T10:53:43-08:00",
                                        "description": "特定のファイルのリテンションの有効期限のタイムスタンプ。この日付は、一度ファイルに設定すると短縮できません。"
                                    },
                                    "permissions": {
                                        "description": "ファイルをダウンロードできるユーザーを定義します。",
                                        "type": "object",
                                        "properties": {
                                            "can_download": {
                                                "description": "このファイルのダウンロードが許可されるユーザーを定義します。使用可能な値は、`open` (すべてのユーザー) または`company` (ユーザーの会社のその他のメンバー) です。\n\nこの設定は、通常コラボレーションの`role`に含まれるダウンロード権限より優先されます。`company`に設定すると、基本的に、ロールが`viewer`または`editor`である外部ユーザーのダウンロードオプションが削除されます。",
                                                "type": "string",
                                                "example": "open",
                                                "enum": [
                                                    "open",
                                                    "company"
                                                ]
                                            }
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "example": [
                                            "approved"
                                        ],
                                        "items": {
                                            "type": "string"
                                        },
                                        "minItems": 1,
                                        "maxItems": 100,
                                        "description": "この項目のタグ。これらのタグはBoxウェブアプリおよびモバイルアプリで項目の横に表示されます。\n\nタグを追加または削除するには、項目の現在のタグを取得して変更してから、このフィールドを更新します。\n\nタグの数は、1項目あたり100個までに制限され、一意のタグは会社あたり10,000個までに制限されます。"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ファイルオブジェクトを返します。\n\n使用可能なすべてのフィールドがデフォルトで返されるとは限りません。特定のフィールドを明示的にリクエストするには、[fields](#param-fields)クエリパラメータを使用します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "新しいリテンション期間が最大リテンション期間を超える場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "更新を完了するための権限がユーザーに不足している場合に返されます。\n\n* 認証済みユーザーにファイルの移動先フォルダへのアクセス権限がない場合に`access_denied_insufficient_permissions`が返されます。\n* リテンション期間が現在のリテンションのタイムスタンプと等しいか、それより短い場合に返されます。\n* リテンションの対象でない`file_id`が入力された場合に返されます。\n* ファイルが保持されているものの、廃棄アクションが`remove_retention`に設定されている場合に返されます。\n* 情報バリアの制限によりフォルダのコピーが禁止されている場合に`forbidden_by_policy`が返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからない場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_files_id",
                "summary": "ファイルを削除",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-sanitized": true,
                "description": "ファイルを削除します (完全に削除するか、ごみ箱に移動します)。\n\n項目がBoxから完全に削除されるか、ごみ箱に移動されるかは、会社の設定により決定されます。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "ファイルが正常に削除された場合は、空のレスポンスを返します。"
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ファイルが見つからないかすでに削除されている場合、またはユーザーにファイルへのアクセス権限が与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "`file_id`が認識されていない形式で指定されている場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/content": {
            "get": {
                "operationId": "get_files_id_content",
                "summary": "ファイルをダウンロード",
                "tags": [
                    "ダウンロード"
                ],
                "x-box-tag": "downloads",
                "description": "ファイルのコンテンツをバイナリ形式で返します。",
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "range",
                        "description": "ダウンロードするコンテンツのバイト範囲。\n\n`bytes={start_byte}-{end_byte}`の形式を使用して、ダウンロードするファイルのセクションを指定できます。",
                        "example": "bytes=0-1024",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "boxapi",
                        "description": "この項目の共有リンクのURLと省略可能なパスワード。\n\nこのヘッダーを使用すると、ユーザーと明示的に共有されていない項目にアクセスできます。\n\n`shared_link=[link]`形式を使用するか、パスワードが必要な場合は`shared_link=[link]&shared_link_password=[password]`を使用します。\n\nこのヘッダーは、共有されているファイルまたはフォルダのほか、その項目内にネストされているすべてのファイルやフォルダで使用できます。",
                        "example": "shared_link=[link]&shared_link_password=[password]",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "description": "ダウンロードするファイルバージョン",
                        "example": "4",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "access_token",
                        "description": "このリクエストの事前認証に使用できるアクセストークン (省略可)。つまり、ダウンロードリンクは、認証の処理方法を知らなくても、ブラウザまたはサードパーティのサービスと共有できます。このパラメータを使用する際は、そのファイルへの読み取りアクセスだけを許可するよう、アクセストークンが十分にダウンスコープされていることを確認してください。",
                        "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "ファイルをダウンロードする準備ができていない場合は、クライアントがファイルをダウンロードできるようになるまでの秒数を示す`Retry-After`ヘッダーが返されます。\n\nこのレスポンスは、ダウンロードリクエストの直前にファイルがアップロードされた場合に発生することがあります。",
                        "headers": {
                            "Retry-After": {
                                "description": "ダウンロードを再試行するまでの秒数",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "ファイルがダウンロード可能な場合、レスポンスには`dl.boxcloud.com`上のファイルの`Location`ヘッダーが含まれます。\n\n`dl.boxcloud.com`というURLは永続的なものではないため、クライアントで実際にファイルをダウンロードするには、リダイレクト指示に従う必要があります。",
                        "headers": {
                            "Location": {
                                "description": "ダウンロードURLへのポインタ",
                                "schema": {
                                    "type": "string",
                                    "format": "url"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_id_content",
                "tags": [
                    "アップロード"
                ],
                "x-box-tag": "uploads",
                "summary": "ファイルバージョンをアップロード",
                "description": "ファイルのコンテンツを更新します。ファイルサイズが50 MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n# リクエスト本文の順序\n\n本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "content-md5",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                        "in": "header",
                        "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "attributes",
                                    "file"
                                ],
                                "properties": {
                                    "attributes": {
                                        "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                                        "type": "object",
                                        "required": [
                                            "name"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "ファイルの新しい名前 (省略可)。指定した場合は、新しいバージョンがアップロードされると、ファイル名が変更されます。",
                                                "example": "Photo 2.0.png"
                                            },
                                            "content_modified_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            }
                                        }
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "リスト内の新しいファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "`If-Match`ヘッダーがファイルの現在の`etag`値と一致しない場合にエラーを返します。これは、ファイルが前回リクエストされたときから変更されていることを示します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/content": {
            "options": {
                "operationId": "options_files_content",
                "summary": "アップロード前の事前チェック",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "uploads",
                "description": "ファイル全体をアップロードする前に、ファイルがBoxで受け入れられるかどうかをチェックします。",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "ファイルの名前",
                                        "example": "File.mp4"
                                    },
                                    "size": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "ファイルのサイズ (バイト単位)",
                                        "example": 1024
                                    },
                                    "parent": {
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "description": "この項目の親",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "親項目のID",
                                                        "example": "123"
                                                    }
                                                }
                                            },
                                            {
                                                "description": "ファイルのアップロード先の親フォルダ"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "チェックに合格した場合、レスポンスにはファイルのアップロード先として使用できるセッションURLが含まれます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadUrl"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "チェックに合格しなかった場合、レスポンスにはその理由に関する詳細が含まれます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConflictError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "post_files_content",
                "tags": [
                    "アップロード"
                ],
                "x-box-tag": "uploads",
                "summary": "ファイルをアップロード",
                "description": "小さいファイルをBoxにアップロードします。ファイルサイズが50 MBを超える場合は、分割アップロードAPIを使用することをお勧めします。\n\n# リクエスト本文の順序\n\n本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "content-md5",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                        "in": "header",
                        "description": "ファイルが転送中に破損していないことを確認するための、ファイルのSHA1ハッシュを含むヘッダー (省略可)。"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "attributes",
                                    "file"
                                ],
                                "properties": {
                                    "attributes": {
                                        "description": "アップロードされるファイルの追加の属性。主に名前と親フォルダ。これらの属性はマルチパートリクエスト本文に含まれており、JSON形式です。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>",
                                        "type": "object",
                                        "required": [
                                            "name",
                                            "parent"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "ファイルの名前",
                                                "example": "Photo.png"
                                            },
                                            "parent": {
                                                "type": "object",
                                                "description": "ファイルのアップロード先の親フォルダ",
                                                "required": [
                                                    "id"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "124132",
                                                        "description": "親フォルダのID。ユーザーのルートフォルダを指定するには、`0`を使用します。"
                                                    }
                                                }
                                            },
                                            "content_created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最初に作成された日時を定義します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            },
                                            "content_modified_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2012-12-12T10:53:43-08:00",
                                                "description": "ファイルが最後に変更された日時を示します。\n\n設定されていない場合は、アップロード日時が使用されます。"
                                            }
                                        }
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Boxにアップロードするファイルのコンテンツ。\n\n<Message warning>\n\n  本文の`attributes`部分は`file`部分の**前**に置く必要があります。ファイルのアップロード時にリクエストがこの形式に従っていない場合は、HTTP `400`エラーと`metadata_after_file_contents`エラーコードが返されます。\n\n</Message>"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "リスト内の新しいファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `bad_request` - パラメータが指定されていないか誤っている場合に返されます。\n* `item_name_too_long` - フォルダ名が長すぎる場合に返されます。\n* `item_name_invalid` - フォルダ名に無効な文字が含まれている場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions": {
            "post": {
                "operationId": "post_files_upload_sessions",
                "summary": "アップロードセッションを作成",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "新しいファイルのアップロードセッションを作成します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "folder_id",
                                    "file_size",
                                    "file_name"
                                ],
                                "properties": {
                                    "folder_id": {
                                        "description": "新しいファイルのアップロード先フォルダのID。",
                                        "type": "string",
                                        "example": "0"
                                    },
                                    "file_size": {
                                        "description": "アップロードされるファイルの合計バイト数",
                                        "example": 104857600,
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "file_name": {
                                        "description": "新規ファイルの名前",
                                        "example": "Project.mov",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいアップロードセッションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `missing_destination`: `folder_id`が指定されていません\n* `invalid_folder_id`: `folder_id`が無効です\n* `item_name_invalid`: `file_name`が無効です\n* `missing_file_size`: `file_size`が指定されていません\n* `invalid_file_size`: `file_size`が有効な数値ではありません\n* `file_size_too_small`: `file_size`が、このAPIによるアップロードの最小ファイルサイズを下回っています\n* `missing_file_name`: `file_name`が指定されていません",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "何らかの理由で操作が許可されていない場合にエラーを返します。\n\n* `storage_limit_exceeded`: アカウントのストレージサイズの上限に達しました",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "親フォルダが見つからないか、認証済みユーザーが親フォルダにアクセスできない場合はエラーを返します。\n\n* `invalid_parameter`: `folder_id`値は、ユーザーがアクセスできないフォルダまたは存在しないフォルダを表します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/upload_sessions": {
            "post": {
                "operationId": "post_files_id_upload_sessions",
                "summary": "既存ファイルのアップロードセッションを作成",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "既存ファイルのアップロードセッションを作成します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "file_size"
                                ],
                                "properties": {
                                    "file_size": {
                                        "description": "アップロードされるファイルの合計バイト数",
                                        "example": 104857600,
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "file_name": {
                                        "description": "新規ファイルの新しい名前 (省略可)",
                                        "example": "Project.mov",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "新しいアップロードセッションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ファイルがすでに存在する場合、またはアカウントのディスク容量が不足している場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}": {
            "get": {
                "operationId": "get_files_upload_sessions_id",
                "summary": "アップロードセッションを取得",
                "tags": [
                    "アップロード (分割)"
                ],
                "description": "アップロードセッションに関する情報を返します。",
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "アップロードセッションオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSession"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "put_files_upload_sessions_id",
                "summary": "ファイルの一部をアップロード",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "description": "ファイルのアップロードセッションのチャンクを更新します。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "digest",
                        "description": "分割アップロードの[RFC3230][1]メッセージのダイジェスト。\n\nサポートされているのはSHA1のみです。SHA1ダイジェストはbase64でエンコードされている必要があります。このヘッダーの形式は、`sha=BASE64_ENCODED_DIGEST`です。\n\n`SHA`ダイジェストの値を取得するには、openSSLコマンドを使用して、ファイルのパーツをエンコードします: `openssl sha1 -binary <FILE_PART_NAME> | base64`\n\n[1]: https://tools.ietf.org/html/rfc3230",
                        "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "content-range",
                        "description": "チャンクのバイト範囲。\n\nこのセッションですでにアップロードされたパーツの範囲と重複しないようにしてください。各パーツのサイズは、作成したアップロードセッションで指定されているパーツサイズとまったく同じサイズである必要があります。ただし、ファイルの最後のパーツは小さくなる可能性があるため、例外となります。\n\n`content-range`の値を指定する際は、以下の点に注意してください。\n\n* 各パーツのバイト範囲の下限は、パーツサイズの倍数にする必要があります。\n* 上限は、パーツサイズの倍数から1を引いた値にする必要があります。",
                        "example": "bytes 8388608-16777215/445856194",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary",
                                "description": "ファイルのバイナリコンテンツ"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "チャンクは正常にアップロードされました。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedPart"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "チャンクがこれまでにアップロードされた別のチャンクと競合する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "前提条件を満たしていない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "416": {
                        "description": "コンテンツの範囲がセッションの指定範囲と一致しない場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_files_upload_sessions_id",
                "summary": "アップロードセッションを削除",
                "tags": [
                    "アップロード (分割)"
                ],
                "description": "アップロードセッションを中断して、アップロードされたすべてのデータを破棄します。\n\nこの操作は元に戻せません。",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "x-box-tag": "chunked_uploads",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "セッションが正常に中断された場合は、空のレスポンスが返されます。"
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}/parts": {
            "get": {
                "operationId": "get_files_upload_sessions_id_parts",
                "summary": "パーツのリストを取得",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "description": "現在までにアップロードセッションにアップロードされたチャンクのリストを返します。",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "レスポンスが開始される項目のオフセット。\n\nオフセットパラメータ値が10,000を超えているクエリは拒否され、400レスポンスが返されます。",
                        "in": "query",
                        "required": false,
                        "example": 1000,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "返す項目の1ページあたりの最大数。",
                        "in": "query",
                        "required": false,
                        "example": 1000,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "アップロードされたパーツのリストを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadParts"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/upload_sessions/{upload_session_id}/commit": {
            "post": {
                "operationId": "post_files_upload_sessions_id_commit",
                "summary": "アップロードセッションをコミット",
                "tags": [
                    "アップロード (分割)"
                ],
                "x-box-tag": "chunked_uploads",
                "servers": [
                    {
                        "url": "https://upload.box.com/api/2.0",
                        "description": "ファイルアップロードに使用するサーバー"
                    }
                ],
                "description": "アップロードセッションを閉じて、アップロード済みのチャンクからファイルを作成します。",
                "parameters": [
                    {
                        "name": "upload_session_id",
                        "description": "アップロードセッションのID。",
                        "example": "D5E3F7A",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "digest",
                        "description": "ファイル全体の[RFC3230][1]メッセージのダイジェスト。\n\nサポートされているのはSHA1のみです。SHA1ダイジェストはBase64でエンコードされている必要があります。このヘッダーの形式は、`sha=BASE64_ENCODED_DIGEST`です。\n\n[1]: https://tools.ietf.org/html/rfc3230",
                        "in": "header",
                        "example": "sha=fpRyg5eVQletdZqEKaFlqwBXJzM=",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "description": "変更を加える前にこの項目が最近変更されていないことを確認します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されている場合、エンドポイントは`412 Precondition Failed`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-none-match",
                        "description": "項目が変更されている場合にのみ、その項目を返します。\n\nその項目の最後に認識された`etag`値をこのヘッダーに渡すと、それ以降に項目が変更されていない場合、エンドポイントは`304 Not Modified`を返して失敗します。",
                        "in": "header",
                        "required": false,
                        "example": "1",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "parts"
                                ],
                                "properties": {
                                    "parts": {
                                        "type": "array",
                                        "description": "アップロードされたパーツのリストの詳細",
                                        "items": {
                                            "$ref": "#/components/schemas/UploadPart"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "リスト内のファイルオブジェクトを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "すべてのチャンクがすでにアップロードされているものの、まだ処理されていない場合に返されます。\n\nアップロードセッションを調べてチャンク処理の進捗状況に関する詳細情報を取得し、すべてのチャンクが処理された後でファイルのコミットを再試行します。",
                        "headers": {
                            "Retry-After": {
                                "description": "コミットリクエストの再試行までクライアントが待機する秒数を示します。",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "ターゲットフォルダに同じ名前のファイルがすでに存在する場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "`If-Match`または`If-None-Match`条件に一致しなかった場合は、エラーを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/files/{file_id}/copy": {
            "post": {
                "operationId": "post_files_id_copy",
                "summary": "ファイルをコピー",
                "description": "ファイルのコピーを作成します。",
                "tags": [
                    "Files"
                ],
                "x-box-tag": "files",
                "x-box-enable-explorer": true,
                "x-box-sanitized": true,
                "parameters": [
                    {
                        "name": "file_id",
                        "description": "ファイルを表す一意の識別子。\n\nファイルIDを確認するには、ウェブアプリケーションでファイルにアクセスして、URLからIDをコピーします。たとえば、URLが`https://*.app.box.com/files/123`の場合、`file_id`は`123`です。",
                        "example": "12345",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "レスポンスに含める属性のカンマ区切りリスト。このパラメータを使用すると、標準のレスポンスには通常含まれないフィールドをリクエストできます。\n\nこのパラメータを指定すると、明示的に指定しない限り標準フィールドはレスポンスに含まれず、リクエストしたフィールドのほかには、Mini版の表示のフィールドしか返されないことに注意してください。",
                        "in": "query",
                        "example": [
                            "id",
                            "type",
                            "name"
                        ],
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "parent"
                                ],
                                "nullable": false,
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "コピーされたファイルの新しい名前 (省略可)。\n\nファイル名にはいくつかの制約があります。印刷不可能なASCII文字、スラッシュ、およびバックスラッシュ (`/`、`\\`) を含む名前のほか、`.`や`..`のような予約済みの名前は、許可されていない文字を削除することで自動的にサニタイズされます。",
                                        "example": "FileCopy.txt",
                                        "maxLength": 255
                                    },
                                    "version": {
                                        "type": "string",
                                        "description": "コピーする特定のファイルバージョンのID (省略可)",
                                        "example": "0"
                                    },
                                    "parent": {
                                        "type": "object",
                                        "description": "ファイルのコピー先となるフォルダ。",
                                        "required": [
                                            "id"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "ファイルのコピー先となるフォルダのID。",
                                                "example": "0"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "コピーされたファイルを表す新しいファイルオブジェクトを返します。\n\n使用可能なすべてのフィールドがデフォルトで返されるとは限りません。特定のフィールドを明示的にリクエストするには、[fields](#param-fields)クエリパラメータを使用します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "`If-None-Match`ヘッダーがファイルの現在の`etag`値と一致する場合は、空のレスポンスを返します。これは、ファイルが前回リクエストされたときから変更されていないことを示します。"
                    },
                    "400": {
                        "description": "パラメータが不足しているか無効の場合はエラーを返します。\n\n* `bad_request` - パラメータが指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ユーザーにファイルのコピーを作成するための適切な権限がない場合にエラーを返します。\n\n* `forbidden_by_policy`: 情報バリアの制限によりファイルのコピーが禁止されている場合に返されます。",
                        "content": {
                            "application/json": {
[...]
