{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform API",
    "description": "[Box Platform](https://developer.box.com) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box, Inc",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2024.0",
    "x-box-commit-hash": "3d705a6550"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server."
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize",
        "summary": "Authorize user",
        "description": "Authorize a user by sending them through the [Box](https://box.com)\nwebsite and request their permission to act on their behalf.\n\nThis is the first step when authenticating a user using\nOAuth 2.0. To request a user's authorization to use the Box APIs\non their behalf you will need to send a user to the URL with this\nformat.",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "description": "The type of response we'd like to receive.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "token",
              "enum": [
                "code"
              ]
            },
            "example": "code"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "The Client ID of the application that is requesting to authenticate\nthe user. To get the Client ID for your application, log in to your\nBox developer console and click the **Edit Application** link for\nthe application you're working with. In the OAuth 2.0 Parameters section\nof the configuration page, find the item labelled `client_id`. The\ntext of that item is your application's Client ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "The URI to which Box redirects the browser after the user has granted\nor denied the application permission. This URI match one of the redirect\nURIs in the configuration of your application. It must be a\nvalid HTTPS URI and it needs to be able to handle the redirection to\ncomplete the next step in the OAuth 2.0 flow.\nAlthough this parameter is optional, it must be a part of the\nauthorization URL if you configured multiple redirect URIs\nfor the application in the developer console. A missing parameter causes\na `redirect_uri_missing` error after the user grants application access.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "url"
            },
            "example": "http://example.com/auth/callback"
          },
          {
            "name": "state",
            "in": "query",
            "description": "A custom string of your choice. Box will pass the same string to\nthe redirect URL when authentication is complete. This parameter\ncan be used to identify a user on redirect, as well as protect\nagainst hijacked sessions and other exploits.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "my_state"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "A space-separated list of application scopes you'd like to\nauthenticate the user for. This defaults to all the scopes configured\nfor the application in its configuration page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "admin_readwrite"
          }
        ],
        "responses": {
          "200": {
            "description": "Does not return any data, but rather should be used in the browser.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          },
          "default": {
            "description": "Does not return any data, but rather should be used in the browser.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2",
            "description": "Server for client-side authentication."
          }
        ],
        "tags": [
          "Authorization"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Authorize user",
            "source": "curl -i -X GET \"https://account.box.com/api/oauth2/authorize?response_type=code&client_id=ly1nj6n11vionaie65emwzk575hnnmrk&redirect_uri=http://example.com/auth/callback\""
          },
          {
            "lang": "dotnet",
            "label": "Authorize user",
            "source": "using Box.Sdk.Gen;\n\nvar config = new OAuthConfig(clientId: \"YOUR_CLIENT_ID\", clientSecret: \"YOUR_CLIENT_SECRET\");\nvar auth = new BoxOAuth(config: config);\n\n// the URL to redirect the user to\nvar authorizeUrl = auth.GetAuthorizeUrl();"
          },
          {
            "lang": "swift",
            "label": "Authorize user",
            "source": "do {\n    // Initialize configuration with required clientId and clientSecret\n    let config = OAuthConfig(clientId: \"<<YOUR CLIENT ID HERE>>\", clientSecret: \"<<YOUR CLIENT SECRET HERE>>\")\n    // Initialize BoxOAuth with configuration\n    let oauth = BoxOAuth(config: config)\n    // Run login flow which opens a secure web view,\n    // where users enter their login credentials to obtain an authorization code,\n    // which is then exchanged for an access token.\n    try await oauth.runLoginFlow(options: .init(), context: self)\n    // Initialize BoxClient with already authorized OAuth\n    let client = BoxClient(auth: oauth)\n\n    // Use client to make API calls\n    let folder = try await client.folders.getFolderById(folderId: \"<<YOUR_FOLDER_ID>>\")\n} catch {\n    print(\"An error occurred: \\(error)\")\n}"
          },
          {
            "lang": "java",
            "label": "Authorize user",
            "source": "BoxOAuth oauth = new OAuthConfig(\"CLIENT_ID\", \"CLIENT_SECRET\");\nString authorizationUrl = auoauthth.getAuthorizeUrl();"
          },
          {
            "lang": "node",
            "label": "Authorize user",
            "source": "import { BoxOAuth, OAuthConfig } from 'box-node-sdk/box';\n\nconst config = new OAuthConfig({\n  clientId: 'OAUTH_CLIENT_ID',\n  clientSecret: 'OAUTH_CLIENT_SECRET',\n});\nconst oauth = new BoxOAuth({ config: config });\n\n// the URL to redirect the user to\nvar authorize_url = oauth.getAuthorizeUrl();"
          },
          {
            "lang": "python",
            "label": "Authorize user",
            "source": "from box_sdk_gen import BoxOAuth, OAuthConfig\n\nauth = BoxOAuth(\n    OAuthConfig(client_id=\"YOUR_CLIENT_ID\", client_secret=\"YOUR_CLIENT_SECRET\")\n)\nauth_url = auth.get_authorize_url()"
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Request access token",
        "description": "Request an Access Token using either a client-side obtained OAuth 2.0\nauthorization code or a server-side JWT assertion.\n\nAn Access Token is a string that enables Box to verify that a\nrequest belongs to an authorized session. In the normal order of\noperations you will begin by requesting authentication from the\n[authorize](https://developer.box.com/reference/get-authorize) endpoint and Box will send you an\nauthorization code.\n\nYou will then send this code to this endpoint to exchange it for\nan Access Token. The returned Access Token can then be used to to make\nBox API calls.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Token"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a new Access Token that can be used to make authenticated\nAPI calls by passing along the token in a authorization header as\nfollows `Authorization: Bearer <Token>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "Server for server-side authentication."
          }
        ],
        "tags": [
          "Authorization"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Request access token",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/token\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"code=[CODE]\" \\\n     -d \"grant_type=authorization_code\""
          },
          {
            "lang": "dotnet",
            "label": "Request access token",
            "source": "await auth.RetrieveTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "Request access token",
            "source": "try await auth.retrieveToken();"
          },
          {
            "lang": "java",
            "label": "Request access token",
            "source": "auth.retrieveToken();"
          },
          {
            "lang": "node",
            "label": "Request access token",
            "source": "await auth.retrieveToken();"
          },
          {
            "lang": "python",
            "label": "Request access token",
            "source": "auth.retrieve_token()"
          }
        ]
      }
    },
    "/oauth2/token#refresh": {
      "post": {
        "operationId": "post_oauth2_token#refresh",
        "summary": "Refresh access token",
        "description": "Refresh an Access Token using its client ID, secret, and refresh token.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Token--RefreshAccessToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a new Access Token that can be used to make authenticated\nAPI calls by passing along the token in a authorization header as\nfollows `Authorization: Bearer <Token>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "Server for server-side authentication."
          }
        ],
        "tags": [
          "Authorization"
        ],
        "x-box-is-variation": true,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Refresh access token",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/token\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"refresh_token=[REFRESH_TOKEN]\" \\\n     -d \"grant_type=refresh_token\""
          },
          {
            "lang": "dotnet",
            "label": "Refresh access token",
            "source": "await auth.RefreshTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "Refresh access token",
            "source": "try await auth.refreshToken();"
          },
          {
            "lang": "java",
            "label": "Refresh access token",
            "source": "auth.refreshToken();"
          },
          {
            "lang": "node",
            "label": "Refresh access token",
            "source": "await auth.refreshToken();"
          },
          {
            "lang": "python",
            "label": "Refresh access token",
            "source": "auth.refresh_token()"
          }
        ]
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke",
        "summary": "Revoke access token",
        "description": "Revoke an active Access Token, effectively logging a user out\nthat has been previously authenticated.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostOAuth2Revoke"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an empty response when the token was successfully revoked."
          },
          "400": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "default": {
            "description": "An authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        },
        "x-box-tag": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://api.box.com",
            "description": "Server for server-side authentication."
          }
        ],
        "tags": [
          "Authorization"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Revoke access token",
            "source": "curl -i -X POST \"https://api.box.com/oauth2/revoke\" \\\n     -H \"content-type: application/x-www-form-urlencoded\" \\\n     -d \"client_id=[CLIENT_ID]\" \\\n     -d \"client_secret=[CLIENT_SECRET]\" \\\n     -d \"token=[ACCESS_TOKEN]\""
          },
          {
            "lang": "dotnet",
            "label": "Revoke access token",
            "source": "await auth.RevokeTokenAsync();"
          },
          {
            "lang": "swift",
            "label": "Revoke access token",
            "source": "try await auth.revokeToken()"
          },
          {
            "lang": "java",
            "label": "Revoke access token",
            "source": "auth.revokeToken();\n// client's tokens have been revoked"
          },
          {
            "lang": "node",
            "label": "Revoke access token",
            "source": "await auth.revokeTokens();\n// client's tokens have been revoked"
          },
          {
            "lang": "python",
            "label": "Revoke access token",
            "source": "client.auth.revoke_token()"
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id",
        "summary": "Get file information",
        "description": "Retrieves the details about a file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.\n\nAdditionally this field can be used to query any metadata\napplied to the file by specifying the `metadata` field as well\nas the scope and key of the template to retrieve, for example\n`?fields=metadata.enterprise_12345.contractTemplate`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Ensures an item is only returned if it has changed.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `304 Not Modified` if the item has not\nchanged since.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "x-rep-hints",
            "in": "header",
            "description": "A header required to request specific `representations`\nof a file. Use this in combination with the `fields` query\nparameter to request a specific file representation.\n\nThe general format for these representations is\n`X-Rep-Hints: [...]` where `[...]` is one or many\nhints in the format `[fileType?query]`.\n\nFor example, to request a `png` representation in `32x32`\nas well as `64x64` pixel dimensions provide the following\nhints.\n\n`x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`\n\nAdditionally, a `text` representation is available for all\ndocument file types in Box using the `[extracted_text]`\nrepresentation.\n\n`x-rep-hints: [extracted_text]`.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "[pdf]"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\nNot all available fields are returned by default. Use the\n[fields](#parameter-fields) query parameter to explicitly request\nany specific fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File--Full"
                }
              }
            }
          },
          "304": {
            "description": "Returns an empty response when the `If-None-Match` header matches\nthe current `etag` value of the folder. This indicates that the folder\nhas not changed since it was last requested."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "415": {
            "description": "Returns an error if an action is performed on a file with an\nincorrect media type.\n\n* `unsupported_media_type` when requesting an `expiring_embed_link`\n  for a file that is not supported by Box Embed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Get file information",
            "source": "curl -i -X GET \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "Get file information",
            "source": "await client.Files.GetFileByIdAsync(fileId: uploadedFile.Id, queryParams: new GetFileByIdQueryParams() { Fields = Array.AsReadOnly(new [] {\"is_externally_owned\",\"has_collaborations\"}) });"
          },
          {
            "lang": "swift",
            "label": "Get file information",
            "source": "try await client.files.getFileById(fileId: uploadedFile.id, queryParams: GetFileByIdQueryParams(fields: [\"is_externally_owned\", \"has_collaborations\"]))"
          },
          {
            "lang": "java",
            "label": "Get file information",
            "source": "client.getFiles().getFileById(uploadedFile.getId(), new GetFileByIdQueryParams.Builder().fields(Arrays.asList(\"is_externally_owned\", \"has_collaborations\")).build())"
          },
          {
            "lang": "node",
            "label": "Get file information",
            "source": "await client.files.getFileById(uploadedFile.id, {\n  queryParams: {\n    fields: ['is_externally_owned', 'has_collaborations'],\n  } satisfies GetFileByIdQueryParams,\n} satisfies GetFileByIdOptionalsInput);"
          },
          {
            "lang": "python",
            "label": "Get file information",
            "source": "client.files.get_file_by_id(\n    uploaded_file.id, fields=[\"is_externally_owned\", \"has_collaborations\"]\n)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_id",
        "summary": "Restore file",
        "description": "Restores a file that has been moved to the trash.\n\nAn optional new parent ID can be provided to restore the file to in case the\noriginal folder has been deleted.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "An optional new name for the file.",
                    "type": "string",
                    "example": "Restored.docx"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "The parent for this item.",
                        "properties": {
                          "id": {
                            "description": "The ID of parent item.",
                            "type": "string",
                            "example": "123"
                          }
                        }
                      },
                      {
                        "description": "Specifies an optional ID of a folder to restore the file to\nwhen the original folder no longer exists.\n\nPlease be aware that this ID will only be used if the original\nfolder no longer exists. Use this ID to provide a fallback\nlocation to restore the file to if the original location\nhas been deleted."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a file object when the file has been restored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrashFileRestored"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the user does not have access to the folder\nthe file is being restored to, or the user does not have permission\nto restore files from the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the file is not in the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "Returns an error if there is an file with the same name\nin the folder the file is being restored to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "trashed_files",
        "tags": [
          "Trashed files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Restore file",
            "source": "curl -i -X POST \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "Restore file",
            "source": "await client.TrashedFiles.RestoreFileFromTrashAsync(fileId: file.Id);"
          },
          {
            "lang": "swift",
            "label": "Restore file",
            "source": "try await client.trashedFiles.restoreFileFromTrash(fileId: file.id)"
          },
          {
            "lang": "java",
            "label": "Restore file",
            "source": "client.getTrashedFiles().restoreFileFromTrash(file.getId())"
          },
          {
            "lang": "node",
            "label": "Restore file",
            "source": "await client.trashedFiles.restoreFileFromTrash(file.id);"
          },
          {
            "lang": "python",
            "label": "Restore file",
            "source": "client.trashed_files.restore_file_from_trash(file.id)"
          }
        ]
      },
      "put": {
        "operationId": "put_files_id",
        "summary": "Update file",
        "description": "Updates a file. This can be used to rename or move a file,\ncreate a shared link, or lock a file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "Ensures this item hasn't recently changed before\nmaking changes.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `412 Precondition Failed` if it\nhas changed since.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "An optional different name for the file. This can be used to\nrename the file.\n\nFile names must be unique within their parent folder. The name check is case-insensitive, so a file\nnamed `New File` cannot be created in a parent folder that already contains a folder named `new file`.",
                    "type": "string",
                    "example": "NewFile.txt"
                  },
                  "description": {
                    "description": "The description for a file. This can be seen in the right-hand sidebar panel\nwhen viewing a file in the Box web app. Additionally, this index is used in\nthe search index of the file, allowing users to find the file by the content\nin the description.",
                    "type": "string",
                    "example": "The latest reports. Automatically updated",
                    "maxLength": 256
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "The parent for this item.",
                        "properties": {
                          "id": {
                            "description": "The ID of parent item.",
                            "type": "string",
                            "example": "123"
                          },
                          "user_id": {
                            "description": "The input for `user_id` is optional. Moving to non-root folder is not allowed when `user_id` is present. Parent folder id should be zero when `user_id` is provided.",
                            "type": "string",
                            "example": "12346930"
                          }
                        }
                      },
                      {
                        "description": "An optional new parent folder for the file. This can be used\nto move the file to a new folder."
                      }
                    ]
                  },
                  "shared_link": {
                    "allOf": [
                      {
                        "description": "Defines a shared link for an item. Set this to `null` to remove\nthe shared link.",
                        "type": "object",
                        "properties": {
                          "access": {
                            "description": "The level of access for the shared link. This can be\nrestricted to anyone with the link (`open`), only people\nwithin the company (`company`) and only those who\nhave been invited to the folder (`collaborators`).\n\nIf not set, this field defaults to the access level specified\nby the enterprise admin. To create a shared link with this\ndefault setting pass the `shared_link` object with\nno `access` field, for example `{ \"shared_link\": {} }`.\n\nThe `company` access level is only available to paid\naccounts.",
                            "type": "string",
                            "example": "open",
                            "enum": [
                              "open",
                              "company",
                              "collaborators"
                            ]
                          },
                          "password": {
                            "description": "The password required to access the shared link. Set the\npassword to `null` to remove it.\nPasswords must now be at least eight characters\nlong and include a number, upper case letter, or\na non-numeric or non-alphabetic character.\nA password can only be set when `access` is set to `open`.",
                            "type": "string",
                            "example": "do-n8t-use-this-Password",
                            "nullable": true
                          },
                          "vanity_name": {
                            "description": "Defines a custom vanity name to use in the shared link URL,\nfor example `https://app.box.com/v/my-shared-link`.\n\nCustom URLs should not be used when sharing sensitive content\nas vanity URLs are a lot easier to guess than regular shared links.",
                            "type": "string",
                            "example": "my-shared-link"
                          },
                          "unshared_at": {
                            "description": "The timestamp at which this shared link will\nexpire. This field can only be set by\nusers with paid accounts.",
                            "type": "string",
                            "format": "date-time",
                            "example": "2012-12-12T10:53:43-08:00"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "can_download": {
                                "description": "If the shared link allows for downloading of files.\nThis can only be set when `access` is set to\n`open` or `company`.",
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      },
                      {
                        "description": "Defines a shared link for a file. Set this to `null` to remove\nthe shared link."
                      }
                    ],
                    "nullable": true
                  },
                  "lock": {
                    "description": "Defines a lock on an item. This prevents the item from being\nmoved, renamed, or otherwise changed by anyone other than the user\nwho created the lock.\n\nSet this to `null` to remove the lock.",
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "access": {
                        "description": "The type of this object.",
                        "type": "string",
                        "example": "lock",
                        "enum": [
                          "lock"
                        ]
                      },
                      "expires_at": {
                        "description": "Defines the time at which the lock expires.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "is_download_prevented": {
                        "description": "Defines if the file can be downloaded while it is locked.",
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "disposition_at": {
                    "description": "The retention expiration timestamp for the given file. This\ndate cannot be shortened once set on a file.",
                    "type": "string",
                    "format": "date-time",
                    "example": "2012-12-12T10:53:43-08:00"
                  },
                  "permissions": {
                    "description": "Defines who can download a file.",
                    "type": "object",
                    "properties": {
                      "can_download": {
                        "description": "Defines who is allowed to download this file. The possible\nvalues are either `open` for everyone or `company` for\nthe other members of the user's enterprise.\n\nThis setting overrides the download permissions that are\nnormally part of the `role` of a collaboration. When set to\n`company`, this essentially removes the download option for\nexternal users with `viewer` or `editor` a roles.",
                        "type": "string",
                        "example": "open",
                        "enum": [
                          "open",
                          "company"
                        ]
                      }
                    }
                  },
                  "collections": {
                    "description": "An array of collections to make this file\na member of. Currently\nwe only support the `favorites` collection.\n\nTo get the ID for a collection, use the\n[List all collections][1] endpoint.\n\nPassing an empty array `[]` or `null` will remove\nthe file from all collections.\n\n[1]: https://developer.box.com/reference/get-collections",
                    "type": "array",
                    "items": {
                      "title": "Reference",
                      "description": "The bare basic reference for an object.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "The unique identifier for this object.",
                          "type": "string",
                          "example": "11446498"
                        },
                        "type": {
                          "description": "The type for this object.",
                          "type": "string",
                          "example": "file"
                        }
                      }
                    },
                    "nullable": true
                  },
                  "tags": {
                    "description": "The tags for this item. These tags are shown in\nthe Box web app and mobile apps next to an item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update this field.\n\nThere is a limit of 100 tags per item, and 10,000\nunique tags per enterprise.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "approved"
                    ],
                    "maxItems": 100,
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a file object.\n\nNot all available fields are returned by default. Use the\n[fields](#parameter-fields) query parameter to explicitly request\nany specific fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File--Full"
                }
              }
            }
          },
          "400": {
            "description": "Returned when the new retention time > maximum retention length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returned if the user does not have all the permissions to complete the\nupdate.\n\n* `access_denied_insufficient_permissions` returned\nwhen the authenticated user does not have access\nto the destination folder to move the file to.\n* Returned when retention time is shorter or equal to current retention\ntimestamp.\n* Returned when a `file_id` that is not under retention is entered.\n* Returned when a file that is retained but the disposition action is set\nto `remove_retention`\n* `forbidden_by_policy` is returned if copying a folder is\nforbidden due to information barrier restrictions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "412": {
            "description": "Returns an error when the `If-Match` header does not match\nthe current `etag` value of the file. This indicates that the file\nhas changed since it was last requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Update file",
            "source": "curl -i -X PUT \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"name\": \"New name\"\n     }'"
          },
          {
            "lang": "dotnet",
            "label": "Update file",
            "source": "await client.Files.UpdateFileByIdAsync(fileId: fileToUpdate.Id, requestBody: new UpdateFileByIdRequestBody() { Name = updatedName, Description = \"Updated description\" });"
          },
          {
            "lang": "swift",
            "label": "Update file",
            "source": "try await client.files.updateFileById(fileId: fileToUpdate.id, requestBody: UpdateFileByIdRequestBody(name: updatedName, description: \"Updated description\"))"
          },
          {
            "lang": "java",
            "label": "Update file",
            "source": "client.getFiles().updateFileById(fileToUpdate.getId(), new UpdateFileByIdRequestBody.Builder().name(updatedName).description(\"Updated description\").build())"
          },
          {
            "lang": "node",
            "label": "Update file",
            "source": "await client.files.updateFileById(fileToUpdate.id, {\n  requestBody: {\n    name: updatedName,\n    description: 'Updated description',\n  } satisfies UpdateFileByIdRequestBody,\n} satisfies UpdateFileByIdOptionalsInput);"
          },
          {
            "lang": "python",
            "label": "Update file",
            "source": "client.files.update_file_by_id(\n    file_to_update.id, name=updated_name, description=\"Updated description\"\n)"
          }
        ]
      },
      "delete": {
        "operationId": "delete_files_id",
        "summary": "Delete file",
        "description": "Deletes a file, either permanently or by moving it to\nthe trash.\n\nThe enterprise settings determine whether the item will\nbe permanently deleted from Box or moved to the trash.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "Ensures this item hasn't recently changed before\nmaking changes.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `412 Precondition Failed` if it\nhas changed since.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the file has been successfully\ndeleted."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the file is not found or has already been deleted, or the user\ndoes not have access to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "412": {
            "description": "Returns an error when the `If-Match` header does not match\nthe current `etag` value of the file. This indicates that the file\nhas changed since it was last requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Delete file",
            "source": "curl -i -X DELETE \"https://api.box.com/2.0/files/12345\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "Delete file",
            "source": "await client.Files.DeleteFileByIdAsync(fileId: thumbnailFile.Id);"
          },
          {
            "lang": "swift",
            "label": "Delete file",
            "source": "try await client.files.deleteFileById(fileId: thumbnailFile.id)"
          },
          {
            "lang": "java",
            "label": "Delete file",
            "source": "client.getFiles().deleteFileById(thumbnailFile.getId())"
          },
          {
            "lang": "node",
            "label": "Delete file",
            "source": "await client.files.deleteFileById(thumbnailFile.id);"
          },
          {
            "lang": "python",
            "label": "Delete file",
            "source": "client.files.delete_file_by_id(thumbnail_file.id)"
          }
        ]
      }
    },
    "/files/{file_id}/app_item_associations": {
      "get": {
        "operationId": "get_files_id_app_item_associations",
        "summary": "List file app item associations",
        "description": "**This is a beta feature, which means that its availability might be limited.**\nReturns all app items the file is associated with. This includes app items\nassociated with ancestors of the file. Assuming the context user has access\nto the file, the type/ids are revealed even if the context user does not\nhave **View** permission on the app item.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "application_type",
            "in": "query",
            "description": "If given, only return app items for this application type.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": false
            },
            "example": "hubs"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of app item objects. If there are no\napp items on this file, an empty collection will be returned.\nThis list includes app items on ancestors of this File.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppItemAssociations"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "app_item_associations",
        "tags": [
          "App item associations"
        ],
        "x-codeSamples": [
          {
            "lang": "dotnet",
            "label": "List file app item associations",
            "source": "await client.AppItemAssociations.GetFileAppItemAssociationsAsync(fileId: fileId);"
          },
          {
            "lang": "swift",
            "label": "List file app item associations",
            "source": "try await client.appItemAssociations.getFileAppItemAssociations(fileId: fileId)"
          },
          {
            "lang": "java",
            "label": "List file app item associations",
            "source": "client.getAppItemAssociations().getFileAppItemAssociations(fileId)"
          },
          {
            "lang": "node",
            "label": "List file app item associations",
            "source": "await client.appItemAssociations.getFileAppItemAssociations(fileId);"
          },
          {
            "lang": "python",
            "label": "List file app item associations",
            "source": "client.app_item_associations.get_file_app_item_associations(file_id)"
          }
        ]
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "operationId": "get_files_id_content",
        "summary": "Download file",
        "description": "Returns the contents of a file in binary format.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "range",
            "in": "header",
            "description": "The byte range of the content to download.\n\nThe format `bytes={start_byte}-{end_byte}` can be used to specify\nwhat section of the file to download.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bytes=0-1024"
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "version",
            "in": "query",
            "description": "The file version to download.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "4"
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "An optional access token that can be used to pre-authenticate this request, which means that a download link can be shared with a browser or a third party service without them needing to know how to handle the authentication.\nWhen using this parameter, please make sure that the access token is sufficiently scoped down to only allow read access to that file and no other files or folders.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested file if the client has the **follow\nredirects** setting enabled to automatically\nfollow HTTP `3xx` responses as redirects. If not, the request\nwill return `302` instead.\nFor details, see\nthe [download file guide](https://developer.box.com/guides/downloads/file#download-url).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "description": "The binary content of the file.",
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "If the file is not ready to be downloaded yet `Retry-After` header will\nbe returned indicating the time in seconds after which the file will\nbe available for the client to download.\n\nThis response can occur when the file was uploaded immediately before the\ndownload request.",
            "headers": {
              "Retry-After": {
                "description": "The time in seconds after which to retry the download.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "302": {
            "description": "If the file is available for download the response will include a\n`Location` header for the file on `dl.boxcloud.com`.\n\nThe `dl.boxcloud.com` URL is not persistent and clients will need\nto follow the redirect to actually download the file.",
            "headers": {
              "Location": {
                "description": "A pointer to the download URL.",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "downloads",
        "tags": [
          "Downloads"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Download file",
            "source": "curl -i -L -X GET \"https://api.box.com/2.0/files/12345/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\"
          },
          {
            "lang": "dotnet",
            "label": "Download file",
            "source": "await client.Downloads.DownloadFileAsync(fileId: uploadedFile.Id);"
          },
          {
            "lang": "swift",
            "label": "Download file",
            "source": "let downloadsDirectoryURL = FileManager.default.urls(for: .documentDirectory, in: .userDomainMask).first!\nlet destinationURL = downloadsDirectoryURL.appendingPathComponent(\"file.txt\")\n\nlet url = try await client.downloads.downloadFile(fileId: file.id, downloadDestinationURL: destinationURL)\n\nif let fileContent = try? String(contentsOf: url, encoding: .utf8) {\n    print(\"The content of the file: \\(fileContent)\")\n}"
          },
          {
            "lang": "java",
            "label": "Download file",
            "source": "client.getDownloads().downloadFile(uploadedFile.getId())"
          },
          {
            "lang": "node",
            "label": "Download file",
            "source": "const fs = require('fs');\n\nconst fileContent = await client.downloads.downloadFile('123456789');\nconst fileWriteStream = fs.createWriteStream('file.pdf');\nfileContent.pipe(fileWriteStream);"
          },
          {
            "lang": "python",
            "label": "Download file",
            "source": "client.downloads.download_file(uploaded_file.id)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_id_content",
        "summary": "Upload file version",
        "description": "Update a file's content. For file sizes over 50MB we recommend\nusing the Chunk Upload APIs.\n\nThe `attributes` part of the body must come **before** the\n`file` part. Requests that do not follow this format when\nuploading the file will receive a HTTP `400` error with a\n`metadata_after_file_contents` error code.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "Ensures this item hasn't recently changed before\nmaking changes.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `412 Precondition Failed` if it\nhas changed since.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "content-md5",
            "in": "header",
            "description": "An optional header containing the SHA1 hash of the file to\nensure that the file was not corrupted in transit.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "The additional attributes of the file being uploaded. Mainly the\nname and the parent folder. These attributes are part of the multi\npart request body and are in JSON format.\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the\n  `file` part. Requests that do not follow this format when\n  uploading the file will receive a HTTP `400` error with a\n  `metadata_after_file_contents` error code.\n\n</Message>",
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "An optional new name for the file. If specified, the file\nwill be renamed when the new version is uploaded.",
                        "type": "string",
                        "example": "Photo 2.0.png"
                      },
                      "content_modified_at": {
                        "description": "Defines the time the file was last modified at.\n\nIf not set, the upload time will be used.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "file": {
                    "description": "The content of the file to upload to Box.\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the\n  `file` part. Requests that do not follow this format when\n  uploading the file will receive a HTTP `400` error with a\n  `metadata_after_file_contents` error code.\n\n</Message>",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attributes",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the new file object in a list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          },
          "412": {
            "description": "Returns an error when the `If-Match` header does not match\nthe current `etag` value of the file. This indicates that the file\nhas changed since it was last requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "Server for file uploads."
          }
        ],
        "tags": [
          "Uploads"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Upload file version",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/12345/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: multipart/form-data\" \\\n     -F attributes='{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}' \\\n     -F file=@<FILE_NAME>"
          },
          {
            "lang": "dotnet",
            "label": "Upload file version",
            "source": "await client.Uploads.UploadFileVersionAsync(fileId: uploadedFile.Id, requestBody: new UploadFileVersionRequestBody(attributes: new UploadFileVersionRequestBodyAttributesField(name: newFileVersionName), file: newFileContentStream));"
          },
          {
            "lang": "java",
            "label": "Upload file version",
            "source": "client.getUploads().uploadFileVersion(uploadedFile.getId(), new UploadFileVersionRequestBody(new UploadFileVersionRequestBodyAttributesField(newFileVersionName), newFileContentStream))"
          },
          {
            "lang": "node",
            "label": "Upload file version",
            "source": "await client.uploads.uploadFileVersion(file.id, {\n  attributes: {\n    name: file.name!,\n  } satisfies UploadFileVersionRequestBodyAttributesField,\n  file: generateByteStream(20),\n} satisfies UploadFileVersionRequestBody);"
          },
          {
            "lang": "python",
            "label": "Upload file version",
            "source": "client.uploads.upload_file_version(\n    uploaded_file.id,\n    UploadFileVersionAttributes(name=new_file_version_name),\n    new_file_content_stream,\n)"
          }
        ]
      }
    },
    "/files/content": {
      "options": {
        "operationId": "options_files_content",
        "summary": "Preflight check before upload",
        "tags": [
          "Files"
        ],
        "x-box-tag": "uploads",
        "description": "Performs a check to verify that a file will be accepted by Box\nbefore you upload the entire file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name for the file.",
                    "type": "string",
                    "example": "File.mp4"
                  },
                  "size": {
                    "description": "The size of the file in bytes.",
                    "type": "integer",
                    "format": "int32",
                    "example": 1024
                  },
                  "parent": {
                    "allOf": [
                      {
                        "type": "object",
                        "description": "The parent for this item.",
                        "properties": {
                          "id": {
                            "description": "The ID of parent item.",
                            "type": "string",
                            "example": "123"
                          }
                        }
                      },
                      {
                        "description": "The parent folder to upload the file to."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "If the check passed, the response will include a session URL that\ncan be used to upload the file to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrl"
                }
              }
            }
          },
          "409": {
            "description": "If the check did not pass, the response will include some details on\nwhy it did not pass.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Preflight check before upload",
            "source": "curl -i -X OPTIONS \"https://api.box.com/2.0/files/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}'"
          },
          {
            "lang": "dotnet",
            "label": "Preflight check before upload",
            "source": "await client.Uploads.PreflightFileUploadCheckAsync(requestBody: new PreflightFileUploadCheckRequestBody() { Name = newFileName, Size = 1024 * 1024, Parent = new PreflightFileUploadCheckRequestBodyParentField() { Id = \"0\" } });"
          },
          {
            "lang": "java",
            "label": "Preflight check before upload",
            "source": "client.getUploads().preflightFileUploadCheck(new PreflightFileUploadCheckRequestBody.Builder().name(newFileName).size(1024 * 1024).parent(new PreflightFileUploadCheckRequestBodyParentField.Builder().id(\"0\").build()).build())"
          },
          {
            "lang": "node",
            "label": "Preflight check before upload",
            "source": "await client.uploads.preflightFileUploadCheck({\n  name: newFileName,\n  size: 1024 * 1024,\n  parent: { id: '0' } satisfies PreflightFileUploadCheckRequestBodyParentField,\n} satisfies PreflightFileUploadCheckRequestBody);"
          },
          {
            "lang": "python",
            "label": "Preflight check before upload",
            "source": "client.uploads.preflight_file_upload_check(\n    name=new_file_name, size=1024 * 1024, parent=PreflightFileUploadCheckParent(id=\"0\")\n)"
          }
        ]
      },
      "post": {
        "operationId": "post_files_content",
        "summary": "Upload file",
        "description": "Uploads a small file to Box. For file sizes over 50MB we recommend\nusing the Chunk Upload APIs.\n\nThe `attributes` part of the body must come **before** the\n`file` part. Requests that do not follow this format when\nuploading the file will receive a HTTP `400` error with a\n`metadata_after_file_contents` error code.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "content-md5",
            "in": "header",
            "description": "An optional header containing the SHA1 hash of the file to\nensure that the file was not corrupted in transit.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "The additional attributes of the file being uploaded. Mainly the\nname and the parent folder. These attributes are part of the multi\npart request body and are in JSON format.\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the\n  `file` part. Requests that do not follow this format when\n  uploading the file will receive a HTTP `400` error with a\n  `metadata_after_file_contents` error code.\n\n</Message>",
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "The name of the file.\n\nFile names must be unique within their parent folder. The name check is case-insensitive, so a file\nnamed `New File` cannot be created in a parent folder that already contains a folder named `new file`.",
                        "type": "string",
                        "example": "Photo.png"
                      },
                      "parent": {
                        "description": "The parent folder to upload the file to.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The id of the parent folder. Use\n`0` for the user's root folder.",
                            "type": "string",
                            "example": "124132"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "content_created_at": {
                        "description": "Defines the time the file was originally created at.\n\nIf not set, the upload time will be used.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "content_modified_at": {
                        "description": "Defines the time the file was last modified at.\n\nIf not set, the upload time will be used.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      }
                    },
                    "required": [
                      "name",
                      "parent"
                    ]
                  },
                  "file": {
                    "description": "The content of the file to upload to Box.\n\n<Message warning>\n\n  The `attributes` part of the body must come **before** the\n  `file` part. Requests that do not follow this format when\n  uploading the file will receive a HTTP `400` error with a\n  `metadata_after_file_contents` error code.\n\n</Message>",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attributes",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the new file object in a list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          },
          "400": {
            "description": "Returns an error if some of the parameters are missing or\nnot valid.\n* `bad_request` when a parameter is missing or incorrect.\n* `item_name_too_long` when the folder name is too long.\n* `item_name_invalid` when the folder name contains\n  non-valid characters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the parent folder\ndoes not exist or if the user\nis not authorized to access the parent folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "Returns an error if the file already exists,\nor the account has run out of disk space.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "Server for file uploads."
          }
        ],
        "tags": [
          "Uploads"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Upload file",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/content\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: multipart/form-data\" \\\n     -F attributes='{\"name\":\"Contract.pdf\", \"parent\":{\"id\":\"11446498\"}}' \\\n     -F file=@<FILE_NAME>"
          },
          {
            "lang": "dotnet",
            "label": "Upload file",
            "source": "await client.Uploads.UploadFileAsync(requestBody: new UploadFileRequestBody(attributes: new UploadFileRequestBodyAttributesField(name: newFileName, parent: new UploadFileRequestBodyAttributesParentField(id: \"0\")), file: fileContentStream));"
          },
          {
            "lang": "swift",
            "label": "Upload file",
            "source": "// Create InputStream for a file based on URL\nguard let fileStream = InputStream(url: URL(string: \"<URL_TO_YOUR_FILE>\")!) else {\n    fatalError(\"Could not read a file\")\n}\n\n// Create a request body with the required parameters\nlet requestBody = UploadFileRequestBodyArg(\n    attributes: UploadFileRequestBodyArgAttributesField(\n        name: \"filename.txt\",\n        parent: UploadFileRequestBodyArgAttributesFieldParentField(id: \"0\")\n    ),\n    file: fileStream\n)\n\n// Call uploadFile method\nlet files = try await client.uploads.uploadFile(requestBody: requestBody)\n\n// Print some data from the reponse\nif let file = files.entries?[0] {\n    print(\"File uploaded with id \\(file.id), name \\(file.name!)\")\n}"
          },
          {
            "lang": "java",
            "label": "Upload file",
            "source": "client.getUploads().uploadFile(new UploadFileRequestBody(new UploadFileRequestBodyAttributesField(newFileName, new UploadFileRequestBodyAttributesParentField(\"0\")), fileContentStream))"
          },
          {
            "lang": "node",
            "label": "Upload file",
            "source": "const fs = require('fs');\n\nconst attrs = { name: 'filename.txt', parent: { id: '0' } };\nconst body = {\n  attributes: attrs,\n  file: fs.createReadStream('filename.txt'),\n};\nconst files = await client.uploads.uploadFile(body);\nconst file = files.entries[0];\nconsole.log(`File uploaded with id ${file.id}, name ${file.name}`);"
          },
          {
            "lang": "python",
            "label": "Upload file",
            "source": "client.uploads.upload_file(\n    UploadFileAttributes(\n        name=new_file_name, parent=UploadFileAttributesParentField(id=\"0\")\n    ),\n    file_content_stream,\n)"
          }
        ]
      }
    },
    "/files/upload_sessions": {
      "post": {
        "operationId": "post_files_upload_sessions",
        "summary": "Create upload session",
        "description": "Creates an upload session for a new file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folder_id": {
                    "description": "The ID of the folder to upload the new file to.",
                    "type": "string",
                    "example": "0"
                  },
                  "file_size": {
                    "description": "The total number of bytes of the file to be uploaded.",
                    "type": "integer",
                    "format": "int64",
                    "example": 104857600
                  },
                  "file_name": {
                    "description": "The name of new file.",
                    "type": "string",
                    "example": "Project.mov"
                  }
                },
                "required": [
                  "folder_id",
                  "file_size",
                  "file_name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new upload session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "400": {
            "description": "Returns an error if some of the parameters are missing or\nnot valid.\n\n* `missing_destination`: No `folder_id` was provided.\n* `invalid_folder_id`: `folder_id` is not valid.\n* `item_name_invalid`: `file_name` is not valid.\n* `missing_file_size`: `file_size` was not provided.\n* `invalid_file_size`: `file_size` was not a valid number.\n* `file_size_too_small`: `file_size` is below minimum file size for\n  uploads via this API.\n* `missing_file_name`: `file_name` was not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the operation is not allowed for some reason.\n\n* `storage_limit_exceeded`: Account storage limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the parent folder could not be found, or\nthe authenticated user does not have access to it.\n\n* `invalid_parameter`: The `folder_id` value represents a\n  folder that the user does not have access to, or does not\n  exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "Returns an error if the file already exists,\nor the account has run out of disk space.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "Server for file uploads."
          }
        ],
        "tags": [
          "Uploads (Chunked)"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Create upload session",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/upload_sessions\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"folder_id\": \"0\",\n       \"file_size\": 104857600,\n       \"file_name\": \"Contract.pdf\"\n     }'"
          },
          {
            "lang": "dotnet",
            "label": "Create upload session",
            "source": "await client.ChunkedUploads.CreateFileUploadSessionAsync(requestBody: new CreateFileUploadSessionRequestBody(fileName: fileName, fileSize: (long)(fileSize), folderId: parentFolderId));"
          },
          {
            "lang": "swift",
            "label": "Create upload session",
            "source": "try await client.chunkedUploads.createFileUploadSession(requestBody: CreateFileUploadSessionRequestBody(fileName: fileName, fileSize: Int64(fileSize), folderId: parentFolderId))"
          },
          {
            "lang": "java",
            "label": "Create upload session",
            "source": "client.getChunkedUploads().createFileUploadSession(new CreateFileUploadSessionRequestBody(parentFolderId, fileSize, fileName))"
          },
          {
            "lang": "node",
            "label": "Create upload session",
            "source": "await client.chunkedUploads.createFileUploadSession({\n  fileName: fileName,\n  fileSize: fileSize,\n  folderId: parentFolderId,\n} satisfies CreateFileUploadSessionRequestBody);"
          },
          {
            "lang": "python",
            "label": "Create upload session",
            "source": "client.chunked_uploads.create_file_upload_session(\n    parent_folder_id, file_size, file_name\n)"
          }
        ]
      }
    },
    "/files/{file_id}/upload_sessions": {
      "post": {
        "operationId": "post_files_id_upload_sessions",
        "summary": "Create upload session for existing file",
        "description": "Creates an upload session for an existing file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_size": {
                    "description": "The total number of bytes of the file to be uploaded.",
                    "type": "integer",
                    "format": "int64",
                    "example": 104857600
                  },
                  "file_name": {
                    "description": "The optional new name of new file.",
                    "type": "string",
                    "example": "Project.mov"
                  }
                },
                "required": [
                  "file_size"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new upload session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "409": {
            "description": "Returns an error if the file already exists,\nor if the account has run out of disk space.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://upload.box.com/api/2.0",
            "description": "Server for file uploads."
          }
        ],
        "tags": [
          "Uploads (Chunked)"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Create upload session for existing file",
            "source": "curl -i -X POST \"https://upload.box.com/api/2.0/files/12345/upload_sessions\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\" \\\n     -H \"content-type: application/json\" \\\n     -d '{\n       \"file_size\": 104857600\n     }'"
          }
        ]
      }
    },
    "/files/upload_sessions/{upload_session_id}": {
      "get": {
        "operationId": "get_files_upload_sessions_id",
        "summary": "Get upload session",
        "description": "Return information about an upload session.\n\nThe actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions) endpoint.",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "The ID of the upload session.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "D5E3F7A"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an upload session object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "chunked_uploads",
        "servers": [
          {
            "url": "https://{box-upload-server}/api/2.0",
            "description": "Server for file uploads.",
            "variables": {
              "box-upload-server": {
                "description": "The server for the upload session.",
                "default": "upload.box.com"
              }
            }
          }
        ],
        "tags": [
          "Uploads (Chunked)"
        ],
        "x-box-enable-explorer": false,
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Get upload session",
            "source": "curl -i -X GET \"https://upload.box.com/2.0/files/upload_sessions/F971964745A5CD0C001BBE4E58196BFD\" \\\n     -H \"authorization: Bearer <ACCESS_TOKEN>\""
          },
          {
            "lang": "dotnet",
            "label": "Get upload session",
            "source": "await client.ChunkedUploads.GetFileUploadSessionByIdAsync(uploadSessionId: uploadSessionId);"
          },
          {
            "lang": "swift",
            "label": "Get upload session",
            "source": "try await client.chunkedUploads.getFileUploadSessionById(uploadSessionId: uploadSessionId)"
          },
          {
            "lang": "java",
            "label": "Get upload session",
            "source": "client.getChunkedUploads().getFileUploadSessionById(uploadSessionId)"
          },
          {
            "lang": "node",
            "label": "Get upload session",
            "source": "await client.chunkedUploads.getFileUploadSessionById(uploadSessionId);"
          },
          {
            "lang": "python",
            "label": "Get upload session",
            "source": "client.chunked_uploads.get_file_upload_session_by_id(upload_session_id)"
          }
        ]
      },
      "put": {
        "operationId": "put_files_upload_sessions_id",
        "summary": "Upload part of file",
        "description": "Uploads a chunk of a file for an upload session.\n\nThe actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)\nand [`Get upload session`](https://developer.box.com/reference/get-files-upload-sessions-id) endpoints.",
        "parameters": [
          {
            "name": "upload_session_id",
            "in": "path",
            "description": "The ID of the upload session.",
[...]
