{
    "openapi": "3.0.2",
    "info": {
        "title": "Box Platform API",
        "description": "common/description.md",
        "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
        "contact": {
            "name": "Box, Inc",
            "url": "https://box.dev",
            "email": "devrel@box.com"
        },
        "license": {
            "name": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2025.0",
        "x-box-commit-hash": "1428271b4b"
    },
    "servers": [
        {
            "url": "https://api.box.com/2.0",
            "description": "Box Platform APIサーバー"
        }
    ],
    "paths": {
        "/docgen_templates": {
            "post": {
                "operationId": "post_docgen_templates_v2025.0",
                "summary": "Create a Box Doc Gen template",
                "description": "Marks a file as a Box Doc Gen template.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "description": "Marks the provided file as a Box Doc Gen template.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenTemplateCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The file which has now been marked as a Box Doc Gen template.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate--Base"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_v2025.0",
                "summary": "List Box Doc Gen templates",
                "description": "Lists Box Doc Gen templates on which the user is a collaborator.",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "テンプレートのコレクションを返します。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplates"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            }
        },
        "/docgen_templates/{template_id}": {
            "delete": {
                "operationId": "delete_docgen_templates_id_v2025.0",
                "summary": "Delete Box Doc Gen template",
                "description": "Unmarks file as Box Doc Gen template",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "ID of the file which will no longer be marked as a Box Doc Gen template.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123"
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returns an empty response when a file is no longer marked as a Box Doc Gen template."
                    },
                    "400": {
                        "description": "クライアントエラーが原因で、サーバーはリクエストを処理できないか、処理しません。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            },
            "get": {
                "operationId": "get_docgen_templates_id_v2025.0",
                "summary": "Get Box Doc Gen template by ID",
                "description": "Lists details of a specific Box Doc Gen template.",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "The ID of a Box Doc Gen template.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a template.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTemplate"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`Authorization`ヘッダーで指定されているアクセストークンが認識されないか、指定されていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "予期しないクライアントエラー。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            }
        },
        "/docgen_templates/{template_id}/tags": {
            "get": {
                "operationId": "get_docgen_templates_id_tags_v2025.0",
                "summary": "List all Box Doc Gen template tags in template",
                "description": "Lists all tags in a Box Doc Gen template.",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "ID of template.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "template_version_id",
                        "in": "query",
                        "description": "Id of template version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of document generation template tags.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTags"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Processing tags for the file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenTagsProcessingMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource could not be found but may be available in the future.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            }
        },
        "/docgen_jobs/{job_id}": {
            "get": {
                "operationId": "get_docgen_jobs_id_v2025.0",
                "summary": "Get Box Doc Gen job by ID",
                "description": "Get details of the Box Doc Gen job.",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "description": "Box Doc Gen job ID.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the Box Doc Gen job.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJob"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned if the job is not found or the user does not have access to the associated job.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_jobs": {
            "get": {
                "operationId": "get_docgen_jobs_v2025.0",
                "summary": "List all Box Doc Gen jobs",
                "description": "Lists all Box Doc Gen jobs for a user.",
                "parameters": [
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of Box Doc Gen jobs.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs--Full"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_template_jobs/{template_id}": {
            "get": {
                "operationId": "get_docgen_template_jobs_id_v2025.0",
                "summary": "Get list of all Box Doc Gen jobs for template",
                "description": "Lists the users jobs which use this template.",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Id of template to fetch jobs for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Box Doc Gen template.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "テンプレートが見つからない場合、または関連付けられたテンプレートへのアクセス権限がユーザーに与えられていない場合に返されます。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen_template",
                "tags": [
                    "Box Doc Gen templates"
                ]
            }
        },
        "/docgen_batch_jobs/{batch_id}": {
            "get": {
                "operationId": "get_docgen_batch_jobs_id_v2025.0",
                "summary": "Get Box Doc Gen jobs in a batch with a specific ID",
                "description": "Lists Box Doc Gen jobs in a batch",
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "description": "Box Doc Gen batch ID.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "marker",
                        "in": "query",
                        "description": "結果が返される開始位置のマーカー。マーカーベースのページ割りを使用している場合に使用されます。\n\nこれを使用するには、`usemarker`を`true`に設定する必要があります。",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "返す項目の1ページあたりの最大数。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "maximum": 1000
                        },
                        "example": 1000
                    },
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of Box Doc Gen jobs in a Box Doc Gen batch.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenJobs"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned if the batch is not found or the user does not have access to the associated batch.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        },
        "/docgen_batches": {
            "post": {
                "operationId": "post_docgen_batches_v2025.0",
                "summary": "Generate document using a Box Doc Gen template",
                "description": "Generates a document using a Box Doc Gen template.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BoxVersionHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocGenBatchCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "The created Batch ID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocGenBatch--Base"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content or resource requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected condition was encountered on the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientError"
                                }
                            }
                        }
                    }
                },
                "x-box-tag": "docgen",
                "tags": [
                    "Box Doc Gen"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "BoxVersionHeader": {
                "name": "box-version",
                "in": "header",
                "description": "Version header",
                "allowEmptyValue": false,
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "2025.0"
                    ]
                },
                "example": "2025.0"
            }
        },
        "schemas": {
            "ClientError": {
                "description": "一般的なエラー",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "エラー",
                        "type": "string",
                        "example": "error",
                        "enum": [
                            "error"
                        ],
                        "nullable": false
                    },
                    "status": {
                        "description": "レスポンスのHTTPステータス。",
                        "type": "integer",
                        "format": "int32",
                        "example": 400,
                        "nullable": false
                    },
                    "code": {
                        "description": "Box固有のエラーコード",
                        "type": "string",
                        "example": "item_name_invalid",
                        "enum": [
                            "created",
                            "accepted",
                            "no_content",
                            "redirect",
                            "not_modified",
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "method_not_allowed",
                            "conflict",
                            "precondition_failed",
                            "too_many_requests",
                            "internal_server_error",
                            "unavailable",
                            "item_name_invalid",
                            "insufficient_scope"
                        ]
                    },
                    "message": {
                        "description": "エラーについての短い説明メッセージ。",
                        "type": "string",
                        "example": "Method Not Allowed",
                        "nullable": false
                    },
                    "context_info": {
                        "description": "このエラーに関する追加コンテキストを含む自由形式のオブジェクト。使用できるフィールドは、エンドポイントごとに定義されています。`message`は唯一の例です。",
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "message": {
                                "description": "エラーの詳細。",
                                "type": "string",
                                "example": "Something went wrong."
                            }
                        }
                    },
                    "help_url": {
                        "description": "このエラーの原因に関する詳細情報にリンクされたURL。",
                        "type": "string",
                        "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
                        "nullable": false
                    },
                    "request_id": {
                        "description": "Boxサポートに連絡するときに使用できる、このレスポンスの一意の識別子。",
                        "type": "string",
                        "example": "abcdef123456",
                        "nullable": false
                    }
                },
                "title": "クライアントエラー",
                "x-box-resource-id": "client_error_v2025.0"
            },
            "DocGenBatch--Base": {
                "description": "The basic representation of a Box Doc Gen batch object. A Box Doc Gen batch contains one or more Box Doc Gen jobs.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The unique identifier that represents a Box Doc Gen batch.",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`docgen_batch`",
                        "type": "string",
                        "example": "docgen_batch",
                        "enum": [
                            "docgen_batch"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Box Doc Gen batch (Base)",
                "x-box-resource-id": "docgen_batch_v2025.0--base",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base"
                ]
            },
            "DocGenBatchCreateRequest": {
                "description": "The schema for creating a Box Doc Gen job batch request.",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "A Box Doc Gen template that is used to generate the document."
                            }
                        ]
                    },
                    "file_version": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileVersion--Base"
                            },
                            {
                                "description": "File version of a template."
                            }
                        ]
                    },
                    "input_source": {
                        "description": "Source of input. The value has to be `api` for all the API-based document generation requests.",
                        "type": "string",
                        "example": "api"
                    },
                    "destination_folder": {
                        "allOf": [
                            {
                                "title": "Folder reference",
                                "type": "object",
                                "description": "Folder reference",
                                "required": [
                                    "type",
                                    "id"
                                ],
                                "properties": {
                                    "type": {
                                        "description": "`folder`",
                                        "type": "string",
                                        "example": "folder",
                                        "enum": [
                                            "folder"
                                        ],
                                        "nullable": false
                                    },
                                    "id": {
                                        "description": "ID of the folder",
                                        "type": "string",
                                        "example": "42037322"
                                    }
                                }
                            },
                            {
                                "description": "Destination folder for the generated files."
                            }
                        ]
                    },
                    "output_type": {
                        "description": "Type of the output file.",
                        "type": "string",
                        "example": "docx"
                    },
                    "document_generation_data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocGenDocumentGenerationData"
                        }
                    }
                },
                "required": [
                    "file",
                    "input_source",
                    "destination_folder",
                    "output_type",
                    "document_generation_data"
                ],
                "title": "Create batch request"
            },
            "DocGenDocumentGenerationData": {
                "description": "The schema for for creating a Box Doc Gen job request.",
                "type": "object",
                "properties": {
                    "generated_file_name": {
                        "description": "File name of the output file.",
                        "type": "string",
                        "example": "New_Template"
                    },
                    "user_input": {
                        "type": "object",
                        "example": {
                            "name": "Aaron Levie"
                        }
                    }
                },
                "required": [
                    "generated_file_name",
                    "user_input"
                ],
                "title": "Document generation data"
            },
            "DocGenJob": {
                "description": "A standard representation of a Box Doc Gen job.",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenJob--Base"
                    },
                    {
                        "properties": {
                            "batch": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DocGenBatch--Base"
                                    },
                                    {
                                        "description": "Box Doc Gen batch that the job belongs to."
                                    }
                                ]
                            },
                            "template_file": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/FileReference"
                                    },
                                    {
                                        "description": "Box Doc Gen template used in the job."
                                    }
                                ]
                            },
                            "template_file_version": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/FileVersion--Base"
                                    },
                                    {
                                        "description": "File version of a template."
                                    }
                                ]
                            },
                            "output_file": {
                                "allOf": [
                                    {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/FileReference"
                                            },
                                            {
                                                "title": "OpenAPI 3.0 null schema type",
                                                "description": "The definition for a null schema type in OpenAPI 3.0",
                                                "type": "object",
                                                "nullable": true,
                                                "additionalProperties": false
                                            }
                                        ]
                                    },
                                    {
                                        "description": "The output file of the job. This property is `null` until the job is completed."
                                    }
                                ]
                            },
                            "output_file_version": {
                                "allOf": [
                                    {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/FileVersion--Base"
                                            },
                                            {
                                                "title": "OpenAPI 3.0 null schema type",
                                                "description": "The definition for a null schema type in OpenAPI 3.0",
                                                "type": "object",
                                                "nullable": true,
                                                "additionalProperties": false
                                            }
                                        ]
                                    },
                                    {
                                        "description": "File version of the output file. This property is `null` until the job is completed."
                                    }
                                ]
                            },
                            "status": {
                                "description": "Status of the job.",
                                "type": "string",
                                "example": "completed",
                                "enum": [
                                    "submitted",
                                    "completed",
                                    "failed",
                                    "completed_with_error",
                                    "pending"
                                ]
                            },
                            "output_type": {
                                "description": "Type of the generated file.",
                                "type": "string",
                                "example": "docx"
                            }
                        }
                    }
                ],
                "required": [
                    "id",
                    "batch",
                    "template_file",
                    "template_file_version",
                    "status",
                    "output_type"
                ],
                "title": "Box Doc Gen job",
                "x-box-resource-id": "docgen_job_v2025.0",
                "x-box-tag": "docgen",
                "x-box-variant": "standard",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJob--Base": {
                "description": "The basic representation of a Box Doc Gen job.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The unique identifier that represent a Box Doc Gen job.",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`docgen_job`",
                        "type": "string",
                        "example": "docgen_job",
                        "enum": [
                            "docgen_job"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "Box Doc Gen job (Base)",
                "x-box-resource-id": "docgen_job_v2025.0--base",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJob--Full": {
                "description": "A full representation of a Box Doc Gen job.",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenJob"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Time of job creation.",
                                "type": "string",
                                "example": "2022-05-11T10:56:11-07:00",
                                "readOnly": true
                            },
                            "created_by": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/User--Base"
                                    },
                                    {
                                        "description": "User who created the job."
                                    }
                                ]
                            },
                            "enterprise": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/EnterpriseReference"
                                    },
                                    {
                                        "description": "ID of the enterprise."
                                    }
                                ]
                            },
                            "source": {
                                "description": "Source of the request.",
                                "type": "string",
                                "example": "api",
                                "readOnly": true
                            }
                        }
                    }
                ],
                "required": [
                    "id",
                    "batch",
                    "created_by",
                    "enterprise",
                    "template_file",
                    "template_file_version",
                    "output_type",
                    "source",
                    "status"
                ],
                "title": "Box Doc Gen job (Full)",
                "x-box-resource-id": "docgen_job_v2025.0--full",
                "x-box-tag": "docgen",
                "x-box-variant": "full",
                "x-box-variants": [
                    "base",
                    "standard",
                    "full"
                ]
            },
            "DocGenJobs": {
                "description": "A list of Box Doc Gen jobs with a standard set of parameters.",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "List of jobs.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenJob"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Gen jobs",
                "x-box-resource-id": "docgen_jobs_v2025.0",
                "x-box-tag": "docgen",
                "x-box-variant": "base",
                "x-box-variants": [
                    "standard",
                    "full"
                ]
            },
            "DocGenJobs--Full": {
                "description": "A list of Box Doc Gen jobs with a full set of parameters.",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "List of jobs.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenJob--Full"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Gen jobs (Full)",
                "x-box-resource-id": "docgen_jobs_v2025.0--full",
                "x-box-tag": "docgen",
                "x-box-variant": "full",
                "x-box-variants": [
                    "standard",
                    "full"
                ]
            },
            "DocGenTag": {
                "description": "A Box Doc Gen template tag object.",
                "type": "object",
                "properties": {
                    "tag_content": {
                        "description": "The content of the tag.",
                        "type": "string",
                        "example": "{{item.name}}",
                        "readOnly": true
                    },
                    "tag_type": {
                        "description": "Type of the tag.",
                        "type": "string",
                        "example": "text",
                        "enum": [
                            "text",
                            "arithmetic",
                            "conditional",
                            "for-loop",
                            "table-loop",
                            "image"
                        ],
                        "readOnly": true
                    },
                    "json_paths": {
                        "description": "List of the paths.",
                        "type": "array",
                        "items": {
                            "readOnly": true,
                            "type": "string",
                            "example": "products.name"
                        },
                        "example": [
                            "products",
                            "products.name"
                        ],
                        "readOnly": true
                    }
                },
                "required": [
                    "tag_content",
                    "tag_type",
                    "json_paths"
                ],
                "title": "Box Doc Gen template tag",
                "x-box-resource-id": "docgen_tag_v2025.0",
                "x-box-sanitized": true,
                "x-box-tag": "docgen_template"
            },
            "DocGenTags": {
                "description": "A list of Box Doc Gen tags.",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "List of tags.",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenTag"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Gen tags",
                "x-box-resource-id": "docgen_tags_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "DocGenTagsProcessingMessage": {
                "description": "A message informing the user that document tags are still being processed.",
                "type": "object",
                "properties": {
                    "message": {
                        "description": "A message informing the user that document tags are still being processed.",
                        "type": "string",
                        "example": "Processing tags for this file.",
                        "readOnly": true
                    }
                },
                "required": [
                    "message"
                ],
                "title": "Box Doc Gen tags processing message",
                "x-box-resource-id": "docgen_tags_processing_message_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "DocGenTemplate": {
                "description": "A Box Doc Gen template object.",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/DocGenTemplate--Base"
                    },
                    {
                        "properties": {
                            "file_name": {
                                "description": "テンプレートの名前",
                                "type": "string",
                                "example": "Official contract",
                                "nullable": true
                            }
                        }
                    }
                ],
                "title": "Box Doc Gen template",
                "x-box-resource-id": "docgen_template_v2025.0",
                "x-box-tag": "docgen_template",
                "x-box-variant": "standard",
                "x-box-variants": [
                    "base",
                    "standard"
                ]
            },
            "DocGenTemplate--Base": {
                "description": "A base representation of a Box Doc Gen template, used when nested within another resource.",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "Enable the file to generate a document from."
                            }
                        ]
                    }
                },
                "title": "Box Doc Gen template (Base)",
                "x-box-resource-id": "docgen_template_v2025.0--base",
                "x-box-variant": "base",
                "x-box-variants": [
                    "base",
                    "standard"
                ]
            },
            "DocGenTemplateCreateRequest": {
                "description": "The schema for marking document as Box Doc Gen template.",
                "type": "object",
                "properties": {
                    "file": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FileReference"
                            },
                            {
                                "description": "Marks the file as a Box Doc Gen template to generate the document from."
                            }
                        ]
                    }
                },
                "required": [
                    "file"
                ],
                "title": "Mark file as Box Doc Gen template"
            },
            "DocGenTemplates": {
                "description": "List of Box Doc Gen templates.",
                "type": "object",
                "allOf": [
                    {
                        "type": "object",
                        "description": "マーカーベースのページ割りについて説明しているAPIレスポンスの部分",
                        "properties": {
                            "limit": {
                                "description": "これらのエントリで使用された制限値。許容される最大値を超えていない限り、クエリパラメータの`limit`と等しくなります。最大値はAPIによって異なります。",
                                "type": "integer",
                                "format": "int64",
                                "example": 1000
                            },
                            "next_marker": {
                                "description": "次の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                                "nullable": true
                            },
                            "prev_marker": {
                                "description": "前の検索結果ページの開始場所のマーカー。",
                                "type": "string",
                                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                                "nullable": true
                            }
                        }
                    },
                    {
                        "properties": {
                            "entries": {
                                "description": "テンプレートのリスト。",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DocGenTemplate"
                                }
                            }
                        }
                    }
                ],
                "title": "Box Doc Gen templates",
                "x-box-resource-id": "docgen_templates_v2025.0",
                "x-box-tag": "docgen_template"
            },
            "EnterpriseReference": {
                "description": "A reference to an enterprise, used when nested within another resource.",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "この企業の一意の識別子",
                        "type": "string",
                        "example": "1910967"
                    },
                    "type": {
                        "description": "`enterprise`",
                        "type": "string",
                        "example": "enterprise",
                        "enum": [
                            "enterprise"
                        ],
                        "nullable": false
                    }
                },
                "title": "Enterprise reference"
            },
            "FileReference": {
                "description": "File reference",
                "type": "object",
                "properties": {
                    "type": {
                        "description": "`file`",
                        "type": "string",
                        "example": "file",
                        "enum": [
                            "file"
                        ],
                        "nullable": false
                    },
                    "id": {
                        "description": "ID of the object",
                        "type": "string",
                        "example": "42037322",
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "File reference"
            },
            "FileVersion--Base": {
                "description": "最も基本的なファイルバージョンのBase版の表示。`fields`クエリパラメータを使用すると、最小限の数のフィールドが返されます。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "ファイルバージョンを表す一意の識別子。",
                        "type": "string",
                        "example": "12345",
                        "nullable": false
                    },
                    "type": {
                        "description": "`file_version`",
                        "type": "string",
                        "example": "file_version",
                        "enum": [
                            "file_version"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "ファイルバージョン (Base)"
            },
            "User--Base": {
                "description": "他のリソース内にネストされたときに使用されるユーザーのMini版の表示。",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "このユーザーの一意の識別子",
                        "type": "string",
                        "example": "11446498"
                    },
                    "type": {
                        "description": "user",
                        "type": "string",
                        "example": "user",
                        "enum": [
                            "user"
                        ],
                        "nullable": false
                    }
                },
                "required": [
                    "type",
                    "id"
                ],
                "title": "ユーザー (Base)"
            }
        },
        "securitySchemes": {
            "OAuth2Security": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
                        "tokenUrl": "https://api.box.com/oauth2/token",
                        "scopes": {
                            "root_readonly": "Boxに格納されているすべてのファイルとフォルダの読み取り",
                            "root_readwrite": "Boxに格納されているすべてのファイルとフォルダの読み取りと書き込み",
                            "manage_app_users": "App Userのプロビジョニングと管理",
                            "manage_managed_users": "管理対象ユーザーのプロビジョニングと管理",
                            "manage_groups": "企業のグループの管理",
                            "manage_webhook": "APIを使用したプログラムによるWebhookの作成",
                            "manage_enterprise_properties": "Enterpriseのプロパティを管理",
                            "manage_data_retention": "データリテンションポリシーの管理",
                            "manage_legal_hold": "リーガルホールドの管理"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "OAuth2Security": []
        }
    ],
    "tags": [
        {
            "name": "Doc Gen",
            "description": "Doc Gen is used to automatically generate documents.",
            "x-box-tag": "docgen"
        },
        {
            "name": "Doc Gen templates",
            "description": "Doc Gen templates are used as input to generate documents.",
            "x-box-tag": "docgen_template"
        }
    ],
    "externalDocs": {
        "description": "Box Developerドキュメント",
        "url": "https://developer.box.com"
    }
}
