{
  "swagger": "2.0",
  "info": {
    "title": "Box Platform 2.0 APIs",
    "description": "The Box Content API gives you access to secure content management and content experience features for use in your own app. It strives to be RESTful and is organized around the main resources you’re familiar with from the Box web interface.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box Developer Relations",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2.0"
  },
  "host": "upload.box.com",
  "basePath": "/api/2.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/files/{file_id}/content": {
      "post": {
        "operationId": "post_files_id_content",
        "tags": [
          "File Uploads"
        ],
        "summary": "Upload a file version",
        "description": "Update a file's content. For file sizes over 50MB we recommend\nusing the Chunk Upload APIs.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "Content-MD5",
            "required": false,
            "in": "header",
            "description": "An optional header containing the SHA-1 hash of the file to\nensure that the file was not corrupted in transit.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the new file object in a list.",
            "schema": {
              "title": "Files",
              "x-box-resource-id": "files",
              "x-box-reference-category": "files",
              "description": "A list of files",
              "properties": {
                "total_count": {
                  "description": "The number of files.",
                  "type": "integer",
                  "format": "int64"
                },
                "entries": {
                  "type": "array",
                  "description": "A list of files",
                  "items": {
                    "title": "File",
                    "x-box-resource-id": "file",
                    "x-box-has-field-variants": true,
                    "description": "A full representation of a file, as can be returned from any\nfile API endpoints by default",
                    "x-box-reference-category": "files",
                    "allOf": [
                      {
                        "title": "File (Standard)",
                        "x-box-resource-id": "file--standard",
                        "x-box-reference-category": null,
                        "description": "A standard representation of a file, as returned from any\nfile API endpoints by default",
                        "x-box-reference-hide": true,
                        "allOf": [
                          {
                            "title": "File (Mini)",
                            "x-box-resource-id": "file--mini",
                            "x-box-reference-category": null,
                            "description": "A mini representation of a file, used when\nnested under another resource.",
                            "x-box-reference-hide": true,
                            "allOf": [
                              {
                                "title": "Item",
                                "x-box-resource-id": "item_reference",
                                "x-box-reference-category": "shared_links",
                                "description": "A generic mini representation of a file, folder, user or enterprise",
                                "allOf": [
                                  {
                                    "title": "Reference",
                                    "x-box-resource-id": "reference",
                                    "x-box-sanitized": true,
                                    "description": "The bare basic reference for an object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The unique identifier for this object"
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "type": {
                                        "description": "The type of this item",
                                        "type": "string"
                                      },
                                      "sequence_id": {
                                        "type": "string",
                                        "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                      },
                                      "etag": {
                                        "type": "string",
                                        "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the item."
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "`file`",
                                    "enum": [
                                      "file"
                                    ]
                                  },
                                  "sequence_id": {
                                    "type": "string",
                                    "description": "A unique ID for use with the /events endpoint"
                                  },
                                  "etag": {
                                    "type": "string",
                                    "description": "The entity tag of this file object. Used with `If-Match`\nheaders."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the file"
                                  }
                                }
                              }
                            ]
                          },
                          {
                            "properties": {
                              "sha1": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "digest",
                                "description": "The SHA1 hash of the file."
                              },
                              "description": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "description": "The description of the file",
                                "maxLength": 256
                              },
                              "size": {
                                "x-box-field-variant": 1,
                                "type": "integer",
                                "description": "The file size in bytes. Be careful parsing this integer, it can\neasily go into [exponent notation](http://en.wikipedia.org/wiki/\\\nDouble-precision_floating-point_format)."
                              },
                              "path_collection": {
                                "x-box-field-variant": 1,
                                "type": "array",
                                "description": "The path of folders to this file, starting at the root",
                                "items": {
                                  "title": "Folder (Mini)",
                                  "x-box-resource-id": "folder--mini",
                                  "x-box-reference-category": null,
                                  "description": "A mini representation of a file version, used when\nnested under another resource.",
                                  "x-box-reference-hide": true,
                                  "x-box-sanitized": true,
                                  "allOf": [
                                    {
                                      "title": "Item",
                                      "x-box-resource-id": "item_reference",
                                      "x-box-reference-category": "shared_links",
                                      "description": "A generic mini representation of a file, folder, user or enterprise",
                                      "allOf": [
                                        {
                                          "title": "Reference",
                                          "x-box-resource-id": "reference",
                                          "x-box-sanitized": true,
                                          "description": "The bare basic reference for an object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "description": "The unique identifier for this object"
                                            }
                                          }
                                        },
                                        {
                                          "properties": {
                                            "type": {
                                              "description": "The type of this item",
                                              "type": "string"
                                            },
                                            "sequence_id": {
                                              "type": "string",
                                              "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                            },
                                            "etag": {
                                              "type": "string",
                                              "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The name of the item."
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "`folder`",
                                          "enum": [
                                            "folder"
                                          ]
                                        },
                                        "sequence_id": {
                                          "type": "string",
                                          "description": "A unique identifier that can be used in combination\nwith the `/events` endpoint. May be `null` for\nsome folders such as the root folder and trash folder."
                                        },
                                        "etag": {
                                          "type": "string",
                                          "description": "The HTTP etag of this folder. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the folder if (no) changes have happened."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the folder."
                                        }
                                      }
                                    }
                                  ]
                                }
                              },
                              "created_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was upload to Box’s servers"
                              },
                              "modified_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last updated on the Box servers"
                              },
                              "trashed_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last moved to the trash"
                              },
                              "purged_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file will be permanently deleted"
                              },
                              "content_created_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was created originally"
                              },
                              "content_modified_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last updated"
                              },
                              "expires_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When the file will automatically be deleted"
                              },
                              "created_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who created this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "modified_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who last modified this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "owned_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who owns this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "shared_link": {
                                "allOf": [
                                  {
                                    "title": "Shared Link",
                                    "x-box-resource-id": "shared_link",
                                    "x-box-sanitized": true,
                                    "description": "Shared links provide direct, read-only access to files or folder on Box.\n\nShared links with open access level allow anyone with the URL\nto access the item, while shared links with company or collaborators access\nlevels can only be accessed by appropriately authenticated Box users.",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "The URL that can be used to access the item on Box.\n\nThis URL will display the item in Box's preview UI where the file\ncan be downloaded if allowed.\n\nThis URL will continue to work even when a custom `vanity_url`\nhas been set for this shared link."
                                      },
                                      "download_url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "A URL that can be used to download the file. This URL can be used in\na browser to download the file. This URL includes the file\nextension so that the file will be saved with the right file type.\n\nThis property will be `null` for folders."
                                      },
                                      "vanity_url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "The \"Custom URL\" that can also be used to preview the item on Box.  Custom\nURLs can only be created or modified in the Box Web application."
                                      },
                                      "access": {
                                        "type": "string",
                                        "description": "The access level for this shared link.\n\n* `open` - provides access to this item to anyone with this link\n* `company` - only provides access to this item to people the same company\n* `collaborators` - only provides access to this item to people who are\n   collaborators on this item\n\nIf this field is omitted when creating the shared link, the access level\nwill be set to the default access level specified by the enterprise admin.",
                                        "enum": [
                                          "open",
                                          "company",
                                          "collaborators"
                                        ]
                                      },
                                      "effective_access": {
                                        "type": "string",
                                        "description": "The effective access level for the shared link. This can be a more\nrestrictive access level than the value in the `access` field when the\nenterprise settings restrict the allowed access levels.",
                                        "enum": [
                                          "open",
                                          "company",
                                          "collaborators"
                                        ]
                                      },
                                      "effective_permission": {
                                        "type": "string",
                                        "description": "The effective permissions for this shared link.",
                                        "enum": [
                                          "can_download",
                                          "can_preview"
                                        ]
                                      },
                                      "unshared_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The date and time when this link will be disabled. This field can only be\nset by users with paid accounts."
                                      },
                                      "is_password_enabled": {
                                        "type": "boolean",
                                        "description": "Defines if the shared link requires a password to access the item."
                                      },
                                      "permissions": {
                                        "type": "object",
                                        "description": "Defines if this link allows a user to preview and download an item.",
                                        "properties": {
                                          "can_download": {
                                            "type": "boolean",
                                            "description": "Defines if the shared link allows for the item to be downloaded. For\nshared links on folders, this also applies to any items in the folder.\n\nThis value can be set to `true` when the effective access level is\nset to `open` or `company`, not `collaborators`."
                                          },
                                          "can_preview": {
                                            "type": "boolean",
                                            "description": "Defines if the shared link allows for the item to be previewed.\n\nThis value is always `true`. For shared links on folders this also\napplies to any items in the folder."
                                          }
                                        }
                                      },
                                      "download_count": {
                                        "type": "integer",
                                        "description": "The number of times this item has been downloaded."
                                      },
                                      "preview_count": {
                                        "type": "integer",
                                        "description": "The number of times this item has been previewed."
                                      }
                                    }
                                  },
                                  {
                                    "description": "The shared link object for this file. Will be\n`null` if no shared link has been created."
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "parent": {
                                "allOf": [
                                  {
                                    "title": "Folder (Mini)",
                                    "x-box-resource-id": "folder--mini",
                                    "x-box-reference-category": null,
                                    "description": "A mini representation of a file version, used when\nnested under another resource.",
                                    "x-box-reference-hide": true,
                                    "x-box-sanitized": true,
                                    "allOf": [
                                      {
                                        "title": "Item",
                                        "x-box-resource-id": "item_reference",
                                        "x-box-reference-category": "shared_links",
                                        "description": "A generic mini representation of a file, folder, user or enterprise",
                                        "allOf": [
                                          {
                                            "title": "Reference",
                                            "x-box-resource-id": "reference",
                                            "x-box-sanitized": true,
                                            "description": "The bare basic reference for an object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "The unique identifier for this object"
                                              }
                                            }
                                          },
                                          {
                                            "properties": {
                                              "type": {
                                                "description": "The type of this item",
                                                "type": "string"
                                              },
                                              "sequence_id": {
                                                "type": "string",
                                                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                              },
                                              "etag": {
                                                "type": "string",
                                                "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the item."
                                              }
                                            }
                                          }
                                        ]
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`folder`",
                                            "enum": [
                                              "folder"
                                            ]
                                          },
                                          "sequence_id": {
                                            "type": "string",
                                            "description": "A unique identifier that can be used in combination\nwith the `/events` endpoint. May be `null` for\nsome folders such as the root folder and trash folder."
                                          },
                                          "etag": {
                                            "type": "string",
                                            "description": "The HTTP etag of this folder. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the folder if (no) changes have happened."
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The name of the folder."
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The folder that contains this file."
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "item_status": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "enum": [
                                  "active",
                                  "trashed",
                                  "deleted"
                                ],
                                "description": "Whether this item is deleted or not. Values include `active`,\n`trashed` if the file has been moved to the trash, and `deleted` if\nthe file has been permanently deleted"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "x-box-reference-hide": false
                      },
                      {
                        "properties": {
                          "version_number": {
                            "x-box-field-variant": 2,
                            "type": "string",
                            "description": "The version number of this file"
                          },
                          "comment_count": {
                            "x-box-field-variant": 2,
                            "type": "integer",
                            "description": "The number of comments on this file"
                          },
                          "permissions": {
                            "allOf": [
                              {
                                "title": "File Permissions",
                                "x-box-resource-id": "file-permissions",
                                "description": "The permissions that the authenticated user has for a file.",
                                "allOf": [
                                  {
                                    "title": "Permissions",
                                    "x-box-resource-id": "permissions",
                                    "description": "The permissions that the authenticated user has for an item.",
                                    "properties": {
                                      "can_delete": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can delete this item"
                                      },
                                      "can_download": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can download this item"
                                      },
                                      "can_invite_collaborator": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can invite collaborators to the item"
                                      },
                                      "can_rename": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can rename this item"
                                      },
                                      "can_set_share_access": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can manage shared links for\nthis item"
                                      },
                                      "can_share": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can invite new collaborators to this item"
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "can_annotate": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can place annotations on this file."
                                      },
                                      "can_comment": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can place comments on this file."
                                      },
                                      "can_preview": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can preview this file."
                                      },
                                      "can_upload": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can upload a new version of this file."
                                      },
                                      "can_view_annotations_all": {
                                        "type": "boolean",
                                        "description": "Specifies if the user view all annotations placed on this file"
                                      },
                                      "can_view_annotations_self": {
                                        "type": "boolean",
                                        "description": "Specifies if the user view annotations placed by themselves\non this file"
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "description": "Describes the permissions that the current user has\nfor this file."
                              },
                              {
                                "x-box-field-variant": 2
                              },
                              {}
                            ]
                          },
                          "tags": {
                            "x-box-field-variant": 2,
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "All tags applied to this folder."
                          },
                          "lock": {
                            "allOf": [
                              {
                                "title": "Lock",
                                "x-box-resource-id": "lock",
                                "description": "The lock held on a file.",
                                "allOf": [
                                  {
                                    "title": "Reference",
                                    "x-box-resource-id": "reference",
                                    "x-box-sanitized": true,
                                    "description": "The bare basic reference for an object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The unique identifier for this object"
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "description": "`lock`",
                                        "enum": [
                                          "lock"
                                        ]
                                      },
                                      "created_by": {
                                        "allOf": [
                                          {
                                            "title": "User (Mini)",
                                            "x-box-resource-id": "user--mini",
                                            "description": "A mini representation of a user, used when\nnested within another resource.",
                                            "x-box-reference-hide": true,
                                            "allOf": [
                                              {
                                                "title": "Reference",
                                                "x-box-resource-id": "reference",
                                                "x-box-sanitized": true,
                                                "description": "The bare basic reference for an object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier for this object"
                                                  }
                                                }
                                              },
                                              {
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "description": "`user`",
                                                    "enum": [
                                                      "user"
                                                    ]
                                                  },
                                                  "name": {
                                                    "type": "string",
                                                    "description": "The display name of this user",
                                                    "maxLength": 50
                                                  },
                                                  "login": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "description": "The primary email address of this user"
                                                  }
                                                }
                                              }
                                            ]
                                          },
                                          {
                                            "description": "The use who created the lock"
                                          }
                                        ]
                                      },
                                      "created_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The time this lock was created at"
                                      },
                                      "expired_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The time this lock is to expire at, which might be in the past"
                                      },
                                      "is_download_prevented": {
                                        "type": "boolean",
                                        "description": "Whether or not the file can be downloaded while locked"
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "description": "The lock held on this file. If there is no lock, this can either\nbe `null` or have a timestamp in the past."
                              },
                              {
                                "x-box-field-variant": 2
                              }
                            ]
                          },
                          "extension": {
                            "x-box-field-variant": 2,
                            "type": "string",
                            "description": "Indicates the suffix, when available, on the file. By default,\nset to an empty string. The suffix usually indicates the encoding\n(file format) of the file contents or usage."
                          },
                          "is_package": {
                            "x-box-field-variant": 2,
                            "type": "boolean",
                            "description": "Whether the file is a package. Used for Mac Packages used by iWorks."
                          },
                          "expiring_embed_link": {
                            "x-box-field-variant": 2,
                            "type": "string",
                            "description": "Requesting this field creates an expiring URL for an\nembedded preview session in an iframe.\n\nThis URL will expire after 60 seconds and the session will\nexpire after 60 minutes."
                          },
                          "watermark_info": {
                            "allOf": [
                              {
                                "title": "Watermark Info",
                                "x-box-resource-id": "watermark_info",
                                "description": "Details about the watermark applied to this item",
                                "properties": {
                                  "is_watermarked": {
                                    "type": "boolean",
                                    "description": "Specifies of this item has a watermark applied."
                                  }
                                }
                              },
                              {
                                "description": "Information about the watermarking on this file"
                              },
                              {
                                "x-box-field-variant": 2
                              }
                            ]
                          },
                          "allowed_invitee_roles": {
                            "x-box-field-variant": 2,
                            "type": "array",
                            "description": "Folder [collaboration](#collaboration-object) roles allowed by the\nenterprise administrator.",
                            "items": {
                              "type": "string"
                            },
                            "enum": [
                              "open",
                              "company",
                              "collaborators"
                            ]
                          },
                          "is_externally_owned": {
                            "x-box-field-variant": 2,
                            "type": "boolean",
                            "description": "Whether this file is owned by a user outside of the enterprise."
                          },
                          "has_collaborations": {
                            "x-box-field-variant": 2,
                            "type": "boolean",
                            "description": "Whether this file has any collaborators."
                          },
                          "metadata": {
                            "x-box-field-variant": 2,
                            "type": "object",
                            "description": "A list of key-value pairs of metadata objects within their\nscopes.\n\nTo access the metadata for a file, first use the\n[Metadata](#metadata) endpoints to determine\nthe metadata templates available to your enterprise.\n\nThe use the [Retrieve File](#get-file-id) endpoint with\nthe `fields` query parameter to get the metadata by ID. The\nID for the metadata template will be in the format\n`metadata.<scope>.<templatename>`, for example\n`fields=metadata.global.properties`.",
                            "enum": [
                              "global",
                              "enteprise_<:enterprise_id>"
                            ],
                            "additionalProperties": {
                              "type": "object",
                              "description": "The name of the metadata template",
                              "additionalProperties": {
                                "title": "Metadata",
                                "x-box-resource-id": "metadata",
                                "description": "A piece of metadata as specified by a metadata template and\napplied to a file or folder.",
                                "x-box-reference-category": "file_metadata",
                                "type": "object",
                                "properties": {
                                  "$canEdit": {
                                    "type": "boolean",
                                    "description": "Whether the user can edit this metadata"
                                  },
                                  "$id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "36-character UUID to identify the metadata object"
                                  },
                                  "$parent": {
                                    "type": "string",
                                    "description": "An ID for the parent folder"
                                  },
                                  "$scope": {
                                    "type": "string",
                                    "description": "An ID for the scope in which this template\nhas been applied"
                                  },
                                  "$template": {
                                    "type": "string",
                                    "description": "The name of the template"
                                  },
                                  "$type": {
                                    "type": "string",
                                    "description": "A unique identifier for the \"type\" of this instance. This is an internal\nsystem property and should not be used by a client application."
                                  },
                                  "$typeVersion": {
                                    "type": "integer",
                                    "description": "The last-known version of the template of the object. This is an internal\nsystem property and should not be used by a client application."
                                  },
                                  "$version": {
                                    "type": "integer",
                                    "description": "The version of the metadata object. Starts at 0 and increases every time\na user-defined property is modified."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/content": {
      "post": {
        "operationId": "post_files_content",
        "tags": [
          "File Uploads"
        ],
        "summary": "Upload a file",
        "description": "Uploads a small file to Box. For file sizes over 50MB we recommend\nusing the Chunk Upload APIs.",
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response, unless explicitly specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "Content-MD5",
            "required": false,
            "in": "header",
            "description": "An optional header containing the SHA-1 hash of the file to\nensure that the file was not corrupted in transit.",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the new file object in a list.",
            "schema": {
              "title": "Files",
              "x-box-resource-id": "files",
              "x-box-reference-category": "files",
              "description": "A list of files",
              "properties": {
                "total_count": {
                  "description": "The number of files.",
                  "type": "integer",
                  "format": "int64"
                },
                "entries": {
                  "type": "array",
                  "description": "A list of files",
                  "items": {
                    "title": "File",
                    "x-box-resource-id": "file",
                    "x-box-has-field-variants": true,
                    "description": "A full representation of a file, as can be returned from any\nfile API endpoints by default",
                    "x-box-reference-category": "files",
                    "allOf": [
                      {
                        "title": "File (Standard)",
                        "x-box-resource-id": "file--standard",
                        "x-box-reference-category": null,
                        "description": "A standard representation of a file, as returned from any\nfile API endpoints by default",
                        "x-box-reference-hide": true,
                        "allOf": [
                          {
                            "title": "File (Mini)",
                            "x-box-resource-id": "file--mini",
                            "x-box-reference-category": null,
                            "description": "A mini representation of a file, used when\nnested under another resource.",
                            "x-box-reference-hide": true,
                            "allOf": [
                              {
                                "title": "Item",
                                "x-box-resource-id": "item_reference",
                                "x-box-reference-category": "shared_links",
                                "description": "A generic mini representation of a file, folder, user or enterprise",
                                "allOf": [
                                  {
                                    "title": "Reference",
                                    "x-box-resource-id": "reference",
                                    "x-box-sanitized": true,
                                    "description": "The bare basic reference for an object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The unique identifier for this object"
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "type": {
                                        "description": "The type of this item",
                                        "type": "string"
                                      },
                                      "sequence_id": {
                                        "type": "string",
                                        "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                      },
                                      "etag": {
                                        "type": "string",
                                        "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the item."
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "`file`",
                                    "enum": [
                                      "file"
                                    ]
                                  },
                                  "sequence_id": {
                                    "type": "string",
                                    "description": "A unique ID for use with the /events endpoint"
                                  },
                                  "etag": {
                                    "type": "string",
                                    "description": "The entity tag of this file object. Used with `If-Match`\nheaders."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the file"
                                  }
                                }
                              }
                            ]
                          },
                          {
                            "properties": {
                              "sha1": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "digest",
                                "description": "The SHA1 hash of the file."
                              },
                              "description": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "description": "The description of the file",
                                "maxLength": 256
                              },
                              "size": {
                                "x-box-field-variant": 1,
                                "type": "integer",
                                "description": "The file size in bytes. Be careful parsing this integer, it can\neasily go into [exponent notation](http://en.wikipedia.org/wiki/\\\nDouble-precision_floating-point_format)."
                              },
                              "path_collection": {
                                "x-box-field-variant": 1,
                                "type": "array",
                                "description": "The path of folders to this file, starting at the root",
                                "items": {
                                  "title": "Folder (Mini)",
                                  "x-box-resource-id": "folder--mini",
                                  "x-box-reference-category": null,
                                  "description": "A mini representation of a file version, used when\nnested under another resource.",
                                  "x-box-reference-hide": true,
                                  "x-box-sanitized": true,
                                  "allOf": [
                                    {
                                      "title": "Item",
                                      "x-box-resource-id": "item_reference",
                                      "x-box-reference-category": "shared_links",
                                      "description": "A generic mini representation of a file, folder, user or enterprise",
                                      "allOf": [
                                        {
                                          "title": "Reference",
                                          "x-box-resource-id": "reference",
                                          "x-box-sanitized": true,
                                          "description": "The bare basic reference for an object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "description": "The unique identifier for this object"
                                            }
                                          }
                                        },
                                        {
                                          "properties": {
                                            "type": {
                                              "description": "The type of this item",
                                              "type": "string"
                                            },
                                            "sequence_id": {
                                              "type": "string",
                                              "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                            },
                                            "etag": {
                                              "type": "string",
                                              "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The name of the item."
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "`folder`",
                                          "enum": [
                                            "folder"
                                          ]
                                        },
                                        "sequence_id": {
                                          "type": "string",
                                          "description": "A unique identifier that can be used in combination\nwith the `/events` endpoint. May be `null` for\nsome folders such as the root folder and trash folder."
                                        },
                                        "etag": {
                                          "type": "string",
                                          "description": "The HTTP etag of this folder. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the folder if (no) changes have happened."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the folder."
                                        }
                                      }
                                    }
                                  ]
                                }
                              },
                              "created_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was upload to Box’s servers"
                              },
                              "modified_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last updated on the Box servers"
                              },
                              "trashed_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last moved to the trash"
                              },
                              "purged_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file will be permanently deleted"
                              },
                              "content_created_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was created originally"
                              },
                              "content_modified_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When this file was last updated"
                              },
                              "expires_at": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "format": "date-time",
                                "description": "When the file will automatically be deleted"
                              },
                              "created_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who created this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "modified_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who last modified this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "owned_by": {
                                "allOf": [
                                  {
                                    "title": "User (Mini)",
                                    "x-box-resource-id": "user--mini",
                                    "description": "A mini representation of a user, used when\nnested within another resource.",
                                    "x-box-reference-hide": true,
                                    "allOf": [
                                      {
                                        "title": "Reference",
                                        "x-box-resource-id": "reference",
                                        "x-box-sanitized": true,
                                        "description": "The bare basic reference for an object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The unique identifier for this object"
                                          }
                                        }
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`user`",
                                            "enum": [
                                              "user"
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of this user",
                                            "maxLength": 50
                                          },
                                          "login": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The primary email address of this user"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The user who owns this file"
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "shared_link": {
                                "allOf": [
                                  {
                                    "title": "Shared Link",
                                    "x-box-resource-id": "shared_link",
                                    "x-box-sanitized": true,
                                    "description": "Shared links provide direct, read-only access to files or folder on Box.\n\nShared links with open access level allow anyone with the URL\nto access the item, while shared links with company or collaborators access\nlevels can only be accessed by appropriately authenticated Box users.",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "The URL that can be used to access the item on Box.\n\nThis URL will display the item in Box's preview UI where the file\ncan be downloaded if allowed.\n\nThis URL will continue to work even when a custom `vanity_url`\nhas been set for this shared link."
                                      },
                                      "download_url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "A URL that can be used to download the file. This URL can be used in\na browser to download the file. This URL includes the file\nextension so that the file will be saved with the right file type.\n\nThis property will be `null` for folders."
                                      },
                                      "vanity_url": {
                                        "type": "string",
                                        "format": "url",
                                        "description": "The \"Custom URL\" that can also be used to preview the item on Box.  Custom\nURLs can only be created or modified in the Box Web application."
                                      },
                                      "access": {
                                        "type": "string",
                                        "description": "The access level for this shared link.\n\n* `open` - provides access to this item to anyone with this link\n* `company` - only provides access to this item to people the same company\n* `collaborators` - only provides access to this item to people who are\n   collaborators on this item\n\nIf this field is omitted when creating the shared link, the access level\nwill be set to the default access level specified by the enterprise admin.",
                                        "enum": [
                                          "open",
                                          "company",
                                          "collaborators"
                                        ]
                                      },
                                      "effective_access": {
                                        "type": "string",
                                        "description": "The effective access level for the shared link. This can be a more\nrestrictive access level than the value in the `access` field when the\nenterprise settings restrict the allowed access levels.",
                                        "enum": [
                                          "open",
                                          "company",
                                          "collaborators"
                                        ]
                                      },
                                      "effective_permission": {
                                        "type": "string",
                                        "description": "The effective permissions for this shared link.",
                                        "enum": [
                                          "can_download",
                                          "can_preview"
                                        ]
                                      },
                                      "unshared_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The date and time when this link will be disabled. This field can only be\nset by users with paid accounts."
                                      },
                                      "is_password_enabled": {
                                        "type": "boolean",
                                        "description": "Defines if the shared link requires a password to access the item."
                                      },
                                      "permissions": {
                                        "type": "object",
                                        "description": "Defines if this link allows a user to preview and download an item.",
                                        "properties": {
                                          "can_download": {
                                            "type": "boolean",
                                            "description": "Defines if the shared link allows for the item to be downloaded. For\nshared links on folders, this also applies to any items in the folder.\n\nThis value can be set to `true` when the effective access level is\nset to `open` or `company`, not `collaborators`."
                                          },
                                          "can_preview": {
                                            "type": "boolean",
                                            "description": "Defines if the shared link allows for the item to be previewed.\n\nThis value is always `true`. For shared links on folders this also\napplies to any items in the folder."
                                          }
                                        }
                                      },
                                      "download_count": {
                                        "type": "integer",
                                        "description": "The number of times this item has been downloaded."
                                      },
                                      "preview_count": {
                                        "type": "integer",
                                        "description": "The number of times this item has been previewed."
                                      }
                                    }
                                  },
                                  {
                                    "description": "The shared link object for this file. Will be\n`null` if no shared link has been created."
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "parent": {
                                "allOf": [
                                  {
                                    "title": "Folder (Mini)",
                                    "x-box-resource-id": "folder--mini",
                                    "x-box-reference-category": null,
                                    "description": "A mini representation of a file version, used when\nnested under another resource.",
                                    "x-box-reference-hide": true,
                                    "x-box-sanitized": true,
                                    "allOf": [
                                      {
                                        "title": "Item",
                                        "x-box-resource-id": "item_reference",
                                        "x-box-reference-category": "shared_links",
                                        "description": "A generic mini representation of a file, folder, user or enterprise",
                                        "allOf": [
                                          {
                                            "title": "Reference",
                                            "x-box-resource-id": "reference",
                                            "x-box-sanitized": true,
                                            "description": "The bare basic reference for an object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "The unique identifier for this object"
                                              }
                                            }
                                          },
                                          {
                                            "properties": {
                                              "type": {
                                                "description": "The type of this item",
                                                "type": "string"
                                              },
                                              "sequence_id": {
                                                "type": "string",
                                                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
                                              },
                                              "etag": {
                                                "type": "string",
                                                "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the item."
                                              }
                                            }
                                          }
                                        ]
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "`folder`",
                                            "enum": [
                                              "folder"
                                            ]
                                          },
                                          "sequence_id": {
                                            "type": "string",
                                            "description": "A unique identifier that can be used in combination\nwith the `/events` endpoint. May be `null` for\nsome folders such as the root folder and trash folder."
                                          },
                                          "etag": {
                                            "type": "string",
                                            "description": "The HTTP etag of this folder. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the folder if (no) changes have happened."
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The name of the folder."
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "description": "The folder that contains this file."
                                  },
                                  {
                                    "x-box-field-variant": 1
                                  }
                                ]
                              },
                              "item_status": {
                                "x-box-field-variant": 1,
                                "type": "string",
                                "enum": [
                                  "active",
                                  "trashed",
                                  "deleted"
                                ],
                                "description": "Whether this item is deleted or not. Values include `active`,\n`trashed` if the file has been moved to the trash, and `deleted` if\nthe file has been permanently deleted"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "x-box-reference-hide": false
                      },
                      {
                        "properties": {
                          "version_number": {
                            "x-box-field-variant": 2,
                            "type": "string",
                            "description": "The version number of this file"
                          },
                          "comment_count": {
                            "x-box-field-variant": 2,
                            "type": "integer",
                            "description": "The number of comments on this file"
                          },
                          "permissions": {
                            "allOf": [
                              {
                                "title": "File Permissions",
                                "x-box-resource-id": "file-permissions",
                                "description": "The permissions that the authenticated user has for a file.",
                                "allOf": [
                                  {
                                    "title": "Permissions",
                                    "x-box-resource-id": "permissions",
                                    "description": "The permissions that the authenticated user has for an item.",
                                    "properties": {
                                      "can_delete": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can delete this item"
                                      },
                                      "can_download": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can download this item"
                                      },
                                      "can_invite_collaborator": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can invite collaborators to the item"
                                      },
                                      "can_rename": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can rename this item"
                                      },
                                      "can_set_share_access": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can manage shared links for\nthis item"
                                      },
                                      "can_share": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can invite new collaborators to this item"
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "can_annotate": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can place annotations on this file."
                                      },
                                      "can_comment": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can place comments on this file."
                                      },
                                      "can_preview": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can preview this file."
                                      },
                                      "can_upload": {
                                        "type": "boolean",
                                        "description": "Specifies if the user can upload a new version of this file."
                                      },
                                      "can_view_annotations_all": {
                                        "type": "boolean",
                                        "description": "Specifies if the user view all annotations placed on this file"
                                      },
                                      "can_view_annotations_self": {
                                        "type": "boolean",
                                        "description": "Specifies if the user view annotations placed by themselves\non this file"
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "description": "Describes the permissions that the current user has\nfor this file."
                              },
                              {
                                "x-box-field-variant": 2
                              },
                              {}
                            ]
                          },
                          "tags": {
                            "x-box-field-variant": 2,
                            "type": "array",
                            "items": {
[...]
