{
  "swagger": "2.0",
  "info": {
    "title": "Box 2.0 Authorization API",
    "description": "The Box Authorization API gives you access to authenticate and authorize an application to work with the Box APIs",
    "version": "2.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "account.box.com",
  "basePath": "/api/oauth2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "definitions": {
    "OAuthError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "error_description": {
          "type": "string"
        },
        "error_uri": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/authorize": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "operationId": "authorize",
        "summary": "Authorize",
        "description": "The host for this api is account.box.com. This is the URL of the Box login endpoint. To begin the process of authenticating and authorizing an application to work with the Box APIs.",
        "externalDocs": {
          "url": "https://docs.box.com/reference#authorize"
        },
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "code"
            ]
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Opens up the login page for authentication. Upon successful authentication process, it will be redirected to <MY_REDIRECT_URI>?code=<MY_AUTHORIZATION_CODE>"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/OAuthError"
            }
          }
        }
      }
    }
  }
}
