{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform API",
    "description": "[Box Platform](https://box.dev) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box, Inc",
      "url": "https://box.dev",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2025.0",
    "x-box-commit-hash": "831cbf66ff"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server."
    }
  ],
  "paths": {
    "/docgen_templates": {
      "post": {
        "operationId": "post_docgen_templates_v2025.0",
        "summary": "Create Box Doc Gen template",
        "description": "Marks a file as a Box Doc Gen template.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "description": "Marks the provided file as a Box Doc Gen template.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocGenTemplateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The file which has now been marked as a Box Doc Gen template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenTemplate--Base"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      },
      "get": {
        "operationId": "get_docgen_templates_v2025.0",
        "summary": "List Box Doc Gen templates",
        "description": "Lists Box Doc Gen templates on which the user is a collaborator.",
        "parameters": [
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of templates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenTemplates"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the user has passed in a malformed marker or limit value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      }
    },
    "/docgen_templates/{template_id}": {
      "delete": {
        "operationId": "delete_docgen_templates_id_v2025.0",
        "summary": "Delete Box Doc Gen template",
        "description": "Unmarks file as Box Doc Gen template.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "ID of the file which will no longer be marked as a Box Doc Gen template.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when a file is no longer marked as a Box Doc Gen template."
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the template is not found or the user does not\nhave access to the associated template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      },
      "get": {
        "operationId": "get_docgen_templates_id_v2025.0",
        "summary": "Get Box Doc Gen template by ID",
        "description": "Lists details of a specific Box Doc Gen template.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "The ID of a Box Doc Gen template.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenTemplate"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the template is not found or the user does not\nhave access to the associated template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      }
    },
    "/docgen_templates/{template_id}/tags": {
      "get": {
        "operationId": "get_docgen_templates_id_tags_v2025.0",
        "summary": "List all Box Doc Gen template tags in template",
        "description": "Lists all tags in a Box Doc Gen template.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "ID of template.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "template_version_id",
            "in": "query",
            "description": "Id of template version.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of document generation template tags.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenTags"
                }
              }
            }
          },
          "202": {
            "description": "Processing tags for the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenTagsProcessingMessage"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the user has passed in a malformed marker or limit value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found but may be available in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      }
    },
    "/docgen_jobs/{job_id}": {
      "get": {
        "operationId": "get_docgen_jobs_id_v2025.0",
        "summary": "Get Box Doc Gen job by ID",
        "description": "Get details of the Box Doc Gen job.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Box Doc Gen job ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the Box Doc Gen job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenJob"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the job is not found or the user does not\nhave access to the associated job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen",
        "tags": [
          "Box Doc Gen"
        ]
      }
    },
    "/docgen_jobs": {
      "get": {
        "operationId": "get_docgen_jobs_v2025.0",
        "summary": "List all Box Doc Gen jobs",
        "description": "Lists all Box Doc Gen jobs for a user.",
        "parameters": [
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Box Doc Gen jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenJobs--Full"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the user has passed in a malformed marker or limit value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen",
        "tags": [
          "Box Doc Gen"
        ]
      }
    },
    "/docgen_template_jobs/{template_id}": {
      "get": {
        "operationId": "get_docgen_template_jobs_id_v2025.0",
        "summary": "Get list of all Box Doc Gen jobs for template",
        "description": "Lists the users jobs which use this template.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "Id of template to fetch jobs for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "A single Box Doc Gen template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenJobs"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the user has passed in a malformed marker or limit value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the template is not found or the user does not\nhave access to the associated template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen_template",
        "tags": [
          "Box Doc Gen templates"
        ]
      }
    },
    "/docgen_batch_jobs/{batch_id}": {
      "get": {
        "operationId": "get_docgen_batch_jobs_id_v2025.0",
        "summary": "Get Box Doc Gen jobs by batch ID",
        "description": "Lists Box Doc Gen jobs in a batch.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "Box Doc Gen batch ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Box Doc Gen jobs in a Box Doc Gen batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenJobs"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the user has passed in a malformed marker or limit value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the batch is not found or the user does not\nhave access to the associated batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen",
        "tags": [
          "Box Doc Gen"
        ]
      }
    },
    "/docgen_batches": {
      "post": {
        "operationId": "post_docgen_batches_v2025.0",
        "summary": "Generate document using Box Doc Gen template",
        "description": "Generates a document using a Box Doc Gen template.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocGenBatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created Batch ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenBatch--Base"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content or resource requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected condition was encountered on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "docgen",
        "tags": [
          "Box Doc Gen"
        ]
      }
    },
    "/hubs": {
      "get": {
        "operationId": "get_hubs_v2025.0",
        "summary": "List all hubs",
        "description": "Retrieves all hubs for requesting user.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The query string to search for hubs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Box"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of the hubs to retrieve. Possible values include `editable`,\n`view_only`, and `all`. Default is `all`.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort results by. \nPossible values include `name`, `updated_at`,\n`last_accessed_at`, `view_count`, and `relevance`.\nDefault is `relevance`.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "relevance"
            },
            "example": "name"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction to sort results in. This can be either in alphabetical ascending\n(`ASC`) or descending (`DESC`) order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all hubs for the given user or enterprise.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubs"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      },
      "post": {
        "operationId": "post_hubs_v2025.0",
        "summary": "Create hub",
        "description": "Creates a new Hub.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new Hub object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "400": {
            "description": "Returned if any of the request parameters are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error when the user does not have the\nright permissions to create a Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      }
    },
    "/enterprise_hubs": {
      "get": {
        "operationId": "get_enterprise_hubs_v2025.0",
        "summary": "List all hubs for requesting enterprise",
        "description": "Retrieves all hubs for a given enterprise.\n\nAdmins or Hub Co-admins of an enterprise\nwith GCM scope can make this call.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The query string to search for hubs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Box"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort results by.\nPossible values include `name`, `updated_at`,\n`last_accessed_at`, `view_count`, and `relevance`.\nDefault is `relevance`.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "relevance"
            },
            "example": "name"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction to sort results in. This can be either in alphabetical ascending\n(`ASC`) or descending (`DESC`) order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all hubs for the given user or enterprise.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubs"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      }
    },
    "/hubs/{hub_id}": {
      "get": {
        "operationId": "get_hubs_id_v2025.0",
        "summary": "Get hub information by ID",
        "description": "Retrieves details for a hub by its ID.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a hub object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the hub is not found, or the user does not\nhave access to the hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      },
      "put": {
        "operationId": "put_hubs_id_v2025.0",
        "summary": "Update hub information by ID",
        "description": "Updates a Hub. Can be used to change title, description, or Hub settings.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a Hub object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the Hub is not found, or the user does not\nhave access to the Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      },
      "delete": {
        "operationId": "delete_hubs_id_v2025.0",
        "summary": "Delete hub",
        "description": "Deletes a single hub.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "A blank response is returned if the hub was\nsuccessfully deleted."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the hub is not found or has already been deleted, or the user\ndoes not have access to the hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      }
    },
    "/hubs/{hub_id}/copy": {
      "post": {
        "operationId": "post_hubs_id_copy_v2025.0",
        "summary": "Copy hub",
        "description": "Creates a copy of a Hub.\n\nThe original Hub will not be modified.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubCopyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new Hub object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error when the user does not have the\nright permissions to create a Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hubs",
        "tags": [
          "Hubs"
        ]
      }
    },
    "/hub_collaborations": {
      "get": {
        "operationId": "get_hub_collaborations_v2025.0",
        "summary": "Get hub collaborations",
        "description": "Retrieves all collaborations for a hub.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "query",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the collaborations associated with the specified hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubCollaborations"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the hub is not found, or the user does not\nhave access to the hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_collaborations",
        "tags": [
          "Hub Collaborations"
        ]
      },
      "post": {
        "operationId": "post_hub_collaborations_v2025.0",
        "summary": "Create hub collaboration",
        "description": "Adds a collaboration for a single user or a single group to a hub.\n\nCollaborations can be created using email address, user IDs, or group IDs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubCollaborationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new hub collaboration object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubCollaboration"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error when the user does not have the\nright permissions to create the collaboration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_collaborations",
        "tags": [
          "Hub Collaborations"
        ]
      }
    },
    "/hub_collaborations/{hub_collaboration_id}": {
      "get": {
        "operationId": "get_hub_collaborations_id_v2025.0",
        "summary": "Get hub collaboration by collaboration ID",
        "description": "Retrieves details for a hub collaboration by collaboration ID.",
        "parameters": [
          {
            "name": "hub_collaboration_id",
            "in": "path",
            "description": "The ID of the hub collaboration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a hub collaboration object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubCollaboration"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the hub is not found, or the user does not\nhave access to the hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_collaborations",
        "tags": [
          "Hub Collaborations"
        ]
      },
      "put": {
        "operationId": "put_hub_collaborations_id_v2025.0",
        "summary": "Update hub collaboration",
        "description": "Updates a hub collaboration.\nCan be used to change the hub role.",
        "parameters": [
          {
            "name": "hub_collaboration_id",
            "in": "path",
            "description": "The ID of the hub collaboration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubCollaborationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an updated hub collaboration object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubCollaboration"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the authenticated user does not have the right\npermissions to update the collaboration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_collaborations",
        "tags": [
          "Hub Collaborations"
        ]
      },
      "delete": {
        "operationId": "delete_hub_collaborations_id_v2025.0",
        "summary": "Remove hub collaboration",
        "description": "Deletes a single hub collaboration.",
        "parameters": [
          {
            "name": "hub_collaboration_id",
            "in": "path",
            "description": "The ID of the hub collaboration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "A blank response is returned if the hub collaboration was\nsuccessfully deleted."
          },
          "404": {
            "description": "Returns an error if the hub collaboration could not be found,\nor the authenticated user does not have access to the hub collaboration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_collaborations",
        "tags": [
          "Hub Collaborations"
        ]
      }
    },
    "/hub_items": {
      "get": {
        "operationId": "get_hub_items_v2025.0",
        "summary": "Get hub items",
        "description": "Retrieves all items associated with a Hub.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "query",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the items associated with the specified Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubItems"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the Hub is not found, or the user does not\nhave access to the Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_items",
        "tags": [
          "Hub Items"
        ]
      }
    },
    "/hubs/{hub_id}/manage_items": {
      "post": {
        "operationId": "post_hubs_id_manage_items_v2025.0",
        "summary": "Manage hub items",
        "description": "Adds and/or removes Hub items from a Hub.",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "description": "The unique identifier that represent a hub.\n\nThe ID for any hub can be determined\nby visiting this hub in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/hubs/123`\nthe `hub_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubItemsManageRequest"
              }
            }
          }
        },
        "responses": {
          "207": {
            "description": "Retrieves the status of all the operations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubItemsManageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the Hub is not found, or the user does not\nhave access to the Hub.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "hub_items",
        "tags": [
          "Hub Items"
        ]
      }
    },
    "/shield_lists": {
      "get": {
        "operationId": "get_shield_lists_v2025.0",
        "summary": "Get all shield lists in enterprise",
        "description": "Retrieves all shield lists in the enterprise.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of shield list objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShieldLists"
                }
              }
            }
          }
        },
        "x-box-tag": "shield_lists",
        "tags": [
          "Shield lists"
        ]
      },
      "post": {
        "operationId": "post_shield_lists_v2025.0",
        "summary": "Create shield list",
        "description": "Creates a shield list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShieldListsCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the shield list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShieldList"
                }
              }
            }
          },
          "409": {
            "description": "The shield list with this name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "shield_lists",
        "tags": [
          "Shield lists"
        ]
      }
    },
    "/shield_lists/{shield_list_id}": {
      "get": {
        "operationId": "get_shield_lists_id_v2025.0",
        "summary": "Get single shield list by shield list id",
        "description": "Retrieves a single shield list by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          },
          {
            "name": "shield_list_id",
            "in": "path",
            "description": "The unique identifier that represents a shield list.\nThe ID for any Shield List can be determined by the response from the endpoint\nfetching all shield lists for the enterprise.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shield list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShieldList"
                }
              }
            }
          },
          "404": {
            "description": "The shield list was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "shield_lists",
        "tags": [
          "Shield lists"
        ]
      },
      "delete": {
        "operationId": "delete_shield_lists_id_v2025.0",
        "summary": "Delete single shield list by shield list id",
        "description": "Delete a single shield list by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          },
          {
            "name": "shield_list_id",
            "in": "path",
            "description": "The unique identifier that represents a shield list.\nThe ID for any Shield List can be determined by the response from the endpoint\nfetching all shield lists for the enterprise.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
          }
        ],
        "responses": {
          "204": {
            "description": "Shield List correctly removed. No content in response."
          },
          "400": {
            "description": "The shield list is assigned to some rules and cannot be removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "The shield list was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "shield_lists",
        "tags": [
          "Shield lists"
        ]
      },
      "put": {
        "operationId": "put_shield_lists_id_v2025.0",
        "summary": "Update shield list",
        "description": "Updates a shield list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          },
          {
            "name": "shield_list_id",
            "in": "path",
            "description": "The unique identifier that represents a shield list.\nThe ID for any Shield List can be determined by the response from the endpoint\nfetching all shield lists for the enterprise.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "90fb0e17-c332-40ed-b4f9-fa8908fbbb24 "
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShieldListsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the shield list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShieldList"
                }
              }
            }
          },
          "404": {
            "description": "The shield list was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "The shield list with this name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "shield_lists",
        "tags": [
          "Shield lists"
        ]
      }
    },
    "/archives": {
      "get": {
        "operationId": "get_archives_v2025.0",
        "summary": "List archives",
        "description": "Retrieves archives for an enterprise.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of archives in the enterprise.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Archives"
                }
              }
            }
          },
          "400": {
            "description": "Returns an error if some of the parameters are missing or\nnot valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the authenticated user does not have the right\npermissions to list archives.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "archives",
        "tags": [
          "Archives"
        ]
      },
      "post": {
        "operationId": "post_archives_v2025.0",
        "summary": "Create archive",
        "description": "Creates an archive.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name of the archive.",
                    "type": "string",
                    "example": "Some Archive"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new archive object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Archive"
                }
              }
            }
          },
          "400": {
            "description": "Returns an error if some of the parameters are missing or\nnot valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the authenticated user does not have the right\npermissions to create an archive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "409": {
            "description": "Returns an error if an archive with the given name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "archives",
        "tags": [
          "Archives"
        ]
      }
    },
    "/archives/{archive_id}": {
      "delete": {
        "operationId": "delete_archives_id_v2025.0",
        "summary": "Delete archive",
        "description": "Permanently deletes an archive.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          },
          {
            "name": "archive_id",
            "in": "path",
            "description": "The ID of the archive.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "982312"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the archive has been deleted."
          },
          "400": {
            "description": "Returns an error if the archive is not empty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "403": {
            "description": "Returns an error if the user does not have the right\npermissions to delete the archive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the archive is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "archives",
        "tags": [
          "Archives"
        ]
      }
    },
    "/external_users/submit_delete_job": {
      "post": {
        "operationId": "post_external_users_submit_delete_job_v2025.0",
        "summary": "Submit job to delete external users",
        "description": "Delete external users from current user enterprise. This will remove each\nexternal user from all invited collaborations within the current enterprise.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BoxVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalUsersSubmitDeleteJobRequest"
              }
            }
          }
        },
        "responses": {
          "207": {
            "description": "Multi-status response containing the result for each external user deletion request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalUsersSubmitDeleteJobResponse"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the listed external users are not found, or the authenticated\nuser does not have the right permissions to delete external users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "external_users",
        "tags": [
          "External Users"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "BoxVersionHeader": {
        "name": "box-version",
        "in": "header",
        "description": "Version header.",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "2025.0"
          ]
        },
        "example": "2025.0"
      }
    },
    "schemas": {
      "Archive": {
        "description": "An archive is a folder dedicated to storing content that is\nredundant, outdated, or trivial. Content in an archive is not accessible to its\nowner and collaborators.\nTo use this feature, you must request GCM scope for your Box application.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier that represents an archive.",
            "type": "string",
            "example": "12345",
            "nullable": false
          },
          "type": {
            "description": "The value will always be `archive`.",
            "type": "string",
            "example": "archive",
            "enum": [
              "archive"
            ],
            "nullable": false
          },
          "name": {
            "description": "The name of the archive.\n\nThe following restrictions to the archive name apply: names containing\nnon-printable ASCII characters, forward and backward slashes\n(`/`, `\\`), names with trailing spaces, and names `.` and `..` are\nnot allowed.",
            "type": "string",
            "example": "Archive",
            "maxLength": 100,
            "minLength": 1,
            "nullable": false
          },
          "size": {
            "description": "The size of the archive in bytes.",
            "type": "integer",
            "format": "int64",
            "example": 123456789,
            "nullable": false
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "size"
        ],
        "title": "Archive",
        "x-box-resource-id": "archive_v2025.0",
        "x-box-tag": "archives"
      },
      "Archives": {
        "description": "A list of archives.",
        "type": "object",
        "allOf": [
          {
            "properties": {
              "entries": {
                "description": "A list in which each entry represents an archive object.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Archive"
                }
              }
            }
          },
          {
            "type": "object",
            "description": "The part of an API response that describes marker\nbased pagination.",
            "properties": {
              "limit": {
                "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
                "type": "integer",
                "format": "int64",
                "example": 1000
              },
              "next_marker": {
                "description": "The marker for the start of the next page of results.",
                "type": "string",
                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                "nullable": true
              }
            }
          }
        ],
        "title": "Archives",
        "x-box-resource-id": "archives_v2025.0",
        "x-box-tag": "archives"
      },
      "ClientError": {
        "description": "A generic error.",
        "type": "object",
        "properties": {
          "type": {
            "description": "The value will always be `error`.",
            "type": "string",
            "example": "error",
            "enum": [
              "error"
            ],
            "nullable": false
          },
          "status": {
            "description": "The HTTP status of the response.",
            "type": "integer",
            "format": "int32",
            "example": 400,
            "nullable": false
          },
          "code": {
            "description": "A Box-specific error code.",
            "type": "string",
            "example": "item_name_invalid",
            "enum": [
              "created",
              "accepted",
              "no_content",
              "redirect",
              "not_modified",
              "bad_request",
              "unauthorized",
              "forbidden",
              "not_found",
              "method_not_allowed",
              "conflict",
              "precondition_failed",
              "too_many_requests",
              "internal_server_error",
              "unavailable",
              "item_name_invalid",
              "insufficient_scope"
            ]
          },
          "message": {
            "description": "A short message describing the error.",
            "type": "string",
            "example": "Method Not Allowed",
            "nullable": false
          },
          "context_info": {
            "description": "A free-form object that contains additional context\nabout the error. The possible fields are defined on\na per-endpoint basis. `message` is only one example.",
            "type": "object",
            "example": {
              "message": "Something went wrong"
            },
            "additionalProperties": {},
            "nullable": true
          },
          "help_url": {
            "description": "A URL that links to more information about why this error occurred.",
            "type": "string",
            "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
            "nullable": false
          },
          "request_id": {
            "description": "A unique identifier for this response, which can be used\nwhen contacting Box support.",
            "type": "string",
            "example": "abcdef123456",
            "nullable": false
          }
        },
        "title": "Client error",
        "x-box-resource-id": "client_error_v2025.0"
      },
      "DocGenBatch--Base": {
        "description": "The basic representation of a Box Doc Gen batch object. A Box Doc Gen batch contains one or more Box Doc Gen jobs.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier that represents a Box Doc Gen batch.",
            "type": "string",
            "example": "12345",
            "nullable": false
          },
          "type": {
            "description": "The value will always be `docgen_batch`.",
            "type": "string",
            "example": "docgen_batch",
            "enum": [
              "docgen_batch"
            ],
            "nullable": false
          }
        },
        "required": [
          "id",
          "type"
        ],
        "title": "Box Doc Gen batch (Base)",
        "x-box-resource-id": "docgen_batch_v2025.0--base",
        "x-box-tag": "docgen",
        "x-box-variant": "base",
        "x-box-variants": [
          "base"
        ]
      },
      "DocGenBatchCreateRequest": {
        "description": "The schema for creating a Box Doc Gen job batch request.",
        "type": "object",
        "properties": {
          "file": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FileReference"
              },
              {
                "description": "A Box Doc Gen template that is used to generate the document."
              }
            ]
          },
          "file_version": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FileVersion--Base"
              },
              {
                "description": "File version of a template."
              }
            ]
          },
          "input_source": {
            "description": "Source of input. The value has to be `api` for all the API-based document generation requests.",
            "type": "string",
            "example": "api"
          },
          "destination_folder": {
            "allOf": [
              {
                "title": "Folder reference",
                "type": "object",
                "description": "Folder reference.",
                "required": [
                  "type",
                  "id"
                ],
                "properties": {
                  "type": {
                    "description": "The value will always be `folder`.",
                    "type": "string",
                    "example": "folder",
                    "enum": [
                      "folder"
                    ],
                    "nullable": false
                  },
                  "id": {
                    "description": "ID of the folder.",
                    "type": "string",
                    "example": "42037322"
                  }
                }
              },
              {
                "description": "Destination folder for the generated files."
              }
            ]
          },
          "output_type": {
            "description": "Type of the output file.",
            "type": "string",
            "example": "docx"
          },
          "document_generation_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocGenDocumentGenerationData"
            }
          }
        },
        "required": [
          "file",
          "input_source",
          "destination_folder",
          "output_type",
          "document_generation_data"
        ],
        "title": "Create batch request"
      },
      "DocGenDocumentGenerationData": {
        "description": "The schema for for creating a Box Doc Gen job request.",
        "type": "object",
        "properties": {
          "generated_file_name": {
            "description": "File name of the output file.",
            "type": "string",
            "example": "New_Template"
          },
          "user_input": {
            "type": "object",
            "example": {
              "name": "Aaron Levie"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "generated_file_name",
          "user_input"
        ],
        "title": "Document generation data"
      },
      "DocGenJob": {
        "description": "A standard representation of a Box Doc Gen job.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DocGenJob--Base"
          },
          {
            "properties": {
              "batch": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocGenBatch--Base"
                  },
                  {
                    "description": "Box Doc Gen batch that the job belongs to."
                  }
                ]
              },
              "template_file": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileReference"
                  },
                  {
                    "description": "Box Doc Gen template used in the job."
                  }
                ]
              },
              "template_file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Base"
                  },
                  {
                    "description": "File version of a template."
                  }
                ]
              },
              "output_file": {
                "allOf": [
                  {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/FileReference"
                      },
                      {
                        "title": "OpenAPI 3.0 null schema type",
                        "description": "The definition for a null schema type in OpenAPI `3.0`.",
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": false
                      }
                    ]
                  },
                  {
                    "description": "The output file of the job. This property is `null` until the job is completed."
                  }
                ]
              },
              "output_file_version": {
                "allOf": [
                  {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/FileVersion--Base"
                      },
                      {
                        "title": "OpenAPI 3.0 null schema type",
                        "description": "The definition for a null schema type in OpenAPI `3.0`.",
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": false
                      }
                    ]
                  },
                  {
                    "description": "File version of the output file. This property is `null` until the job is completed."
                  }
                ]
              },
              "status": {
                "description": "Status of the job.",
                "type": "string",
                "example": "completed",
                "enum": [
                  "submitted",
                  "completed",
                  "failed",
                  "completed_with_error",
                  "pending"
                ]
              },
              "output_type": {
                "description": "Type of the generated file.",
                "type": "string",
                "example": "docx"
              }
            }
          }
        ],
        "required": [
          "id",
          "batch",
          "template_file",
          "template_file_version",
          "status",
          "output_type"
        ],
        "title": "Box Doc Gen job",
        "x-box-resource-id": "docgen_job_v2025.0",
        "x-box-tag": "docgen",
        "x-box-variant": "standard",
        "x-box-variants": [
          "base",
          "standard",
          "full"
        ]
      },
      "DocGenJob--Base": {
        "description": "The basic representation of a Box Doc Gen job.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier that represent a Box Doc Gen job.",
            "type": "string",
            "example": "12345",
            "nullable": false
          },
          "type": {
            "description": "The value will always be `docgen_job`.",
            "type": "string",
            "example": "docgen_job",
            "enum": [
              "docgen_job"
            ],
            "nullable": false
          }
        },
        "required": [
          "id",
          "type"
        ],
        "title": "Box Doc Gen job (Base)",
        "x-box-resource-id": "docgen_job_v2025.0--base",
        "x-box-tag": "docgen",
        "x-box-variant": "base",
        "x-box-variants": [
          "base",
          "standard",
          "full"
        ]
      },
      "DocGenJob--Full": {
        "description": "A full representation of a Box Doc Gen job.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DocGenJob"
          },
          {
            "properties": {
              "created_at": {
                "description": "Time of job creation.",
                "type": "string",
                "example": "2022-05-11T10:56:11-07:00",
                "readOnly": true
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Base"
                  },
                  {
                    "description": "User who created the job."
                  }
                ]
              },
              "enterprise": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EnterpriseReference"
                  },
                  {
                    "description": "ID of the enterprise."
                  }
                ]
              },
              "source": {
                "description": "Source of the request.",
                "type": "string",
                "example": "api",
                "readOnly": true
              }
            }
          }
        ],
        "required": [
          "id",
          "batch",
          "created_by",
          "enterprise",
          "template_file",
          "template_file_version",
          "output_type",
          "source",
          "status"
        ],
        "title": "Box Doc Gen job (Full)",
        "x-box-resource-id": "docgen_job_v2025.0--full",
        "x-box-tag": "docgen",
        "x-box-variant": "full",
        "x-box-variants": [
          "base",
          "standard",
          "full"
        ]
      },
      "DocGenJobs": {
        "description": "A list of Box Doc Gen jobs with a standard set of parameters.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "description": "The part of an API response that describes marker\nbased pagination.",
            "properties": {
              "limit": {
                "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
                "type": "integer",
                "format": "int64",
                "example": 1000
              },
              "next_marker": {
                "description": "The marker for the start of the next page of results.",
                "type": "string",
                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                "nullable": true
              },
              "prev_marker": {
                "description": "The marker for the start of the previous page of results.",
                "type": "string",
                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                "nullable": true
              }
            }
          },
          {
            "properties": {
              "entries": {
                "description": "List of jobs.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocGenJob"
                }
              }
            }
          }
        ],
        "title": "Box Doc Gen jobs",
        "x-box-resource-id": "docgen_jobs_v2025.0",
        "x-box-tag": "docgen",
        "x-box-variant": "base",
        "x-box-variants": [
          "standard",
          "full"
        ]
      },
      "DocGenJobs--Full": {
        "description": "A list of Box Doc Gen jobs with a full set of parameters.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "description": "The part of an API response that describes marker\nbased pagination.",
            "properties": {
              "limit": {
[...]
