{
  "openapi": "3.0.0",
  "info": {
    "title": "Auth",
    "description": "The auth endpoints provide authentication and authorization functionality for the v2.0 Box APIs.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box Developer Relations",
      "url": "https://community.box.com/t5/Platform-and-Development-Forum/bd-p/DeveloperForum",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://account.box.com/api/oauth2" 
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "response_type",
            "description": "Response type",
            "required": true,
            "schema": {
              "enum": [
                "code"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "Redirect URI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "State",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "description": "Scope",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opens up the login page for authentication. Upon successful authentication process, it will be redirected to <MY_REDIRECT_URI>?code=<MY_AUTHORIZATION_CODE>"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "auth"
        ],
        "externalDocs": {
          "url": "https://docs.box.com/reference#authorize"
        },
        "description": "The host for this api is account.box.com. This is the URL of the Box login endpoint. To begin the process of authenticating and authorizing an application to work with the Box APIs.",
        "operationId": "authorize",
        "summary": "Authorize"
      }
    }
  },
  "components": {
    "schemas": {
      "OAuthError": {
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "error_uri": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "auth",
      "description": "Authentication and authorization operations",
      "externalDocs": {
        "description": "Auth reference documentation",
        "url": "https://developers.box.com/reference#authorize"
      }
    }
  ]
}
