{
  "swagger": "2.0",
  "info": {
    "title": "Box 2.0 OAuth2 Token API",
    "description": "The Box Token API provides methods to retrieve an access token and revoke an access token. An access token is a data string that enables Box to verify that a request belongs to an authorized session. In the normal order of operations you will being by requesting authentication from the Box.",
    "version": "2.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "api.box.com",
  "basePath": "/oauth2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "definitions": {
    "OAuthError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "error_description": {
          "type": "string"
        },
        "error_uri": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      }
    },
    "Reference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "folder",
            "file",
            "user",
            "file_version",
            "lock",
            "collaboration",
            "comment",
            "task",
            "web_link",
            "collection",
            "task_assignment",
            "event",
            "realtime_server",
            "webhook_event",
            "webhook",
            "enterprise",
            "invite",
            "email_alias",
            "group",
            "group_membership",
            "device_pinner",
            "retention_policy",
            "retention_policy_assignment",
            "file_version_retention",
            "legal_hold_policy",
            "legal_hold_policy_assignment",
            "legal_hold"
          ]
        }
      }
    },
    "ItemReference": {
      "type": "object",
      "description": "It references either a file or a folder",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "sequence_id": {
              "type": "string",
              "description": "A unique ID for use with the /events endpoint.\nMay be null for some folders such as root or trash."
            },
            "etag": {
              "type": "string",
              "description": "A unique string identifying the version of this folder.\nMay be null for some folders such as root or trash."
            },
            "name": {
              "type": "string",
              "description": "The name of the folder."
            }
          }
        }
      ]
    },
    "FileReference": {
      "type": "object",
        "description": "It references either a file or a folder",
        "allOf": [
          {
            "$ref": "#/definitions/ItemReference"
          },
          {
            "properties": {
              "sha1": {
                "type": "string",
                "description": "The sha1 hash of this file."
              }
            }
          }
        ]
    },
    "RestrictedTo": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string"
        },
        "object": {
          "$ref": "#/definitions/FileReference"
        }
      }
    },
    "AccessToken": {
      "title": "Access token response",
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int64"
        },
        "token_type": {
          "type": "string",
          "enum" : [
            "bearer"
          ]
        },
        "restricted_to": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestrictedTo"
          }
        },
        "refresh_token": {
          "type": "string"
        },
        "issued_token_type": {
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "AccessToken"
        ],
        "operationId": "generateAccessToken",
        "summary": "Generate Access token",
        "description": "This is the URL of the Box token endpoint, the endpoint that returns access tokens. An access token is a data string that enables Box to verify that a request belongs to an authorized session.",
        "externalDocs": {
          "url": "https://docs.box.com/reference#token"
        },
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "formData",
            "type": "string",
            "description": "The authorization code returned by Box in response to a successfull authentication request."
          },
          {
            "name": "client_id",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The client ID of the application requesting authentication."
          },
          {
            "name": "client_secret",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The client secret of the application requesting authentication."
          },
          {
            "name": "refresh_token",
            "in": "formData",
            "type": "string",
            "description": "The refresh_token that is used to get the new access_token"
          },
          {
            "name": "subject_token",
            "in": "formData",
            "type": "string",
            "description": "This is the primary/secondary application token you will exchange for the file token."
          },
          {
            "name": "subject_token_type",
            "in": "formData",
            "type": "string",
            "description": "The subject token type is urn:ietf:params:oauth:token-type:access_token"
          },
          {
            "name": "resource",
            "in": "formData",
            "type": "string",
            "description": "Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}"
          },
          {
            "name": "actor_token",
            "in": "formData",
            "type": "string",
            "description": "Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}"
          },
          {
            "name": "actor_token_type",
            "in": "formData",
            "type": "string",
            "description": "Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}",
            "enum": [
              "urn:ietf:params:oauth:token-type:id_token"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A new access token is returned.",
            "schema": {
              "$ref": "#/definitions/AccessToken"
            }
          },
          "default": {
            "description": "Access token generation error",
            "schema": {
              "$ref": "#/definitions/OAuthError"
            }
          }
        }
      }
    },
    "/revoke": {
      "post": {
        "tags": [
          "AccessToken"
        ],
        "operationId": "revokeToken",
        "summary": "Revoke token",
        "description": "This is the URL of the Box revoke endpoint, the endpoint that revokes access tokens, or to put it another way, the endpoint that ends sessions, logging users out.",
        "externalDocs": {
          "url": "https://docs.box.com/reference#revoke"
        },
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The client ID of the application requesting authentication."
          },
          {
            "name": "client_secret",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The client secret of the application requesting authentication."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoken token is successful"
          },
          "default": {
            "description": "Revoke token error",
            "schema": {
              "$ref": "#/definitions/OAuthError"
            }
          }
        }
      }
    }
  }
}
