# The name of this GH action
name: Notify

# Defines when this action should be run
on:
  # Run on any Push
  push:
    branches:
      - jp

jobs:
  # A task that notifies Netlify of changes to the jp branch
  notify-from-jp:
    # We run this on the latest ubuntu
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - name: Check out the jp branch
        uses: actions/checkout@v4
        with:
          ref: jp
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out scripts from main branch
        uses: actions/checkout@v4
        with:
          ref: main
          sparse-checkout: |
            .github/scripts
          sparse-checkout-cone-mode: false
          path: main-scripts
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install script dependencies
        working-directory: main-scripts/.github/scripts
        run: npm install

      - name: Run link replacement script
        working-directory: main-scripts/.github/scripts
        run: npm run replace-links -- "../../../" "openapi.*\.json" "https://developer.box.com" "https://ja.developer.box.com"

      - name: Push processed files to jp-ntl branch
        uses: s0/git-publish-subdir-action@v2.6.0
        env:
          REPO: self
          BRANCH: jp-ntl
          FOLDER: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Replace developer.box.com links with ja.developer.box.com"

      - name: "Trigger Netlify deployment"
        uses: joelwmale/webhook-action@2.0.2
        env:
          WEBHOOK_URL: ${{ secrets.NETLIFY_BOXDEV_JP_WEBHOOK }}
          data: "{}"

      - name: Notify other repositories of update
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: box/box-postman
          event-type: openapi-update
          client-payload: "{}"

      - name: Send Slack notification
        uses: Ilshidur/action-slack@2.0.2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: GitHub Actions
          SLACK_AVATAR: "https://avatars3.githubusercontent.com/u/8659759?s=200&v=4"
        with:
          args: "New changes received on `jp` branch :rocket:"

      - name: Send Slack notification
        uses: Ilshidur/action-slack@2.0.2
        if: ${{ failure() }}
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: GitHub Actions
          SLACK_AVATAR: "https://avatars3.githubusercontent.com/u/8659759?s=200&v=4"
        with:
          args: "Error notifying for `jp` job in OpenAPI CI"
